[2019-07-25 12:48] robzor92 commented on #360
@sunway513 I tried it now with ROCm 2.6 and tensorflow-rocm 1.14 and the fallback works correctly.

[2019-07-25 14:42] sunway513 commented on #360
Thank you @robzor92 to confirm the fix :-)

[2019-07-26 09:41] XuanBaby opened #581 "build tf-1.14-rocm-centos failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):centos7.4
- Mobile device (e.g.

[2019-07-26 10:22] XuanBaby commented on #581
there is another error
./tensorflow/core/kernels/mirror_pad_op_cpu_impl.h:31:1:   required from here
./tensorflow/core/kernels/mirror_pad_op.h:180:19: warning: ignoring attributes on template argument 'Eigen::PacketType<double, Eigen::ThreadPoolDevice>::type {aka __vector(2) double}' [-Wignored-at
tributes]ERROR: /home/xuanbaby/tensorflow-upstream-r1.14-rocm-centos/tensorflow/core/kernels/BUILD:41

[2019-07-26 12:17] XuanBaby commented on #581
INFO: From Compiling tensorflow/core/grappler/optimizers/model_pruner.cc [for host]:
In file included from ./tensorflow/core/grappler/graph_view.h:29:0,
                 from ./tensorflow/core/grappler/mutable_graph_view.h:29,
                 from tensorflow/core/grappler/optimizers/model_pruner.cc:29:
./tensorflow/core/grappler/utils.h: In function 'int tensorflow::grappler::NodePositionIfSameNo

[2019-07-28 18:44] thusinh1969 commented on #354
Can't make ROCm/Tensorflow 1.13.1 running with virtualenv with python 3.6.8. Keep pumping python_wrapper error. It works fine without virtualenv though, and **fast** !

Steve

[2019-07-29 23:35] sunway513 commented on #581
Hi @XuanBaby , the branch `tf1.14-rocm-centos` is work-in-progress, we're awaiting the upstream tensorflow CSB move to TF1.14:
https://tensorflow.pypi.thoth-station.ninja/index/
Currently, the upstream TF Redhat CSB support is limited to TF1.13.1.

[2019-07-29 23:36] #581 closed

[2019-07-30 01:48] XuanBaby commented on #581
Hi  @sunway513  Thank you for your response, solve my problem. But, the some function which in TF1.14 , I want to use and test, could you tell me when the upstream TF Redhat CSB support TF1.14?

[2019-07-30 02:35] sunway513 commented on #581
Hi @XuanBaby , if docker can be an option to you, please use the latest public TF docker container below:
https://hub.docker.com/r/rocm/tensorflow/
Those Ubuntu-based docker containers can execute on CentOS kernels with rock-dkms kernel driver.

[2019-07-31 07:53] wormwang commented on #506
I build tensorflow and HIP with debuginfo. I got more detail stackstace ,but, I can not find out which parameters is error.

(gdb) bt
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:51
#1  0x0000ffffbf40d8b4 in __GI_abort () at abort.c:79
#2  0x0000ffff453e10c4 in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib/aarch64-linux-gnu/libstdc++.so.6
#3  0x0000ffff453dec3

[2019-07-31 13:23] whchung commented on #506
I’d like to ask you to add additional traces or use debugger to understand which C++ exception was raised inside hip_impl::make_kernarg so we know the next step.

[2019-08-01 15:02] dagamayank opened #586 "Add multi-stream support for XLA."
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using):
- Are you willing to contribute it (Yes/No):

**Describe t

[2019-08-01 15:03] dagamayank opened #587 "Add MIOpen Dropout support."
Depends on: https://github.com/AMDComputeLibraries/MLOpen/pull/1913

[2019-08-01 15:09] whchung commented on #586
We'll likely need some additional changes in XLA for this, especially wrt tighter integration with `rocBLAS`.

I did some initial study yesterday and it seems we need to plug this HLO opt pass into `amdgpu_compiler` HLO opt pipeline:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/compiler/xla/service/gpu/gemm_rewriter.cc

The rewriter opt pass itself

[2019-08-01 18:33] kk325ic opened #588 "MaxPooling3D problem: miopen requires pooling dimensions be 2."
**Describe the current behavior**

Running a simple 3D CNN on a toy example, I get the following running error: 2019-08-01 14:17:00.451253: F tensorflow/stream_executor/rocm/rocm_dnn.cc:759] miopen requires pooling dimensions be 2.

- Have I written custom code in keras:

x = Conv3D(16, (2, 2, 2), activation='relu', padding='same')(inputs)
x = MaxPooling3D((2, 2, 2), padding='same')(x)
x = Dropout

[2019-08-03 19:46] aristeidist opened #593 "Centos 7.6 Radeon VII - X470 - Ryzen 2600x - Latest Tensorflow Build"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- Centos 7.6
- Downloaded Tensorflow.org
- TensorFlow version: hopefully 2.0.0b1
- Python

[2019-08-04 21:01] twuebi commented on #534
@micmelesse I didn't have much time for bug chasing in the last weeks. Did you make any progress?

[2019-08-04 21:03] twuebi commented on #325
I understand you said no ETA for the fix but did you make any progress? Soon this issue will be 6 months old.

[2019-08-05 06:10] aristeidist commented on #593
Some updates.

I was able to get past some issues and start the build - Some due to my lack of understanding of numerous items.

First off, the WORKSPACE needs updating (after the first line) with this :

[code]

Taken from here: [](https://github.com/bazelbuild/rules_docker)

Tried building from Tensorflow.org main git.

Also tried building from here I get the same error:

Any Ideas?

[2019-08-05 22:08] minus-one commented on #528
Thank you for providing a fix!
Can confirm the issue and the fix.

But, curious about the root-cause. HSA_ENABLE_SDMA=0 prevents the use of DMA for copy b/w host and device ? [here](https://github.com/RadeonOpenCompute/ROCm_Documentation/blob/master/Programming_Guides/HIP_Debugging.rst)
So is the issue with the hardware ?

[2019-08-05 22:29] hbfs commented on #528
In our case it meant the hardware (CPU: Sandy Bridge-E) lacked PCIe atomic support.

see: https://rocm.github.io/hardware.html

[2019-08-05 22:43] #424 closed

[2019-08-05 22:46] sunway513 commented on #593
Hi @aristeidist , can you refer to the following comment wrt TF-ROCm support for CentOS?
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/522#issuecomment-506886220

[2019-08-05 22:46] #593 closed

[2019-08-06 16:21] micmelesse commented on #534
@twuebi No, I was unable to reproduce the memfault for a second time. You can try running the code after setting `export HIP_TRACE_API=2` to see what kernel memfaults and see if the same kernel memfaults everytime when you do it again.

[2019-08-06 19:02] jerryyin commented on #587
## Feature spec: Adding MIOpen dropout support to Tensroflow
### Description:
The current implementation of `droput` in tensorflow is implemented in python only. This results in degraded performance when `dropout` is used frequently. As a solution MIOpen added dropout interface that does dropout operation in dedicated kernel, this help reduce memory footprint and improve performance. The implement

[2019-08-06 19:06] sunway513 commented on #587
@jerryyin let's also add performance regression check as part of the acceptance criteria.

[2019-08-06 19:08] jerryyin commented on #587
@sunway513 Done, thanks!

[2019-08-06 19:09] sunway513 commented on #588
@jerryyin , can you take a look at this issue?
@kk325ic , it would be helpful if you can provide the steps/scripts to reproduce your issue.

[2019-08-06 19:19] jerryyin commented on #588
@sunway513 We don't support `3d pooling` for now, and only support `3d convolution`. I don't know what `miopen` plan is on implementing `3d pooling`. The complaint on pooling dimension is right.

[2019-08-06 19:35] sunway513 commented on #588
@daniellowell , can you update on the MIOpen plan for `3d pooling`?

[2019-08-07 04:19] aristeidist commented on #173
Hello, here are my results with:

AMD Ryzen **2600x** | X470 | **2x Radeon VII** | 16GB @3200
Ubuntu - **ROCm 2.6** ----- TensorFlow=**2.0.0b1**

[code]

[2019-08-11 02:29] vegabook commented on #558
This does not work for me, causing a segmentation fault.

[2019-08-11 02:37] vegabook opened #599 "Doesn't work on Ubuntu 19.04 Disco anymore, but it did before......"
Upgraded to rocm 2.6:

[code]

Everything fine with Rocm:
[code]
Including my Radeon VII:

[code]

So was on 1.13 tensorflow-rocm and decided to upgrade to 1.14.

Pip installed tensorflow-rocm as per instructions. Then got the expected librccl.so error tracked here:

https://stackoverflow.com/questions/57042429/deep-learning-with-python-using-tensorflow-and-keras-on-amd-gpu-with-rocm-gives

But wh

[2019-08-11 12:21] XuanBaby opened #600 "ROCM2.5 build tensorlfow failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):CentOS Linux release 7.4.1708 (

[2019-08-14 11:30] liamnr2 commented on #519
Still a problem with ROCm 2.6.

As an observation, setting MIOPEN_DEBUG_GCN_ASM_KERNELS=0 improves the results - there is still jitter, but far less so. With EfficientNet-B7 it's minimal, but still there.

EfficientNet-B0, MIOPEN_DEBUG_GCN_ASM_KERNELS=1:
[code]

EfficientNet-B0, MIOPEN_DEBUG_GCN_ASM_KERNELS=0:
[code]
EfficientNet-B7, MIOPEN_DEBUG_GCN_ASM_KERNELS=1:
[code]

EfficientNet-B7, MIOPEN_

[2019-08-15 04:31] vnikiti commented on #558
I get the following error after installing `rccl`
[code]

[2019-08-15 23:34] witeko opened #602 "Convergence problems with vega7 and tensorflow 1.14/2.0"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2019-08-16 04:46] kk325ic commented on #588
@jerryyin Could you please elaborate your suggested GPU work around? My understanding is that you suggested to reshape the 3D image to 2D, then 2D pooling on it. It seems your suggestion missing the pooling on the first dimension.

Let us say that I have a 3D images of shape (nZ, nX, nY, channels). After flatten to 2D image, I get (nBatch, nX * nZ, nY, channels).  2D pooling will make the shape to

[2019-08-16 04:51] kk325ic commented on #588
@jerryin , your suggestion of 2D pooling workaround sounds interesting. Let us say that I have the image shape of (nx, ny, nz, channel), then it can reshaped to (ny*nx, nz, channel). Are you suggested to run pooling2D on it?

If so, it seems need a 1D pooling to make it equivalent to 3D pooling.

[2019-08-16 09:58] sebpuetz commented on #325
@dagamayank @whchung you said there is no ETA, but considering this bug was reported **6 months ago**, it seems reasonable to think that there might never be a fix.

AMD's flagship consumer card (judging by @thegatsbylofiexperience's ignored post also older boards) running into random memory bugs on ROCm tensorflow (this and #534) puts some question marks behind the viability and reliability of ei

[2019-08-16 11:16] witeko commented on #602
OK, so I pinpointed the bug a little bit, it only occurs when using "features.trainable=False" where feauters=Densenet121. When "features.trainable=True" validation results seem to be correct.
Do You think it's a rocm-related bug or pure tensorflow's?

[2019-08-16 14:15] dagamayank commented on #325
@sebpuetz This is under investigation. The triaging so far points to some issues in the lower level of the stack and not per se the TensorFlow implementation itself.

An update will be provided here when we know more.

[2019-08-16 15:22] jerryyin commented on #588
@kk325ic On a second thought, I think doing 2D pooling on each axis is a mistake. Because each pooling on the single axis is only picking local results in the single dimension. Whereas 3D pooling works on "global" 3 dimensions. The correct way to do is instead is to concatenate from (x, y, z, channel) to (xyz, channel), then apply 1D pooling on size of y*z (Any other size will make pooling based o

[2019-08-16 18:14] sunway513 commented on #602
Hi @witeko , can you first try the following two docker containers?
Those would confirm if the issue you are observing is related to ROCm regressions or not:
Docker container 1:
rocm/tensorflow-autobuilds:rocm2.6-596cf5d
Docker container 2:
rocm/tensorflow-autobuilds:rocm2.7-0ac93cf

[2019-08-16 18:39] thejinx0r opened #604 "Crash when performing inference"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I suppose. I'm using a software package that uses tensorflow-gpu under the hood, but I manually installed tensorflow-rocm in to their environment.

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Ubuntu 18.04

- TensorFlow installed from (source or binary): from pypi

[2019-08-16 20:59] kk325ic commented on #588
Yes, you were right. The GPU work around need to be  reshape to 1D image and reshape back after Pooling1D.
Is switching between CPU implementation and GPU fast enough? Any suggestion on how to switch MaxPooling3D to CPU?

[2019-08-16 21:18] jerryyin commented on #588
@kk325ic Try `with tf.device` to create a device context for GPU. Details refer to [here](https://www.tensorflow.org/guide/using_gpu).

[2019-08-16 21:42] witeko commented on #602
@sunway513 I can 100% confirm that the problem exists on both rocm versions (I encountered it before even upgrade to 2.7 was available) - I just didnt know that the numbers were wrong... maybe it's a pure tensorflow bug? Later on I can check on pure cpu-tensorflow.

[2019-08-16 21:46] witeko commented on #602
@sunway513 excluding the bug, my experience with tf-rocm2.0 is much better comparing to 1.13. It works much faster and I'm able to use bigger batches (before I go oom).

[2019-08-16 21:50] witeko commented on #602
![tensorbug](https://user-images.githubusercontent.com/34566457/63200184-99c9d900-c080-11e9-8ca8-44f2aa058c51.png)

[2019-08-16 23:13] sunway513 commented on #600
Hi @XuanBaby , please refer to the following comment to your last issue:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/581#issuecomment-516235480

[2019-08-16 23:13] #600 closed

[2019-08-16 23:14] sunway513 commented on #599
Hi @vegabook , is using docker container an option to you?
ROCm doesn't officially support UB19.04.

[2019-08-16 23:17] sunway513 commented on #604
Hi @thejinx0r , the ROCm packages were generated from UB16.04 host, to your last question - yes, that's okay.
We need exact steps to reproduce your issue locally before we can provide any meaningful suggestions.

[2019-08-17 05:41] vegabook commented on #599
Personally find Docker clunky and inelegant as a solution but of course it is a fallback option.

Look I know it doesn't support 19.04 officially but I guess I was hoping there was an easy fix, since it was working fine with a combination of Tensorflow 1.13 and Rocm 2.4.x on Disco. If not then don't worry and please feel free to close the issue but let's be honest 18.04 is now almost 1.5 years old

[2019-08-17 22:12] witeko commented on #602
@sunway513
also not reshaping input (for validation) images makes the val statistics go crazy.
i prepare my data like this:
def parse_image_function(example_proto):
    image=tf.io.parse_single_example(example_proto, features)
    img=tf.image.decode_png(image['image'], channels=3, dtype=tf.dtypes.uint8)
    s=image['output']

    img=tf.image.resize(img,[512,512]) <--without this line my val_loss

[2019-08-18 01:01] sunway513 commented on #602
Thanks @witeko , have you been able to confirm if this issue is specific to TF-ROCm or generic to TF even with CPU?
If you believe it's a legitimate issue for TF-ROCm, we'd need the exact steps to repro the issue, thanks :-)

[2019-08-19 06:03] materia9 opened #607 "tensorpack FasterRCNN failed with DeadlineExceededError"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): I use tensorpack 0.9.7
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04 (4.15.0-58-generic)
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): via the docker image

[2019-08-19 14:29] thejinx0r commented on #604
I have been using a proprietary software package called Dragonfly by Object Research Systems.
I will try to extract a minimal working example that is independent of their proprietary binaries.

While replying, I thought maybe I should update my gpu drivers, as I'm using the amdgpu-pro drivers (19.30 installed now, I was on 19.10 before). I know it shouldn't make a difference, but just in case.

I

[2019-08-19 15:13] sunway513 commented on #604
Hi @thejinx0r , thanks, a reduced case would be very helpful.
In the meanwhile, we might be able to reduce the failure on MIOpen level. Can you provide the logs with after setting the following environment variable?
[code]
Please note the log would be pretty large, you might want to attach the file instead of just pasting.

[2019-08-19 16:52] sunway513 commented on #607
Hi @materia9 , I was able to reproduce the issue, however, the failure seems a result of the following error message:
[code]
With the above log I don't think tensorpack is compatible with ROCm yet.
Please create your issue on tensorpack repository instead, and let us know if anything we can help with there.

[2019-08-19 16:52] #607 closed

[2019-08-19 17:06] thejinx0r commented on #604
Ok, so as I was trying it, I came across a few different things.

My computer is still crashing. This only happens either during training or inference. Meaning it was able to load MIOpen. I thought it might have been due to lack of power (I have Radeon VII and a GTX 2060 for use in a VM), but after unplugging the GTX, it still crashes.

I copy pasted the output to paste bin:
https://pastebin.com/N

[2019-08-19 17:20] sunway513 commented on #604
@JehandadKhan @daniellowell , can you help review the logs?
It seems like a failure inside MIOpen findalgo.

[2019-08-19 18:58] sunway513 commented on #558
@vnikiti , can you provide the output for the following command:
apt --installed list | grep -E 'hip|hcc|roc|miopen|amdgpu|hsa|rccl'
It would be helpful if you can try our docker container and see if the issue remains:
https://hub.docker.com/r/rocm/tensorflow

[2019-08-19 19:59] daniellowell commented on #604
@thejinx0r You can work around this by setting the environment variable:
`MIOPEN_DEBUG_DISABLE_FIND_DB=1`
Meanwhile we will investigate.

[2019-08-19 21:14] atamazov commented on #604
@thejinx0r please attach your `/home/eric/.config/miopen//gfx906_60.HIP.2_0_1.ufdb.txt`, thanks.

[2019-08-19 21:16] thejinx0r commented on #604
@atamazov
I put my db file on pastebin
https://pastebin.com/zsw1inJX

[2019-08-19 21:20] atamazov commented on #604
Great, thanks! Could you please also attach the _file_ here? It should be easy to do. Drag'n'drop works for me, for example.

[2019-08-19 22:04] thejinx0r commented on #604
[gfx906_60.HIP.2_0_1.ufdb.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/3517856/gfx906_60.HIP.2_0_1.ufdb.txt)

@atamazov  Great! I was looking for an icon to drop files!

[2019-08-19 22:25] thejinx0r commented on #604
@daniellowell
I still have the same issue after setting
`MIOPEN_DEBUG_DISABLE_FIND_DB=1`

[2019-08-20 06:17] ghostplant commented on #586
@whchung Does latest tensorflow-rocm:1.14.0 have full XLA support? like AOT and JIT?

[2019-08-20 06:39] materia9 commented on #607
Thank you for the analysis. I did not understand the OSError well. And now I believe it is not a fatal error (failure of monitoring things). I upgraded my tensorpack package to the latest one (commit 1870496 on Aug 18, 2019), and the error was changed; there was no DeadlineExceededError but there were the OSError and another error (NotFoundError). Commenting out of train.py L91-L94 and L102-L103 c

[2019-08-20 11:39] atamazov commented on #604
IIRC MIOpen cannot work on top of AMDGPU-Pro drivers. You need ROCm to use it.

How to quickly check your MIOpen installation:
- Build MIOpenDriver
- Run `.../MIOpenDriver conv -c 1 -H 512 -W 512 -y 3 -x 3 -k 64 -n 1 -p 1 -q 1 -w 1 -t 1 -V 0 -F 1`. This command runs exactly the convolution which fails on your machine (according to the logs you've provided). Output from my machine:
[code]

- MIOpen

[2019-08-20 13:20] sunway513 commented on #604
@thejinx0r , it's not recommended to mix the usage of amdgpu-pro drivers and rock-dkms driver - that can be the root cause of the failure you've observed.
Can you purge the amdgpu-pro driver and reinstall rock-dkms driver on your system?

[2019-08-20 14:28] thejinx0r commented on #604
@atamazov
It was working with patch size 32. Does that mean that it was falling back on the cpu?
It did seem a little slow, but I wasn't sure.

@atamazov @sunway513
For uninstalling amdgpu-pro, it's not possible in my case.
I need 3D rendering with an OpenGL version that mesa doesn't support yet.
Does that mean it will never work on my computer? Or does it mean that it could work, but no one is ac

[2019-08-20 14:53] atamazov commented on #604
@thejinx0r

Batch size? From the log I see batch size = 1.

I do not fully understand _what_ was falling back. MIOpen wouldn't.

[2019-08-20 14:59] thejinx0r commented on #604
@atamazov
When I get a chance, I will post a log. But it was patch size 32, batch size 512.

[2019-08-20 15:17] sunway513 commented on #604
CC @kentrussell to comment.
My understanding is that QA team doesn't test against such kernel driver combination (amdgpu-pro + rock-dkms) for Linux distros, nor it's recommended.
However, since amdgpu-pro consists of the essential kernel module (amdgpu) that is required to support ROCm user bits, your setup might work, however, YMMV.

[2019-08-20 15:17] atamazov commented on #604
@thejinx0r The log previously published by you [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/604#issuecomment-522667459) is saying that failing convolution uses batch size = 1.

[2019-08-20 15:34] thejinx0r commented on #604
@atamazov
Yes, the patch size 512 and any batch size does not work (log shown with batch size 1), but a patch size of 32 batch size 512 ( log not shown yet) worked.

@sunway513
Oh ok. I misunderstood. I will give it a try.
I thought uninstalling amdgpu-pro implied using the mesa drivers.

[2019-08-20 15:44] kentrussell commented on #604
@sunway513 Agreed. We only do real testing of ROCk+ROCm for releases. While there is some theoretical support for amdgpu-pro+ROCm (since the codebase is similar), there are some memory pool changes that are incorporated into ROCk that are absent from amdgpu-pro and other issues that may arise. Thus we can't guarantee anything outside of the officially supported ROCk+ROCm configuration.

[2019-08-20 15:52] kk325ic commented on #588
Thanks for the helps @jerryyin

For the benefits of those who needs MaxPooling3D before MIOpen adds support to it, I implemented a version of workaround by using MaxPooling2D twice. This implementation doesn't support strides not equal to pool_size.

The code is in [here](https://github.com/kk325ic/keras-rocm-workaround/blob/master/mykeras.py).

[2019-08-20 19:00] himanshugoel2797 commented on #173
Ran some benchmarks on Radeon VII, TF 1.14.1, Kernel 4.18, ROCm 2.7:
`
python3 tf_cnn_benchmarks.py --num_gpus=1 --batch_size=128 --model=resnet50

Done warm up
Step	Img/sec	total_loss
1	images/sec: 296.2 +/- 0.0 (jitter = 0.0)	7.972
10	images/sec: 296.4 +/- 0.1 (jitter = 0.3)	7.856
20	images/sec: 296.2 +/- 0.1 (jitter = 0.3)	7.913
30	images/sec: 296.0 +/- 0.1 (jitter = 0.3)	7.734
40	images/sec: 2

[2019-08-21 00:39] nikAizuddin commented on #173
Can anyone provide benchmarks for Radeon RX5700 XT?

[2019-08-21 06:17] himanshugoel2797 commented on #173
The 5700XT isn't supported in ROCm yet. I have the Anniversary Edition, but can't even really use it in Linux yet unless I use the latest kernel and its builtin driver instead of rock-dkms (which has better performance).

[2019-08-24 14:24] witeko commented on #325
Does this count (it happens to me once per every 2-3 weeks of constant running, used to be more often with some slight CPU overclocking) ?? :
W tensorflow/core/common_runtime/base_collective_executor.cc:216] BaseCollectiveExecutor::StartAbort Invalid argument: Input to reshape is a tensor with 2048 values, but the requested shape has 315
	 [[{{node Reshape_44}}]]
	 [[replica_1/Reshape_22/_1744]]
2

[2019-08-24 23:29] Djip007 commented on #485
sorry for late... test with:
drun rocm/tensorflow:rocm2.6-tf1.14-python3
drun rocm/tensorflow:rocm2.7-tf2.0-beta1-config-v2
all work

(test with docker-ce on fedora-30!!!)

[2019-08-24 23:29] #485 closed

[2019-08-26 10:15] twuebi commented on #325
@witeko where's the shape input to the crashing `reshape` node coming from? Is it's dtype `int32`? Is it by any chance `tf.transpose` or `tf.dynamic_stitch`? If it's opaque due to the op being autogenerated, you can try writing the graph to a summary file and investigate via `tensorboard`.

[2019-08-26 18:30] ekuznetsov139 opened #614 "ROCm/CUDA mismatch for where op"
[code]

With CUDA-backed Tensorflow, I get
[code]
(which is as expected.)

With ROCm, I get

```tf.Tensor([[12]], shape=(1, 1), dtype=int64)```

Observed with master tensorflow and ROCm 2.7. (Will retest with this branch when I can, but stupid tensorflow takes 3 hours to recompile, so, would appreciate it if someone tested it for me with this branch.)

[2019-08-28 11:01] twuebi commented on #325
Transpose on integer inputs producing garbage output sounds very much like the same issue. What GPU are you using?

[2019-08-28 11:15] twuebi commented on #534
This has been stale for 1 1/2 months. Did you make any progress on the performance hit in the docker / the memfaults?

Right now it seems that standard NLP-NNs like transformers are broken on AMD hardware / ROCm (cf. this issue with BERT and #325) while there is no sign of a fix or active work on the issues.

[2019-08-28 18:20] kk325ic opened #619 "Conv3D: gemm consuming large amount of memory causing TF to crash"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-08-29 00:12] ekuznetsov139 commented on #619
What code was used to produce the problem?
Are there any other warnings or error messages in the output, particularly anything mentioning "miopen"?

[2019-08-29 01:14] whchung commented on #614
A PR to change TensorFlow build system to take both `rocprim` and `hipcub` from ROCm 2.7+ has been submitted:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/pull/620

On a standard ROCm 2.7 installation, doing the following steps would make the test to work:

1) apt install hipcub rocprim
2) cherry-pick the commit in #620
3) rebuild TensorFlow from source.

[2019-08-29 02:46] ekuznetsov139 commented on #614
I don't think it is a good idea to let tensorflow use systemwide rocprim and hipcub in the first place. It should check out known good versions as part of the build process and use those.

[2019-08-29 18:18] whchung commented on #614
@ekuznetsov139 In general TensorFlow uses systemwide ROCm libraries by default. `rocprim` and `hipcub` is the exception here. I'll check with maintainers of `rocprim` and `hipcub` on how to better catch issues like this before a new release is published.

[2019-08-29 22:14] ekuznetsov139 commented on #519
FYI, not that it helps you, but it works correctly on gfx900 (Vega 10) with rocm2.6-tf1.14-python3.
```[[('n02510455', 'giant_panda', 0.83479327), ('n02134084', 'ice_bear', 0.015601887), ('n02509815', 'lesser_panda', 0.0045534954), ('n02133161', 'American_black_bear', 0.0024719073), ('n02132136', 'brown_bear', 0.002070747)]]```

[2019-08-29 23:15] Bengt commented on #519
Hi @ekuznetsov139.

thanks for the data point. While you are at it, could you rerun the test with `rocm/tensorflow:rocm2.7-tf1.14-dev`? That seems to be the current focus of development.

Regards,
Bengt

[2019-08-29 23:39] ekuznetsov139 commented on #519
It works correctly with that tag as well.

Though in both cases there is something odd: processing takes a very long time (around 1 minute) and GPU usage is near zero all that time. (It definitely uses the GPU, I've confirmed with HIP_TRACE_API.) Not sure if it's an anomaly or it's just that EfficientNet is not being very efficient.

[2019-08-30 14:56] whchung commented on #619
@kk325ic could you provide a minimally reproducible script?

[2019-08-30 14:57] sunway513 commented on #619
@kk325ic , can you provide the logs with the following environment variable?
`export MIOPEN_ENABLE_LOGGING_CMD=1`

[2019-08-30 14:57] sunway513 commented on #602
gentle ping @witeko

[2019-08-30 15:02] whchung commented on #614
@ekuznetsov139 We'll fix the packaging issue so both `rocprim` and `hipcub` are shipped along with ROCm release. And they will be quality checked by frameworks such as TensorFlow to ensure no regression moving forward.

Here's an example where_op is working fine on ROCm CI:
http://ml-ci.amd.com:21096/job/tensorflow-upstream-unit-tests/1346/console
[code]

Since we have a short-term workaround, and

[2019-08-30 15:02] #614 closed

[2019-08-30 17:27] sunway513 commented on #604
@thejinx0r , can you try to run the HIP unit tests before moving to TF benchmarks?
Here's the instructions:
https://github.com/ROCm-Developer-Tools/HIP/tree/master/tests

[2019-08-30 17:37] sunway513 commented on #599
Hi @vegabook , thanks for the comment, TF-ROCm would work okay for Ubuntu18.04 user bit environment. It would be difficult for us to comment on the status of TF-ROCm for Ubuntu19.04, as those not part of any coverage we have had.
I'll close this issue for now, we can revisit this issue when Ubuntu19.04 is part of ROCm support list.

[2019-08-30 17:37] #599 closed

[2019-08-30 20:56] witeko commented on #602
@sunway513 ok, i will try to check it on my cpu.

[2019-08-30 21:54] ekuznetsov139 commented on #614
What is the long-term solution? We've established that rocprim from 2.7 does not work correctly, and there have been no commits to fix it, and instead we have a change to pin TF-ROCm permanently to that broken version of rocprim. Am I missing something?

The link you provided gives me a 404 Not Found error. The only projects I see on that Jenkins are tensorflow-rocm-nightly, tensorflow-rocm-releas

[2019-08-31 01:42] whchung commented on #614
Long term solution would be in the upcoming ROCm 2.8. rocprim and hipcub would be tested by TensorFlow via the unit test aforementioned.

For ROCm 2.7, please stick with the short term solution (uninstall rocprim). Alternatively, you may want to install hipcub package, cherry pick #620, and rebuild TF.

[2019-08-31 08:43] witeko commented on #602
@sunway513 looks like the same bug is also on CPU: I used tf-rocm2.0b3 with os.environ["HIP_VISIBLE_DEVICES"]=""

[2019-08-31 14:40] sunway513 commented on #602
Thanks @witeko  to confirm this issue is not specific to TF-ROCm.
Can we move to the upstream TF repo for this issue?

[2019-08-31 14:40] #602 closed

[2019-09-02 11:04] Bengt commented on #519
Hi, to add another data point, I can confirm this working using gfx900 (Vega 64, Vega 10). So the issue seems to affect gfx803, only.

[2019-09-02 11:38] Bengt opened #621 "GPU does not clock down after test load"
I ran the test from issue #519 on my Vega 64 (gfx900, Vega 10) under Ubuntu 18.04.3 LTS. Afterwards, the card stays in PState 3 (4 LEDs of GPUTach on and there is some coil whine). The issue is somewhat transient, as the `pp_dpm_sclk` reports PState 0 sometimes. The GPU should does not clock down like with exiting any other load.

Procedure to reproduce:

[code]

Output:

[code]

Shutting down to

[2019-09-02 11:58] Bengt commented on #621
The workload mentioned in #432 triggers the same behavior.

[2019-09-02 12:11] Bengt commented on #432
Using `rocm/tensorflow:rocm2.7-tf1.14-dev` I get `nan` loss and non-convergence on gfx803:

[code]

But gfx900 works fine:

[code]

So this issue persists with the latest rocm docker image.

[2019-09-02 16:03] sebpuetz opened #622 "Inconsistent results with ROCm/Radeon VII"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or binary): binary (pip install tensorflow-rocm)
- TensorFlow version (use command below): merge-190415-2708-g9e981a8 1.14.1
- Python version: 3.6.7 (pyenv)
- ROCm/MIO

[2019-09-03 17:05] iszotic opened #624 "Are there plans for a manylinux2010 wheel for TF-2.0?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): 18.04.1
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tensorflow-rocm 2.0.0b3
- Python version: 2.7.15+
- Installed using virtualenv? pip? conda?: pip
- ROCm/MIOpen version: 2.7.0
- GPU model and memory: 2xVega 56, gfx900 with 8GB

The `manylinux2010` spec is needed for tensorflow addon

[2019-09-03 17:26] sunway513 commented on #624
@iszotic , we are working on it, will update soon.

[2019-09-03 17:28] sunway513 commented on #621
Hi @Bengt , can you provide the log after setting the following:
`/opt/rocm/bin/rocm-smi --setperf high`

[2019-09-03 17:58] kk325ic commented on #619
please see the attached log file.

[a.log](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/3570807/a.log)

[2019-09-03 18:01] Bengt commented on #621
Hi @sunway513,

running `/opt/rocm/bin/rocm-smi --setperf high` turns on all the GPUTach LEDs of all installed GPUs. The log agrees:

0: 852Mhz
1: 991Mhz
2: 1084Mhz
3: 1138Mhz
4: 1200Mhz
5: 1401Mhz
6: 1536Mhz
7: 1630Mhz *

During the test run, the last LED of the Fury X turns off, indicating clocking down to pstate 6 (1018 MHz vs. 1050 MHz in pstate 7). During the test run of the Vega 64, none of

[2019-09-03 18:25] jerryyin commented on #619
I have verified the config works using `MIOpenDriver`. Judging from the log, this is one of those typical failures (#496 talking about the same thing) where conv3d gemm consuming a huge amount of memory causing TF to crash. The log show two convs with same config each consuming 3.88GB. The workaround is to run the same model on a GPU with larger memory @kk325ic

[2019-09-03 18:27] sunway513 commented on #621
Hi @Bengt , can you try to force the perf level to be "auto"?
FYI, you can also control the fan speed using rocm-smi, you can refer to the doc below:
https://github.com/RadeonOpenCompute/ROC-smi

[2019-09-03 19:01] Bengt commented on #621
With the performance level forced to `auto`, at times all LED turn on during the workload and the fan ramps up a bit. Afterwards the GPU gets stuck in pstate 3 (four LEDs), like before. Running `/opt/rocm/bin/rocm-smi --setperf auto` again afterwards does not help with clocking down.

[2019-09-03 19:05] sunway513 commented on #621
@kentrussell, do you have any idea on this issue?

[2019-09-03 19:13] kentrussell commented on #621
Not sure if it could be related to https://github.com/RadeonOpenCompute/ROC-smi/issues/62 , where Vega10 is having issues actually respecting voltage changes, especially after being at DPM7.

Out of curiousity, if you just ditch the middle DPM states and try to set the sclk to "0 6 7" or "0 5 6 7", do things still appear to be the same? That way it can still drop to DPM0, but skips the middling st

[2019-09-03 19:50] Bengt commented on #621
Hi @kentrussell,

as you suggested, I tried restricting the DPM states:

[code]

When I run `glxgears` and resize the window, I can provoke any of the power states. So restricting them does not really seem to work.

However, yes, running the tensorflow workload with restricted DPM states, the power state does jump down to 0 (1 LED). So we might be on to something here.

[2019-09-03 20:52] kentrussell commented on #621
I've been wondering about the dynamic DPM and how it has been changing its workloads. My concern is that if the levels are constantly changing between 8 potential levels, that things can be a little less stable. If keeping the clocks at high isn't an option (you cited coil whine and fans not returning), we can try to tweak things a bit. At least it might give a temporary workaround while we look i

[2019-09-03 21:15] Bengt commented on #621
Thanks for the offer of tweaking things, @kentrussell. I can however live with the current workaround of restricting the DPM states until a proper fix is released. @iszotic, do you have a different opinion or does this work for your use case, too?

[2019-09-03 21:22] Bengt commented on #621
This workaround works for clpeak, too.

[2019-09-04 14:09] iszotic commented on #621
@Bengt @kentrussell setting all states also fixes the issue `/opt/rocm/bin/rocm-smi --setsclk 0 1 2 3 4 5 6 7`, but if you set one`--setperf` profile then the issue comes back, it fixes again when all states are set while running a program, I'm fine with this workaround much better than manually setting each profile, and the default fan curve works too

[2019-09-05 07:03] ycsos commented on #173
Here is my result for RTX5000 with tensorflow 2.0 and CUDA 10.0:
command line is  : python3 tf_cnn_benchmarks.py --num_gpus=1 --batch_size=128 --model=resnet50
[code]
and  python3 tf_cnn_benchmarks.py --num_gpus=1 --batch_size=128 --model=resnet50 --use_fp16
[code]

[2019-09-05 14:31] jpizarrom commented on #173
Hello, here are my results with:

AMD Ryzen 2600x | X370 | 16GB @3200 | 1x Radeon VII VBIOS version: 113-D3600200-106
Ubuntu 18.08 | 5.0.0-25-generic 26~18.04.1-Ubuntu
rock-dev | Docker rocm/tensorflow:rocm2.6-tf1.14-python3

[code]

[2019-09-05 15:09] jpizarrom commented on #173
Hello, here are my results with:

AMD Ryzen 2600x | X370 | 16GB | 1x Radeon VII VBIOS version: 113-D3600200-106
Ubuntu 18.08 | 5.0.0-25-generic #26~18.04.1-Ubuntu
rock-dev 2.7.22 | Docker rocm/tensorflow:rocm2.7-tf1.14-dev

[code]

[2019-09-05 18:28] kk325ic commented on #619
Unfortunately, I don't have any AMD card with memory larger than 8GB. Otherwise, I would be happy to test your workout. We are happy to see AMD is catching up with Nvidia in ML. Hopefully you guys can finish the last few touches to make it an accountable solution.

[2019-09-05 22:50] ekuznetsov139 commented on #619
Actually I don't think that conv3d gemm is the culprit here. Its memory requirements are fairly modest. Running that MIOpenDriver command standalone with API tracing enabled, I see it allocating only about 20 MB of GPU memory.

It is possible that the tensorflow graph itself needs more memory than available in the system. The 3.88 GB allocation is unrelated to conv3d, it just happens to occur shor

[2019-09-08 15:13] Bengt commented on #622
Hi @sebpuetz,

thanks for the bug report. I tried to reproduce this issue, but I had to jump through some more hoops. So I am documenting my procedure:

[code]

I could use the test case setup, as you documented:

[code]

I ran the eager test on my Vega 64 (gfx900, Vega 10):

[code]

After result printing, I get an error. Could you maybe fix this in your script?

[code]

I tried running the eager

[2019-09-08 15:57] sebpuetz commented on #622
Hi,
thanks for looking into this!

Sure, although this is not related to the issue. Seems like the encoding is incorrect in the docker-container. I pushed an updated version to the `graph` branch.

For the eager implementation there is a `--batch_size` flag, given that 20k fits into 16GB,  `--batch_size 5000` might do the trick, although the required memory maybe doesn't scale linearly with batch

[2019-09-08 22:24] Bengt commented on #622
Hi,

thanks for the fix. I do not see the unicode error anymore.

Results for the reduced model size on Vega 64 are similar to yours on VII in eager mode:

[code]

... and graph mode:

[code]

Fury X yields better objective result, which might hint at some bug or optimization only present in its code paths in eager mode:

[code]

... but not in graph mode:

[code]

Threadripper 1950X yields result

[2019-09-10 21:00] kk325ic commented on #619
Here is a simplied code to show the problem. Unfortunately, I cannot provide any data for you to test.
[test.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/3597662/test.txt)

[2019-09-10 21:42] jerryyin commented on #619
@ekuznetsov139

Which stage are you talking about? How much workspace does it need for the find call, and how much does it allocate in the actual computation? I suspect the 20 MB is what MIOpenDriver allocates, not the actual algorithm.

This statement does not make sense to me. I can hardly imagine a pure computation graph, after serialized, takes 3.88 GB.

[2019-09-10 21:59] ekuznetsov139 commented on #619
20 MB is the sum total of all hipMalloc calls made during the execution of "./bin/MIOpenDriver conv -n 1 -c 1 -H 512 -W 512 -k 4 -y 3 -x 3 -p 1 -q 1 -u 1 -v 1 -l 1 -j 1 -m conv -g 1 -F 1 -t 1".

You probably never tried to use https://github.com/tensorflow/tensor2tensor then. I sometimes get OOMs with it on a 11 GB card.

[2019-09-11 00:32] ekuznetsov139 commented on #619
Okay, looks like I was wrong. This is indeed the case of gemm consuming a large amount of memory (MIOpenDriver call was not representative).

First thing the graph does is call Conv3D on image size (128,288,416), 1 channel, kernel size 3x3x3, 2 filters.
MIOpen proposes to use MIOpenGEMM for this convolution, which requires 128*288*416*3*3*3*4 = 1.65 gigabytes of scratch memory.
Then a bit later it

[2019-09-11 14:58] jerryyin commented on #619
@ekuznetsov139 Thanks for carrying out the study, I think we are mostly on the same page now. The fallback behavior aligns with [Daniel's comments](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/496#issuecomment-506488752).

I would do a bit further on clarification of the memory consumption of the graph. In TF, memory consumed by graph and peak memory consumption are two diffe

[2019-09-11 19:36] ekuznetsov139 commented on #619
During training, TF typically needs to store all tensors in the pipeline at the same time. If the graph is A->B->C->D->E, the result of A will still be kept in memory when E is being computed, because it will be needed during backpropagation through B and A. So, that gives us the lower bound on memory requirements (before the internal overhead of MIOpen, etc.)
It obviously wants to keep them all i

[2019-09-11 19:45] jerryyin commented on #619
Agreed with all this observation. Tensors are stored until backward pass are done.

Good point. @daniellowell: Any comments on the emulating the conv3D using conv2D approach? Is it something you guys are seeking for?

[2019-09-13 08:56] crr0004 commented on #558
I had the same issue, it went away when I downgraded to python3.5 from python3.6, and installed tensorflow-rocm==1.14.1

I was comparing the invocation against the provided ROCM image to find it

[2019-09-13 18:04] thejinx0r commented on #604
@sunway513
Finally got around to testing it:
[code]

[2019-09-13 18:08] sunway513 commented on #604
@thejinx0r , great to know all HIP tests now pass.
Can you follow the doc and run a set of TF samples:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-quickstart.md

[2019-09-13 18:14] thejinx0r commented on #604
@sunway513
That fails:

[code]

[2019-09-13 18:39] sunway513 commented on #604
@thejinx0r , it's strange - can you confirm if you are using docker container or bare metal setup?
It does look like configuration issue if the setup can not pass basic TF samples.

[2019-09-13 19:01] thejinx0r commented on #604
@sunway513
I am on bare metal.

[2019-09-13 19:37] sunway513 commented on #604
To rule out the potential configuration issues, can you try our docker containers?
https://hub.docker.com/r/rocm/tensorflow

[2019-09-15 11:15] frederickayala commented on #558
I had the same issue. Changing to python 3.5 and installing tensorflow with `pip install tensorflow-rocm==2.0.0b3
` solved it. Thanks.

[2019-09-18 15:30] Bengt opened #641 "TensorFlow 2.0.0-rc1"
The release candidate 1 of TensorFlow 2.0.0 has been tagged:

https://github.com/tensorflow/tensorflow/tree/v2.0.0-rc1

PyPI has packages for all the betas, but not this release candidate:

https://pypi.org/project/tensorflow-rocm/#history

Is there a package coming up?

[2019-09-18 16:15] sunway513 commented on #641
Hi @Bengt , yes, we're planning to publish the PyPi packages when ROCm2.8 is out.
The package will be built using the following branch:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/r2.0-rocm-rc1
You can build it from source if you want to try it earlier.

[2019-09-18 16:45] Bengt commented on #641
Hi @sunway513, thanks for the pointer, I will give that branch a spin on ROCm 2.7.

[2019-09-23 14:35] thejinx0r commented on #604
@sunway513
So it does seem like a configuration issue as you suspect.
I followed the instructions for running tensorflow inside of docker, the LeNet MNIST ran properly and it was running the `ResNet training on CIFAR-10 data` but I cancelled it because it was going to take a while to run.

[2019-09-23 21:17] thejinx0r commented on #604
I'm closing the issue for now as I need to switch back to the amd-pro drivers for the moment. I'm not sure when I will be able to get back to it.

[2019-09-23 21:17] #604 closed

[2019-09-24 09:22] 20II commented on #173
When I want to test ,raise  many warning like this.
WARNING:tensorflow:Entity <bound method BatchNormalization.call of <tensorflow.python.layers.normalization.BatchNormalization object at 0x7f828f4d65c0>> could not be transformed and will be executed as-is. Please report this to the AutgoGraph team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach

[2019-09-27 16:38] sunway513 commented on #173
Hi @20II , the warning message you've observed is due to the upstream tensorflow issue https://github.com/tensorflow/tensorflow/issues/32319 , please try the following command to fix it:
`pip3 install gast==0.2.2`
If you program still crashes, please firstly try our public docker images here:
https://hub.docker.com/r/rocm/tensorflow
Please feel free to create a dedicated issue to track, thanks.

[2019-09-30 09:28] WeiChunyu opened #652 "TensorFlow ROCm stack smashing detected"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System informat ion**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-09-30 15:24] twuebi commented on #652
Getting the same when running ELMo (https://github.com/allenai/bilm-tf/).

[code]

[2019-09-30 16:07] sunway513 commented on #652
Hi @WeiChunyu @twuebi , we have not yet pushed out compatible TF whl packages for ROCm2.8 environment, those will be available by the end of the week. We'll keep this thread updated, thanks.

[2019-09-30 16:19] twuebi commented on #652
Would building the `r1.15-rocm` branch against 2.8 work?

[2019-09-30 16:30] sunway513 commented on #652
@twuebi  yes, that would work.

[2019-09-30 18:59] emerth opened #656 "(trivial issue) Error in last line of rocm_install script."
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 19.04
- Mobile de

[2019-09-30 19:29] sunway513 commented on #656
Thank you @emerth for the heads up, will fix it and update here.

[2019-10-01 09:20] #652 closed

[2019-10-01 15:21] sunway513 commented on #656
Hi @emerth , the issue has been fixed in the following PR:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/pull/657
Thank you for reporting the issue!

[2019-10-01 15:21] #656 closed

[2019-10-01 19:40] sunway513 commented on #652
@WeiChunyu  @twuebi  we have pushed ROCm2.8 compatible whl packages for TF1.14, please use the following option to upgrade, e.g. for python3
`pip3 install --user tensorflow-rocm --upgrade`
Make sure the TF version is 1.14.2:
`python3 -c 'import tensorflow as tf; print(tf.__version__)'  # for Python 3`

[2019-10-03 10:59] twuebi opened #660 "ELMo nan training, works with nvidia"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): mint
- TensorFlow installed from (source or binary): binary and docker
- TensorFlow version (use command below): 1.14.2
- Python version: 3.6.5 + the one from docker
- ROCm/MIOpen version: 2.8
- GPU model and memory:

[2019-10-04 16:53] jerryyin commented on #587
Pull request submitted [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/pull/661)

[2019-10-05 16:15] twuebi commented on #325
Problem persists on rocm-2.8 & tf 1.14.2 (error happened after 10 minutes of fine-tuning BERT):
[code]

These issues may be related:

https://github.com/RadeonOpenCompute/ROCm/issues/873
https://github.com/preda/gpuowl/issues/63
____________________________
It's really a pity that this expensive GPU cannot run any recent NLP models (BERT #414, ELMo #660).

@dagamayank  has there been any progress

[2019-10-06 15:04] sebpuetz commented on #325
Simple RNN architecture failed after a couple of hours with yet another reshaping error:

[code]

[2019-10-07 03:59] sunway513 commented on #325
Hi @sebpuetz , are you referring to a new issue? Is it possible to share reduced scripts to repro?

[2019-10-07 04:00] sunway513 commented on #660
Thank you @twuebi , I will try to repro this issue locally and update you here.

[2019-10-07 07:53] twuebi commented on #325
The failing op is the same that I first reported here 6 months ago:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/325#issuecomment-484527907

In the following months I provided updates on that failing op here:
* https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/325#issuecomment-484527907
* https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/325

[2019-10-07 09:40] sebpuetz commented on #325
The error happened after 4-5 hours of runtime. I don't intend to spend that kind of time to narrow down the issue. Like @twuebi is pointing out, this error is documented in numerous different comments.

[2019-10-07 16:38] bionicles commented on #362
Memory being the bottleneck, can we do bfloat16 and int8, float8, float16? Just curious

[2019-10-07 16:40] sebpuetz commented on #325
Fwiw, the same model has not crashed today. Just finished training after about 8 hours.

[2019-10-08 09:41] ghostplant opened #663 "Lots of W1008 warning using tensorflow-rocm==1.14.0"
Platform: Ubuntu 18.04
Tensorflow version: 1.14.0
ROCm version: 2.6.0
Tensorflow application: ./tf_cnn_benchmark.py --model resnet50
AMDGPU: Radeon VII (gfx906)

Warning logs:
[code]

[2019-10-11 01:39] sunway513 commented on #663
@ghostplant , this issue can be fixed with the following cmd
`pip3 install gast==0.2.2`
For details, please refer to this comment https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/173#issuecomment-536012484

[2019-10-11 01:39] #663 closed

[2019-10-11 01:40] sunway513 commented on #641
@Bengt , we have released the tensorflow-rocm 2.0.0 whl package, please try it out and let us know if you have any feedback.
Thanks!

[2019-10-11 01:40] #641 closed

[2019-10-11 01:42] sunway513 commented on #624
Hi @iszotic , we have released tensorflow-rocm2.0.0 whl packages:
https://pypi.org/manage/project/tensorflow-rocm/release/2.0.0/
The packages were built with ROCm2.9.
Please try those out and let us know if you have any questions.

[2019-10-11 10:20] Bengt commented on #641
Awesome! Thanks for the update. I will give that a spin next week.

Peng <notifications@github.com> schrieb am Fr., 11. Okt. 2019, 03:40:

[2019-10-11 16:03] kinred commented on #641
@sunway513 Congrats! Could you give a hint with which ROCM version it was compiled with, always some guess work to do to get the pip and ROCM version right.

Yes, I know there are docker images :)

[2019-10-11 16:58] witeko commented on #641
@sunway513 what is the branch/tag of the newly released whl? :)

[2019-10-11 17:06] sunway513 commented on #641
Thanks!
TF2.0.0 whl package was built with ROCm2.9 user bit, it might also work with ROCm2.8.
I'm working on a document that specifies the ROCm compatibility against our released whl packages on PyPI, will keep you posted.

[2019-10-11 17:20] sunway513 commented on #641
@witeko , you can find the release tag here:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/releases/tag/v2.0.0-rocm

Please note the source code is pretty much identical to what we have been able to upstreamed to official tensorflow r2.0 release branch, other than minor cleanups to build with ROCm2.9 user bit packages:
https://github.com/tensorflow/tensorflow/commits/r2.0

[2019-10-12 02:07] sunway513 commented on #641
Hi @kinred , please refer to the following doc that specifies the tensorflow-rocm ROCm build version and the compatibility:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md

[2019-10-13 09:01] limapedro opened #669 "Error while importing tensorflow-rocm"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-10-14 17:24] sunway513 commented on #669
Hi @limapedro , tensorflow-rocm project depends on ROCm HIP toolchain - therefore if your platform can not run HIP applications, it would not support tensorflow-rocm project.
Please consult with the following wiki for supported HWs for ROCm:
https://rocm.github.io/hardware.html

[2019-10-14 17:24] #669 closed

[2019-10-15 10:09] sebpuetz commented on #325
And another OP causing crashes to add to the collection. Once again reshaping in gradients, this time `GatherV2` (on CUDA no crashes to be observed):
[code]

[2019-10-16 11:50] ekuznetsov139 commented on #325
I found a workload that relatively reliably reproduces the bug, and managed to trace it some ways.

[code]

The correct value starts in a CPU-side buffer. TF tries to upload it onto a GPU, memcpyh2d is called, no errors are reported, the upload operation is reported as complete, but, when I check the value that is actually in the destination GPU buffer, it does not match the value that was suppose

[2019-10-16 17:31] seanpmorgan commented on #624
Hi @sunway513 it looks as though the whls are [spec'd as manylinux1](https://pypi.org//project/tensorflow-rocm/#files). Previously TensorFlow kinda cheated auditwheel and they weren't actually compliant.

Since TF2 the wheels are now [built and complying with manylinux2010](https://pypi.org/project/tensorflow/#files). Is there a reason for the mismatch here? It may cause ABI complications with oth

[2019-10-16 17:53] sunway513 commented on #624
@parallelo can you help answer the question from @seanpmorgan?

[2019-10-17 06:04] ekuznetsov139 commented on #325
I had the idea to test for silent memcpy failures directly by hacking into TF to allocate tensor that is not used for anything else, doing bunch of async memcpys to it, and then reviewing the results.

That produced a null result. I see zero write errors into my tensor, but corruption related crashes still occur.

So now signs are pointing at the other possibility: something else writing into that

[2019-10-19 10:08] sebpuetz commented on #325
New day, new op:

[code]

Failed after 29 epochs, each taking about 350 seconds. Which means, not easily reproducible and probably not due to suddenly incorrect graph structure/inputs. Presumably another case of corrupted int tensors.

[2019-10-20 08:45] ekuznetsov139 commented on #325
I think I got it.

I see two groups of operations.

The first group allocates a temporary tensor, does some processing and then deallocates it (or, more precisely, returns the memory into the pool):

Shortly thereafter, the second group attempts to upload a tensor from the host to the GPU, and, for that, allocates some GPU memory, which turns out to be exactly the same:
[code]

Now, the first grou

[2019-10-20 11:20] sebpuetz commented on #325
Additional evidence for your theory is that the bug seems to occur more frequently when stressing the CPU. This should make it more likely that the CPU didn't have time to finish a job.

[2019-10-20 15:22] ekuznetsov139 commented on #325
To those experiencing the issue, try to run your code after setting the env var HCC_FORCE_CROSS_QUEUE_FLUSH=3.

[2019-10-21 06:33] twuebi commented on #325
Ran a transformer for ~6 hours yesterday, no crash.

[2019-10-23 20:40] mwrnd commented on #173
Video Card: MSI Radeon RX 580 8GB OC (`rocm-smi -v` VBIOS version: Unable to get)
Motherboard: MSI X570-A Pro with 32GB DDR4-3000 BIOS H.40
Processor: AMD Ryzen 5 3600X
OS: Ubuntu 18.04.2  no apt dist-upgrade
Kernel: 4.18.0-15-generic
rocm-dkms: 2.8.13 installed through apt
tensorflow-rocm: 1.14.2 installed through pip
tensorflow benchmarks: [abb1aec2f2db4ba73fac2e1359227aef59b10258](https://codel

[2019-10-23 21:13] mwrnd commented on #173
Video Card: MSI Radeon RX 580 8GB OC (`rocm-smi -v` Cannot get VBIOS version)
Motherboard: MSI X570-A Pro with 32GB DDR4-2133 BIOS H.40
Processor: AMD Ryzen 5 3600X
OS: [Ubuntu 18.04.0](http://old-releases.ubuntu.com/releases/18.04.0/)  no `apt upgrade` or `apt dist-upgrade`
Kernel: 4.15.0-20-generic
rocm-dkms: 1.9.3 installed through apt
tensorflow-rocm: 1.12.0 installed through pip
tensorflow be

[2019-10-28 09:02] ekuznetsov139 commented on #325
It looks like the bug has not been fully explained yet.

* The bug persists after recompiling HIP with the streamWaitEvent fence scope set to hc::system_scope
* It persists with env vars HCC_FORCE_CROSS_QUEUE_FLUSH=3 or HCC_OPT_FLUSH=0

 After lots more tracing, I can verify that:

* "Bad data" seen in the GPU memory is exactly the same as it was before the second group began execution
* The bug o

[2019-10-28 11:23] ekuznetsov139 commented on #325
The bug seems to go away if I disable SDMA. (Though I can come up with at least three possible explanations for that, so it does not help me much with pinpointing the source of the bug.)

[2019-11-01 19:56] mfrey777 opened #690 "Crash when training RNN model - tensorflow.python.framework.errors_impl.CancelledError: [_Derived_]RecvAsync is cancelled."
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2019-11-02 20:07] mfrey777 commented on #690
Just a few more infos. I realised that my linux was running a 5.XX kernel which is not not supported according to ROCM 2.9 installation guide.

So I tried to runt he same code on a Ubuntu 18.04 with a 4.15.66 kernel (and ROCM 2.9 dkms installed).

I get the exact same error message than aboce:

The error message in the first post is the end of it, it however looks like the row below is actually th

[2019-11-06 00:20] davewang opened #694 "Rocm 2.9+Ubuntu18.04.3+rx580+tensorflow-rocm-2.0 could not retrieve ROCM device count: HIP_ERROR_NoDevice"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04.3
- TensorFlow in

[2019-11-06 05:22] sunway513 commented on #694
Hi @davewang , to narrow down the issue, can you try to use the docker container per instructions below in the "overview" section:
https://hub.docker.com/r/rocm/tensorflow

[2019-11-06 05:25] sunway513 commented on #690
Hi @mfrey777 , thank you for reporting this issue, we'll try to repro it locally and let you know.

[2019-11-06 05:36] sunway513 commented on #325
As a background, we've managed to allocate a dev node that can reliably reproduce the failure within 2 mins (2P ROME server with 256 CPU threads); with that node and great help from @ekuznetsov139, @jeffdaily has finally identified the root cause and submitted a PR to the HIP repository:
https://github.com/ROCm-Developer-Tools/HIP/pull/1620

We've also committed the docker container with the patch

[2019-11-06 06:41] davewang commented on #694
using docker is ok!

[2019-11-06 09:55] twuebi commented on #325
Thanks, I am testing it.

[2019-11-07 19:33] sunway513 commented on #694
@davewang , if it would work with docker, the issue is more likely to be related to your bare metal environment for ROCm.
We recommend to use docker container, however, if you do need bare metal configuration, the following instructions might help:

- Clean up the bare metal ROCm packages

`sudo apt autoremove -y rocminfo hsakmt-roct hsa-rocr-dev rocm-cmake hsa-ext-rocr-dev rocm-device-libs hip_ba

[2019-11-07 22:22] sunway513 commented on #690
Confirmed the error message locally, assigning to @jerryyin  to take a deeper look.

[2019-11-08 01:10] XuanBaby opened #699 "clang: error: unable to execute command: Hangup"
env:
rocm:2.8
gfx906
python:3.6.8
Tensorflow:1.13
task:object detection
run the tensorflow/models but there some error. one strange thing that in rocm2.8 the clang --version is 10.0.0,but program output clang version 4.0
INFO:tensorflow:global step 895: loss = 2.3266 (0.299 sec/step)
INFO:tensorflow:global step 896: loss = 2.5355 (0.340 sec/step)
INFO:tensorflow:global step 896: loss = 2.5355 (0.3

[2019-11-08 02:43] #694 closed

[2019-11-08 16:44] twuebi commented on #325
I ran one of the reproducer scripts in here on ` sunway513/tensorflow:rocm2.9-tf1.15-dev-hipEventRecord-patch` for 5 hours yesterday, didn't observe the crash.

[2019-11-08 16:57] sunway513 commented on #325
@twuebi , thanks for confirming it.
The HIP PR has been merged to the master branch, and it's planned to be part of ROCm3.0 release.
I'm going to close this ticket, please feel free to reopen it if you still see issues here.

[2019-11-08 16:57] #325 closed

[2019-11-08 16:59] sunway513 commented on #699
Hi @XuanBaby , can you provide a docker image to reproduce the issue you've observed?
It looks like configuration issues, hence we won't be able to help without a proper local repro.

[2019-11-09 07:44] trembous commented on #690
the same error in issue#33721, AniTho  said 'the problem was solved after downgrading tensorflow to 1.14' ，it would occur in TF2.0. And if you run on cpu ,it won't crash

[2019-11-09 07:48] trembous commented on #690
the same error in issue#33721,you may need to update the cuda to 7.6.2,Use TF_FORCE_GPU_ALLOW_GROWTH=true to force allow GPU growth, the detail in
https://stackoverflow.com/questions/58359153/cancellederror-derived-recvasync-is-cancelled

[2019-11-09 19:56] ghostplant opened #702 "Any doc/guide for the installation of hovorod for tf-rocm?"
Any doc/guide for the installation of hovorod for tf-rocm?

Some of my tries were either throwing crash fault during TF runtime, or failed to include the rccl allreduce integration.

[2019-11-10 16:47] ghostplant commented on #702
If I directly setup rocmsoftwareplatform/hovorod:hip from source, the tensorflow horovod applications actually crash with following errors:
[code]

[2019-11-11 08:23] mfrey777 commented on #690
Thank you, I also found that post on stackoverflow, but adding that parameter did not help. I tried in 2 different ways, first in the code:

gpus = tf.config.experimental.list_physical_devices('GPU')
for gpu in gpus:
    tf.config.experimental.set_memory_growth(gpu, True)

and then to export the variable in the shell, but that did not work either.

I am still getting the same error message.

I was

[2019-11-11 20:04] jerryyin commented on #690
@mfrey777 Thank you for opening the issue. Apparently this is caused by us letting behind a commit in the 2.0.0 release branch. This will be fixed in 2.1.0. At the same time, could you give `rocm/tensorflow-autobuilds:rocm2.8-f4df78b` image a shot?

   $ alias drun='sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=

[2019-11-12 09:13] mfrey777 commented on #690
Thank your for the quick reply. I executing my script in the docker container and it does run, but it does run slower than when I run it with CPU (on a not ROCM Tensorflow 2.0).

Epoch 1 took 541s on the docker image (with GPU enabled, so a Vega 56 8Gb)
![Screenshot from 2019-11-12 09-40-36](https://user-images.githubusercontent.com/19504497/68655664-b915bc80-0530-11ea-8ac9-7386b1af682f.png)

Runn

[2019-11-13 08:35] ekuznetsov139 commented on #690
Your task involves a lot of small operations and the gains from using a GPU are outweighed by the overhead associated with launching each GPU operation. And I think there's some room for improvement in the ROCm stack.

With a Vega 64 / Ryzen 7 1700x, I see 405 s/epoch as in the original post, but 274 s/epoch at batch size 128 (larger batch size - fewer individual ops - less overhead). Unfortunatel

[2019-11-13 15:18] mfrey777 commented on #690
Thank you for the detailed explanation, i makes more sense to me now.

[2019-11-13 15:18] #690 closed

[2019-11-13 21:36] jeffdaily commented on #702
Which ROCm release did you try?

I build ROCm horovod hip branch using the following env vars:
[code]

I test using the TF CNN Benchmarks.  This implies I'm using TF 1.15 rather than >= 2.0 since the TF CNN Benchmarks don't support 2.x.

`mpirun -n 8 python3 tf_cnn_benchmarks.py --variable_update=horovod`

[2019-11-13 22:23] jeffdaily commented on #702
I have a public docker container based on ROCm 2.9 if you would like to try it.
`jeffdaily/tensorflow:1.15-rocm2.9-ofed4.6-1.0.1.1-py3-mpich3.2.1-horovod`

[2019-11-14 07:13] XuanBaby opened #704 "TF autotune enforce search"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2019-11-16 06:50] ghostplant commented on #702
@jeffdaily Thanks, I tried your container and it worked. However, it is based on mpich which it not compatible with some of my openmpi-based applications. In the past I just used `openmpi-bin libopenmpi-dev` from ubuntu-18.04 repo and it worked well with CUDA's horovod applications.

I also retried to build rocm's horovod according to your suggestions, and it still has some problem with openmpi:

[2019-11-16 06:53] ghostplant commented on #702
I also ensure my environment is clear and correct, because I manual write an nccl op injected to tensorflow and it works correctly with openmpi + rccl + tensorflow 1.14.x.

So can you test on the openmpi cases? I doubt whether the rocm's horovod is compatible with ubuntu's openmpi.

[2019-11-17 01:57] snawara commented on #624
Is there a reason this was closed? I came across the same issue. The rocm wheel is incompatible with tensorflow_addons due to some compiler incompatibility as described here: https://github.com/tensorflow/addons/issues/471

[2019-11-17 17:21] sunway513 commented on #624
Hi @snawara ,

[2019-11-17 18:13] snawara commented on #624
Thanks.

[2019-11-18 05:20] wellhowtosay commented on #690
having the same bug on my device when I using keras.layers.LSTM

2019-11-18 04:36:20.298246: W tensorflow/core/common_runtime/base_collective_executor.cc:216] BaseCollectiveExecutor::StartAbort Unimplemented: createRnnDescriptor is unimplemented

when I used tf.compat.v1.keras.layers.LSTM or tf.keras.layers.RNN, it worked fine ,except it was very slow,actually as slow as training on a CPU, and I d

[2019-11-18 14:08] wellhowtosay opened #706 "have problem with tensorflow.keras.layers.LSTM"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04.3 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):binary
- TensorFlow version (use command below):v2.0.0-r

[2019-11-18 20:01] jeffdaily commented on #702
I followed most of your instructions and installed openmpi from packages in my ubuntu 16 docker.
`jeffdaily/tensorflow:1.15-rocm2.9-ofed4.6-1.0.1.1-py3-openmpi-horovod`
In the container I could successfully run the trivial TF CNN benchmark using horovod.
[code]

[2019-11-19 13:40] urugn commented on #302
Am not sure if to open a new issue because am having the same issue but with gfx900 (Vega 64).
Sometimes it runs but over 70% of the time this error occurs.
For my case installed rocmon ubuntu 18.04 and compiled MIVisionX from source.

[2019-11-19 16:42] sunway513 commented on #302
@urugn can you try the docker container:
https://hub.docker.com/repository/docker/rocm/tensorflow

[2019-11-19 19:05] sunway513 commented on #621
@Bengt I'm going to close this issue since this is not tensorflow-rocm specific.

[2019-11-19 19:05] #621 closed

[2019-11-21 03:22] apivovarov opened #711 "Tensorflow sees only 2 out of 4 Radeons."
* Ubuntu 18.04.3
* pip3 19.3.1
* rocm-dkms 2.9.6

`tensorflow-rocm` was installed using pip3
[code]
It installed tensorflow-rocm released: Oct 10, 2019

lcpci sees 4 Radeons
[code]

rocm-smi sees 4 Radeons
[code]
TF sees only 2 Radeons with pci id 02 and 03. It does not see Radeons with pci id 06, 07
[code]

[2019-11-21 22:37] apivovarov opened #713 "Compilation failed tensorflow-upstream - crosstool_wrapper_driver_is_not_gcc"
* Ubuntu 18.04.3
* tensorflow-upstream 893cd0c313271ce03539bf8613a339a60485cc2b
* rocm-dkms 2.9.6
* Bazel 26.1
[code]

[2019-11-23 19:25] nikAizuddin commented on #173
Result for running benchmark in a GPU-passthrough QEMU/KVM virtual machine.

* GPU: MSI RX Vega 56 Air Boost
* Host OS: openSUSE Tumbleweed `20191007` (kernel 5.0.21-1)
* Guest OS: Ubuntu 19.04 (kernel 5.0.0-13)
  - `rocm-dkms` version 2.9.6 (installed via `apt`)
  - `tensorflow-rocm` version 1.14.3 (installed via `pip`)

**<p align=center>Table 1: `FP32` without `TF_ROCM_FUSION_ENABLE`</p>**

| b

[2019-11-25 12:27] cyyeh opened #718 "Will AMD Radeon Pro 5500M be supported?"
Since I didn't find AMD Radeon Pro 5500M, which is used by the latest Macbook Pro 16-inch in the hardware support list of ROCm, would it be supported in the near future?

[2019-11-26 05:55] sunway513 commented on #718
Hi @cyyeh , can you post your question on ROCm github main repo instead?
https://github.com/RadeonOpenCompute/ROCm
Please note we only take tensorflow-rocm specific issues in this forum, thank you for your understanding.

[2019-11-26 05:55] #718 closed

[2019-11-26 06:02] sunway513 commented on #713
@apivovarov , can you provide a Dockerfile or scripts for us to reproduce your build issue?
Please note we have automation system that builds for each PR been merged to develop-upstream branch:
https://hub.docker.com/repository/docker/rocm/tensorflow-autobuilds/general

[2019-11-26 06:06] sunway513 commented on #711
Hi @apivovarov , did you set any of the following environment variables in your scripts?
`HIP_VISIBLE_DEVICES`
`ROCR_VISIBLE_DEVICES`
Besides, could you confirm if the issue is reproducible using tensorflow-rocm docker containers?
https://hub.docker.com/r/rocm/tensorflow

[2019-11-26 06:20] sunway513 commented on #706
Hi @wellhowtosay , I see you have been using 2.0.0RC0 whl package, can you try the latest releases inside the following docker container:
`rocm/tensorflow:rocm2.9-tf2.0.0-dev

[2019-11-26 06:35] sunway513 commented on #704
Hi @XuanBaby , in the current tensorflow-rocm implementation there's no option to disable the namely "auto-tune" stage. During this stage, MIOpen would find the fast algorithm and call the OpenCL toolchain to compile the kernels whenever needed.
Please note this is a "one-time" effort - after the MIOpen cache been generated, the second run of the workloads will be much faster in the "auto-tune" st

[2019-11-26 07:52] quocdat32461997 opened #719 "Cannot test GPU running on Tensorflow 2.0 on Radeon VII"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version: tensorflow-rocm 2.0.0
- Python version: 3.6.9
- Installed using virtualenv? pip? conda?: pip3
- Bazel version (if compiling from source):
-

[2019-11-26 18:10] ghostplant commented on #702
@jeffdaily Maybe it is a bug only happens in ubuntu 18.04, and you can fully reproduce the crash with the following container environment:

[code]

After finishing the build of container, executing `mpirun --allow-run-as-root -x NCCL_DEBUG=INFO -n 4 python3 /benchmarks/scripts/tf_cnn_benchmarks/tf_cnn_benchmarks.py --variable_update=horovod` will trigger the crash problem.

[2019-11-26 18:11] ghostplant commented on #702
And there is no issue running other non-NCCL tensorflow applications.

[2019-11-26 21:12] sunway513 commented on #719
Hi @quocdat32461997 , can you confirm the ROCm version been installed in your system?
If you are using ROCm2.10, we'll release the compatible packages for TF 1.14.4 and TF2.0.1 by end of the day today.

[2019-11-26 22:26] quocdat32461997 commented on #719
Rocm version is 2.10

rocm-libs -a
Package: rocm-libs
Version: 2.10.14
Priority: optional
Section: devel
Maintainer: Advanced Micro Devices Inc.
Installed-Size: 13.3 kB
Depends: rocfft, rocrand, rocblas, hipblas, rocsparse, hipsparse, rocalution, rocprim, rocthrust, hipcub
Homepage: https://github.com/RadeonOpenCompute/ROCm
Download-Size: 798 B
APT-Manual-Installed: yes
APT-Sources: http://repo.ra

[2019-11-27 12:02] sebpuetz commented on #325
ROCm 2.9 was just released, did this fix make it into the current release? This comment https://github.com/ROCm-Developer-Tools/HIP/pull/1620#issuecomment-550258888 sounds like it might be part of the release, but your comment (@sunway513) from above places it in 3.0.

[2019-11-28 00:01] quocdat32461997 commented on #719
Re-installed with ROCm version: 2.10.14. GPU is working well.
However, bugs in #690 appears with tensorflow.keras.layers.LSTM.

[2019-11-28 12:31] sebpuetz commented on #325
Since https://github.com/ROCm-Developer-Tools/HIP/blob/roc-2.10.0/src/hip_event.cpp didn't receive any changes, it'll be another month until this fix finally gets released?

[2019-11-28 12:47] salmanulhaq commented on #362
cuDNN is not purely software play and is backed by actual silicon (dedicated tensor cores for MAD ops) which boosts half-precision performance. I'll need to check if Radeon VII has dedicated tensor cores as well. Also, nvidia won't automatically optimize code to make use of tensor cores, that has to be done w/ using cuDNN extensions

[2019-11-28 22:15] michaelklachko commented on #362
@salmanulhaq 1080Ti has no tensor cores.

[2019-11-28 23:32] raxbits commented on #362
do u have a referece for hardware being involved in CUDNN?

CUDNN afaik is pure software optimization , what u may be refering to is TENSORT cores which was added to packaged on Volta and carried to Turing silicons.

[2019-11-29 10:28] wellhowtosay commented on #706
thank you,I tried tensorflow.keras.layers.LSTM, and this time it works with no bug report. But,I didn't see any performance improvement. So I tried tf.compat.v1.keras.layers.CuDNNLSTM, and I received following exception
  File "/usr/local/lib/python3.5/dist-packages/tensorflow_core/python/keras/engine/training_arrays.py", line 143, in model_iteration
    model, inputs, steps_per_epoch, epochs=epoc

[2019-11-30 18:19] sunway513 commented on #719
@quocdat32461997 , thanks for the update.
The issue in #690 will be fixed in the coming TF2.1.0 release, we'll keep you posted.
cc @jerryyin

[2019-11-30 18:19] #719 closed

[2019-11-30 18:20] sunway513 commented on #706
@jerryyin , can you take a look here?

[2019-11-30 18:20] quocdat32461997 commented on #719
Thanks

[2019-12-02 16:25] jerryyin commented on #706
@wellhowtosay does the tf.test.is_gpu_available return False? If that's the case, then it means the GPU is not configured correctly. Also, the error message somehow indicating that the GPU device is not there: `Registered devices: [CPU, XLA_CPU]`.

[2019-12-02 16:36] jerryyin commented on #587
Confirmed that all regression pass and feature delivered in `rocm/tensorflow-autobuilds:rocm2.8-7eb6e3f` container.

[2019-12-02 16:36] #587 closed

[2019-12-02 19:49] bizlevel commented on #302
Same problem with miner on gfx900 (Vega FE)
https://github.com/xmrig/xmrig/issues/1340

[2019-12-03 14:04] wellhowtosay commented on #706
@jerryyin tf.test.is_gpu_available returned Falses, and I ignored following error report

2019-12-03 14:01:23.802669: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libhip_hcc.so
2019-12-03 14:01:23.803516: E tensorflow/stream_executor/rocm/rocm_driver.cc:1031] could not retrieve ROCM device count: HIP_ERROR_NoDevice
2019-12-03 14:01:23.803534:

[2019-12-03 16:08] jerryyin commented on #706
@sunway513 Could you help point to resources to setup his GPU correctly? Based on the conversation this is not a problem of LSTM module.

[2019-12-03 17:11] sunway513 commented on #706
@wellhowtosay , were you able to execute the rocminfo in your environment?
`/opt/rocm/bin/rocminfo`
If not, please review the following ROCm document and make sure your ROCm software stack is properly configured:
https://github.com/RadeonOpenCompute/ROCm.git

For questions regarding ROCm configuration, please open an issue on the ROCm main repository.

[2019-12-03 17:11] #706 closed

[2019-12-03 19:35] sunway513 commented on #325
@sebpuetz , as what commented, the fix will be part of ROCm3.0 release.
Before that, you can try to have the relevant HIP PR cherry-picked to the roc-2.10.0 branch and rebuild HIP.

[2019-12-07 18:36] The-real-Han-Chen opened #731 "Is a Windows version of Tensorflow-ROCM planned for the future?"
I don't have access to Linux currently but I have a windows PC. I just wonder if a windows version of TF-rocm is planned in the future. Thanks.

[2019-12-08 13:32] LaoFeng876 commented on #549
Could you tell me how you solve that? I met a similar problem like yours, thanks

[2019-12-09 06:29] LaoFeng876 commented on #549
Hi, could you tell me how you solve that? I met a similar problem like yours, thanks

[2019-12-09 07:06] LaoFeng876 opened #732 "Compilation error "undeclared inclusion(s) in rule '//tensorflow/core/kernels:softmax_op_gpu''" on ROCm 2.4 with TF 1.13.2-rocm"
lease make sure that this is a build/installation issue. As per our GitHub Policy, we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template

System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
    Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile devi

[2019-12-09 07:36] #732 closed

[2019-12-09 07:55] LaoFeng876 opened #733 "Compilation error "undeclared inclusion(s) in rule '//tensorflow/core/kernels:softmax_op_gpu''" on ROCm 2.4 with TF 1.13.2-rocm"
System information

OS Platform and Distribution (e.g., Linux Ubuntu 16.04): CentOS 7.4
Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
TensorFlow installed from (source or binary): source
TensorFlow version: 1.13.2-rocm
Python version: Python 3
Installed using virtualenv? pip? conda?: conda
Bazel version (if compiling from source): 0.15.2
GCC/Compiler

[2019-12-10 06:54] Mnkach commented on #731
See the answer here: https://github.com/RadeonOpenCompute/ROCm/issues/666.

[2019-12-10 08:22] ghostplant opened #736 "Available Tensorflow 1.15 for ROCm-2.10.0"
Tensorflow 1.14.x contains some functional bugs not related to ROCM, but fixed in 1.15.0. Currently there is no prebuilt Tensorflow 1.15 for ROCm-2.10.0 available in PYPI.
Tensorflow 1.15 for ROCm-2.9.0 is also an unstable version.

[2019-12-10 14:51] Matoran commented on #690
@jerryyin Hi, which changes solves the problem? I've tested the image rocm/tensorflow-autobuilds:rocm2.8-f4df78b and it works. But I've tested it on a computer with AVX, now I need to make it work on a computer without AVX instructions. Do I need to compile a specific commit from this repo or the official one ?

[2019-12-10 17:38] The-real-Han-Chen commented on #731
I see, thank you. I guess I have to try other things then.

[2019-12-10 17:38] #731 closed

[2019-12-10 21:00] sunway513 commented on #736
Hi @ghostplant , we are waiting for the upstream TF maintainer to merge the PR that cherry-picked some RCCL enhancement, for details please refer to:
https://github.com/tensorflow/tensorflow/pull/34532
Tensorflow 1.15 whl package will be built from upstream [r1.15 branch](https://github.com/tensorflow/tensorflow/tree/r1.15) after the above PR got merged.
Thanks for the patience, I'll keep you post

[2019-12-10 21:02] sunway513 commented on #733
Hi @LaoFeng876 , you might try to cherry-pick the following PR to fix the clang header issue:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/commit/2ea275d5806d45a6ec53cef86de66cf8d6367a00

[2019-12-10 21:04] sunway513 commented on #733
BTW, it seems you are building TF 1.13 on CentOS, please pull the tip of the following r1.13-rocm-centos branch, that has the clang 10 header PR cherry-picked already:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/r1.13-rocm-centos

[2019-12-10 21:06] sunway513 commented on #713
@apivovarov any updates for the steps to repro? Or do you still have questions?
I'm closing it for now, feel free to re-open it if you still have questions.

[2019-12-10 21:06] #713 closed

[2019-12-10 21:06] #704 closed

[2019-12-11 02:12] ghostplant commented on #736
@sunway513 Thanks!

[2019-12-12 16:09] roschler commented on #362
Anybody tried TF 2.0 with a Radeon RX 580, with 8GB RAM?  Does it work?  If it does, has anybody tried running multiple cards in parallel?

I have one of the first generation Nvidia Titan X cards (pre-pascal).  I'm finally giving up on it.  It can only run CUDA drivers from a *long* time ago,  from the year the card first was produced.  Anything newer, I've tried them all, and the card won't initi

[2019-12-12 17:33] himanshugoel2797 commented on #362
It ought to work but I'm not convinced that there's a point in running multiple 580s on a single training task. I don't think they'd be fast enough to gain a meaningful speedup (I didn't test rocm, but in a rendering task between a VII and a 580, it was faster to just use the VII than to have them both work together).

[2019-12-12 23:00] sunway513 commented on #736
Hi @ghostplant , we have released the whl packages built with ROCm2.10 user bit, please take a look there and let us know your feedbacks if any:
https://pypi.org/project/tensorflow-rocm/1.15.0/

For PYPi release histories and compatibilities with ROCm versions, please refer to the following doc:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-

[2019-12-12 23:00] #736 closed

[2019-12-13 14:54] #699 closed

[2019-12-13 17:07] sunway513 commented on #496
Ping @nuu9323226 , can you provide instructions to repro the issue?

[2019-12-13 17:20] jerryyin commented on #496
This is possibly a duplicate to #619. The series of conv3D run out of memory issue due to large gemm sizes required.

[2019-12-13 17:30] sunway513 commented on #496
Ping @nuu9323226 , can you provide instructions to repro the issue?

[2019-12-14 01:30] emerth commented on #496
Hi Sunway, and nuu9323226 - I experienced something very similar where the memory required by miopen to instantiate BVLC GoogleNet model using hipcaffe would grow quite exponentially resulting in my Radeon VII running out of memory.

I solved it by deleting everything under ~/.cache/miopen and restarting the training. I know I had some object files in there generated by a previous mixture of versi

[2019-12-14 16:12] sunway513 commented on #496
Hi @emerth , thanks for the comments.
Every time you upgrade ROCm builds installed on your system, it's desired to clean up the MIOpen cache under ~/.cache folder.
For details, please refer to the following doc:
https://github.com/ROCmSoftwarePlatform/MIOpen#persistent-program-cache

[2019-12-15 04:15] #711 closed

[2019-12-18 08:25] juliusshufan opened #759 "failed to memset memory: HIP_ERROR_InvalidValue"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS: Linux Ubuntu 18.04
- TensorFlow installed from (source or binary): binary
- TensorF

[2019-12-19 02:00] emerth commented on #496
Hi Peng,

I just wanted to send thanks to you and the ROCm & miopen team. With release 2.9 ROCm now runs Caffe (hipcaffe) well enough that I can run deepdream-type codes. In the past I would hit bugs in code generation when running the sort of recursive code deepdream uses. I seem to recall you forwarded an issue from this to the miopen or Clang people on my behalf last year, and the fix arrived i

[2019-12-20 03:08] sunway513 commented on #759
Hi @juliusshufan , ROCm currently doesn't have full GFX10 architecture support. We'll update this thread when we have more information to share.

[2019-12-20 03:08] #759 closed

[2019-12-20 03:10] juliusshufan commented on #759
@sunway513 Thanks for the information, is GFX10 support on the ROCm roadmap?

[2019-12-20 03:18] sunway513 commented on #759
Hi @juliusshufan , I don't have more information to share at the moment.
For ROCm support status, please check with the ROCm main repository below:
https://github.com/RadeonOpenCompute/ROCm

[2019-12-20 20:43] sunway513 commented on #733
Hi @LaoFeng876 , I'm closing this issue for now, please feel free to reopen it if there are more issues.

[2019-12-20 20:43] #733 closed

[2019-12-21 13:18] seesturm opened #766 "Segmentation fault on import of tensorflow-rocm 2.0.2"
**System information**
- Ubuntu 18.04.03 LTS
- TensorFlow-rocm installed from: binary
- TensorFlow-rocm version: 2.0.2
- Python version: 3.6.9
- ROCm version: 2.10
- GPU model: gfx900 / Vega 10 XT / Radeon RX Vega 56

**Describe the current behavior**
When performing "import tensorflow" following is seen on console:
[code]

**Describe the expected behavior**
Tensorflow is imported correctly, e.g.

[2019-12-21 23:16] XuanBaby opened #767 "(0) Invalid argument: Input to reshape is a tensor with 0 values, but the requested shape has 169344"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
I use the images rocm/tensorflow:rocm2.10.0-tf1.14-dev
- Have I written custom code (as opposed to using a stock

[2019-12-22 15:19] sebpuetz commented on #767
Probably #325, should be fixed in ROCm 3.0?

[2019-12-23 04:12] XuanBaby commented on #767
@sebpuetz  I run the program use imges:rocm/tensorflow:rocm3.0-tf1.14-python3,the same error
[xuan-rocm3.0-4dcu.log](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/3993604/xuan-rocm3.0-4dcu.log)

[2019-12-30 01:20] sunway513 commented on #766
Hi @seesturm , the issue seems related to your local configuration.
Can you try to pull the tensorflow-rocm docker containers and see if you can reproduce it there?
https://hub.docker.com/r/rocm/tensorflow

[2019-12-30 01:28] sunway513 commented on #767
Hi @XuanBaby , in your new log there's no longer messages w.r.t. `Invalid argument: Input to reshape` error, hence the original issue might have been fixed in ROCm3.0 docker container.
Can you list the exact steps to reproduce your issue?
cc @jeffdaily

[2019-12-30 09:33] seesturm commented on #766
I've googled a lot for this error message and found no conclusive information yet. I guess that it is even not python specific. After (re-)installation of rocm-3.0.6 and tensorflow-rocm-2.0.2 it works now. Would be really interesting to know what was the problem.

Whatever it was, apparently nothing is wrong with 2.0.2. So I'm closing this issue.

[2019-12-30 09:33] #766 closed

[2019-12-31 02:51] XuanBaby commented on #767
Hi @sunway513  I did not change the code,just run it in images:rocm/tensorflow:rocm3.0-tf1.14-python3.  reshape error not found but in the two logs ,the traceback information are same,
 in addition ,about the warrning  `W tensorflow/core/kernels/queue_base.cc:277] _0_QueueInput/input_queue: Skipping cancelled enqueue attempt with queue not closed`  Why the warning? could you give me some guides?

[2020-01-02 02:23] omerferhatt opened #776 "gfx1010 tf.Variable definition error"
<em>Please make sure that this is a bug. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code: No, I guess..
- OS Platform and Distribution: Ubuntu 18.04.03 LTS
- TensorFlow ins

[2020-01-02 02:36] omerferhatt commented on #776
Sorry for my English. I realized that the part that gave the error is not the math operation part. Error occurs, where variable is defined.

[code]

these two lines.

[2020-01-02 15:51] jeffdaily commented on #767
I see from the initial issue report that you are using horovod, and I also confirm from the latest log that you are running using mpirun (again, for horovod).
[code]
How did you install horovod?  From the main repo?  Our fork/branch?

[2020-01-04 04:32] toaomalkster commented on #517
I'm having a hard job running that tutorial in Google Callaboratory too. I'm getting about 2s/step, instead of the 141ms/step in the saved output within notebook of the tutorial.
Like @witeko, I generally get comparable performance to the saved output in the tutorial, so this stands out as doing something odd.
[code]

[2020-01-04 06:05] toaomalkster commented on #517
I've partially figured this out: in my case, I'm running on a Colab notebook with a TPU, but there's something about the model or dataset that means it cannot run on TPU, so it falls back to CPU.
When I switch the notebook to GPU, I get the documented speeds.

This is even easier to see when training the with/without CudNN example here:
https://www.tensorflow.org/guide/keras/rnn
If the notebook is

[2020-01-04 17:52] Bengt commented on #539
I ran into the same problem after upgrading to rocm 3.0. The full stacktrace for improved visibility in search engines:

[code]

Seems like the library name has changed from `.2` to `.3`, but the symbols stayed largely the same. So I fixed this issue by linking the old name to the new binary:

    cd /opt/rocm/lib
    sudo ln -s libmcwamp.so.3.0 libmcwamp.so.2

... or as a oneliner:

    sudo ln -

[2020-01-06 16:20] sunway513 commented on #539
@Bengt Thanks for reporting the issue. Just FYI, we didn't see such issue using rocm/tensorflow docker containers built with ROCM3.0, hence this issue is likely caused by some obsoleted packages on your system during upgrade.
Please let me know if you can reproduce the issue in docker containers, thanks.

[2020-01-06 23:03] sunway513 commented on #776
Hi @omerferhatt , GFX1010 is not supported by ROCm stack yet, please follow the document from ROCm main repo below on up-to-date support status:
https://github.com/RadeonOpenCompute/ROCm#supported-gpus

[2020-01-06 23:03] #776 closed

[2020-01-07 02:43] XuanBaby commented on #767
Hi @jeffdaily ,about horovod,I try two way to install,
One isuse the [horovod/horovod](https://github.com/horovod/horovod),default, `HOROVOD_GPU_ALLREDUCE=MPI HOROVOD_GPU_ALLGATHER=MPI HOROVOD_GPU_BROADCAST=MPI HOROVOD_GPU_ROCM=True HOROVOD_WITHOUT_GLOO=1 HOROVOD_CPU_OPERATIONS=MPI HOROVOD_WITHOUT_MXNET=1 HOROVOD_WITHOUT_PYTORCH=1 HOROVOD_WITH_TENSORFLOW=1 python3 setup.py install`
the other is [R

[2020-01-07 16:48] jeffdaily commented on #767
Thank you for providing more details.  I will try and reproduce.

Note that when using https://github.com/horovod/horovod, it will ignore the `HOROVOD_GPU_ROCM=1` setting -- we haven't yet had our upstreaming PR approved and merged.

You may continue to try using https://github.com/ROCmSoftwarePlatform/horovod, either the `hip` branch or the newer `hip-pimpl` branch.  These two hip branches in our

[2020-01-08 22:02] kuabhish commented on #362
Can anyone reply to  @QuantumInformation question please?

[2020-01-08 22:21] QuantumInformation commented on #362
I've now upgraded to the new MBP 16, but not used TFJS for a while, might get into py soon.

[2020-01-08 22:23] sunway513 commented on #362
Hi @QuantumInformation @kuabhish , please refer to the following doc for ROCm support coverage over OSes:
https://github.com/RadeonOpenCompute/ROCm#deploying-rocm
There's another thread discussing the Mac support on main ROCm repo:
https://github.com/RadeonOpenCompute/ROCm/issues/262

[2020-01-10 02:02] XuanBaby commented on #767
@jeffdaily Thank you for your help .
and about [https://github.com/ROCmSoftwarePlatform/horovod](url) I have another question,when I try use pytorch & horovod ,I can install pytorch and horovod together,but when I run the [horovod/examples](https://github.com/ROCmSoftwarePlatform/horovod/blob/hip/examples/pytorch_imagenet_resnet50.py),the error bellow:
`Traceback (most recent call last):
  File "p

[2020-01-10 15:48] jeffdaily commented on #767
@XuanBaby That is because we have not yet enabled Horovod with PyTorch.  The build will succeed because the CUDA code in the horovod/torch directory is conditionally compiled, but the non-CUDA path that you are getting will simply error out as you have encountered.  ROCm+PyTorch+Horovod is in development.

[2020-01-13 01:40] Bengt commented on #539
I see the issue with `rocm/tensorflow:rocm3.0-tf2.0-python3`:

https://gitlab.com/pfasdr/code/main/-/jobs/400589470#L249
https://gitlab.com/pfasdr/code/main/-/jobs/400589469#L237

[2020-01-13 09:20] XuanBaby commented on #767
@jeffdaily  when will it be supported? do you have the roadmap about it?

[2020-01-20 18:41] #702 closed

[2020-01-20 23:15] witeko opened #827 "should I expect performance increase using mixed_precision.Policy('mixed_float16') with radeon7?"
should I expect performance increase using mixed_precision.Policy('mixed_float16') in tensorflow-rocm with radeon7?
Currently I don't see any but this may be caused by other factors...

[2020-01-20 23:40] sunway513 commented on #827
@witeko , what TF codebase are you referring to?
cc @deven-amd

[2020-01-20 23:59] witeko commented on #827
tensorflow-rocm-2.1.0rc1 or tensorflow-rocm-enchanced-2.00 (newest master branch)
I didn't do extensive testing (just simple checking), I just want to know what to expect. :)

[2020-01-21 01:37] sunway513 commented on #827
@deven-amd , can you explain the behaviors?

[2020-01-21 15:17] herruli opened #829 "Doesn't detect AMD GPU when conda activated virtual environment"
I have just installed tensorflow-rocm version for AMD GPU. When it is under base, the GPU can be found. Yet, when I clone the base and activate it. The GPU cannot be found. Thank you for your assistance.

tensorflow version in base 2.0.2
tensorflow version in tf-stock (virtual environment) 2.0.0

![imageedit_6_5402180129](https://user-images.githubusercontent.com/21146981/72816997-04241c80-3ca4-11

[2020-01-25 20:52] ekuznetsov139 commented on #827
my profiling indicates the potential speedup of up to ~20% from float16 vs float32 on Radeon VII.

[2020-01-25 20:55] witeko commented on #827
@ekuznetsov139 20%>0%, but why only that if the computing itself should be 2x faster?

[2020-01-26 05:01] FeepingCreature commented on #534
I seem to have ran into this with a local version of stylegan2 https://github.com/NVlabs/stylegan2 with the nvidia stuff turned off, it causes a memory access fault almost immediately unless I turn off the `tf.transpose` call in networks_stylegan2.py:110 by turning off fused_modconv.

[2020-01-26 15:26] twuebi commented on #534
If you can, I'd suggest PyTorch, did experience much less trouble there.

[2020-01-27 01:29] sunway513 commented on #534
@twuebi , do you still see this issue using ROCm3.0 stack?

[2020-01-27 12:10] sterlingpickens commented on #534
I am seeing something similar on my VegaFE with ROCm3.0 when I run numberfields boinc project:
https://numberfields.asu.edu/NumberFields/result.php?resultid=75544730

Opening output file ../../projects/numberfields.asu.edu_NumberFields/wu_sf3_DS-14x271_Grp632749of3932160_0_r6819622_0
Now starting the targeted Martinet search:
  Num Cvecs = 5.
    Doing Cvec 1.
Memory access fault by GPU node-1 (Ag

[2020-01-27 12:19] sterlingpickens commented on #534
Here is another error with the same config running einstein@home gravitational wave
This wasn't present in ROCm 2.10.0. Numberfields worked on an older ROCm, but hasn't worked since 2.8.x or so.
https://einsteinathome.org/task/917690484

XLAL Error - XLALGetOpenCLProgramFromSource (/home/jenkins/workspace/workspace/EaH-GW-OpenCL-Testing/SLAVE/LIBC215/TARGET/linux-x86_64/EinsteinAtHome/source/lalsu

[2020-01-27 12:24] twuebi commented on #534
Am still on 2.9, no troubles using PyTorch there, don't want to upgrade unless there's a good reason to (https://github.com/ROCmSoftwarePlatform/pytorch/issues/559). Docker is inconvenient and did slow things down (https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/534#issuecomment-509302747).

[2020-01-27 12:30] sterlingpickens commented on #534
ROCm 3.0 seems like a radical change. It deprecated some things, changed some dirs around, and is using llvm 10.0.0 which isn't even in RC1 status yet upstream. I suspect it'll take another month or two to stabilize. It seems like the compiler and/or runtime are doing something wrong.

[2020-01-28 19:08] jeffdaily commented on #829
I'm not able to reproduce the issue precisely.  I am running inside a ROCm 3.0 docker container.  I have tried with miniconda3 and anaconda3.

The only extra info you haven't provided is how you installed tensorflow-rocm in your (base) conda environment.  I used `pip install tensorflow-rocm`, which installs tensorflow-rocm==2.0.2.  See this link for the list of ROCm compatibility for tensorflow-ro

[2020-01-28 19:12] jeffdaily commented on #829
From your initial comment:

tensorflow version in tf-stock (virtual environment) 2.0.0

Shouldn't the tensorflow version in your tf-stock virtual environment also be 2.0.2?  It's not clear to me how your conda clone command produced this new TF version in your cloned environment.

[2020-01-28 22:58] jeffdaily commented on #767
Before Horovod PyTorch is fully supported, we need improved support for `torch/utils/cpp_extensions.py` for building ROCm PyTorch extensions such as Horovod.  The PR tracking that progress is https://github.com/pytorch/pytorch/pull/32669.

If you were to build the PyTorch branch that the PR is based on (https://github.com/ashishfarmer/pytorch/tree/af/hipext), you could then build our Horovod branc

[2020-01-30 19:24] kk325ic opened #849 "compilation error of tensorflow-rocm"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1. It must be a bug, a feature request, or a significant problem with documentation (for small docs fixes please send a PR instead).
2. The form below must be filled out.
3. It shouldn't be a TensorBoard issue. Those go [here](https://github.com

[2020-02-02 18:16] Bengt commented on #849
Hi, @kk325ic! If you are running into the same issue as I am, the next lines actually provide the error message:

[code]

[2020-02-03 14:15] kk325ic commented on #849
Yes, I confirmed that I get the same error message:

ERROR: /tmp/tf/tensorflow-upstream/tensorflow/stream_executor/rocm/BUILD:214:1: C++ compilation of rule '//tensorflow/stream_executor/rocm:miopen_plugin' failed (Exit 1)
tensorflow/stream_executor/rocm/rocm_dnn.cc: In function ‘std::__cxx11::string stream_executor::gpu::ToString(miopenConvAlgorithm_t)’:
tensorflow/stream_executor/rocm/rocm_dnn.c

[2020-02-03 16:10] Bengt commented on #849
@kk325ic our error messages seems similar, but not the same. Maybe I should rather create a separate issue. I will wait for an opinion of the developers, though. Perhaps these are similar enough to have a common fix.

[2020-02-03 16:11] whchung commented on #849
@deven-amd could this issue be something related with recent changes between immediate mode and find mode in MIOpen integration logic?

[2020-02-03 16:23] deven-amd commented on #849
@Bengt , can you do a `dpkg -l | grep miopen` in the same node / container, where you are getting the compiler error?

The `develop-upstream` version of tensorflow-rocm requires a newer version MIOpen (than the one that ships with ROCm 3.0), and I suspect that this maybe the cause of the error.  The newer MIOpen version introduces the `miopenSetNdPoolingDescriptor` api routine, and hence you will

[2020-02-03 16:52] Bengt commented on #849
Yes, I use MIOpen from the PPA which is ROCm 3.0:

[code]

This (2.2.0) seems to be the latest release of MIOpen, though:

<https://github.com/ROCmSoftwarePlatform/MIOpen/releases>

Where could I get a newer MIOpen from?

[2020-02-03 18:15] deven-amd commented on #849
The newer MIOpen version required by the tip of `develop-upstream` is not yet available publicly (it is expected to be released in ROCm 3.2). Until then, your best bet would be to use an older commit on the `develop-upstream` branch  for building TF. This is the last commit in `develop-upstream`, before the commit which requires the newer MIOpen

https://github.com/ROCmSoftwarePlatform/tensorflow-

[2020-02-03 18:23] ranisalt commented on #302
Same problem on Vega M GH, setting `HCC_SERIALIZE_KERNEL=0x3 HCC_SERIALIZE_COPY=0x3  HIP_TRACE_API=0x2 MIOPEN_ENABLE_LOGGING_CMD=1` produces no further output.

[2020-02-03 23:37] Bengt commented on #302
I ported the test to TensorFlow 2:

[code]

It still works with image `rocm/tensorflow:rocm3.0-tf2.1-rc1-python3` on 4 x Vega 64 8 GB  Liquid Edition.

[2020-02-04 15:09] Dan-RAI commented on #302
Same problem on Radeon VII running custom hip ported code distributed via [ray](https://github.com/ray-project/ray). The code runs flawless without ray. On nvidia no problems with non-ported code and ray.

[2020-02-05 04:50] ws7474741 opened #855 "'Missing input file' when I build tensorflow-upstream"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-02-05 18:53] aserio commented on #303
@parallelo What is the current state of this ticket?

[2020-02-05 19:54] sunway513 commented on #855
Hi @ws7474741 , most likely the issue is related to your local environment.
The following docker container has full dependencies to build TF1.14 code base from source with ROCm3.0 user bits:
**rocm/tensorflow:rocm3.0-tf1.14-dev**

Can you try to check there and do a side-by-side with your local environment? For steps to deploy docker containers, please refer to the following document:
https://hub.

[2020-02-06 08:57] ws7474741 commented on #855
Hi @sunway513 , it works! Thank you so much!

[2020-02-06 08:58] #855 closed

[2020-02-14 00:53] atbraoy commented on #270
Not sure if this will help anyone but I had similar issue, I reinstalled the rocm libs again (even after installing the tensorflow-rocm), and it worked, it can detect and list the available gpus and cpu, here is the install command:
`sudo apt install rocm-dkms rocm-libs hipcub miopen-hip`

Hope it helps anyone.

[2020-02-18 17:39] jeffdaily commented on #767
Closing this ticket since the original issue is resolved, `Invalid argument: Input to reshape`.  Please open a new ticket for any additional issues.  Thanks.

[2020-02-18 17:39] #767 closed

[2020-02-20 14:16] extraymond commented on #173
Results for running benchmark in lxc container, host ubuntu 18.04, guest 18.04n

GPU: vega56
ROCM:  3.0 with rocm-dev(without dkms, kernel 5.3)
tensorflow-rocm: 2.0.1

[code]

[2020-02-26 19:54] maximilianolucius opened #877 "Train loss get unexpected nan values"
**System information** - Stock example of ResNet 50 on MNIST from tensorflow models.
 - OS Platform and Distribution: Linux Ubuntu 18.04
- TensorFlow pip installation in a virtual env.
 - TensorFlow version / Python version / GCC/Compiler version (if compiling from
source) / GPU model and memory: Vega 10 Frontier Edition 16Gb
== check python ===================================================
pyth

[2020-02-26 19:55] maximilianolucius commented on #877
[output.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/4257887/output.txt)

============================================================
lspci -nn | grep -E 'VGA|Display'
0b:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc. [AMD/ATI] Vega 10 XTX [Radeon Vega Frontier Edition] [1002:6863]
0e:00.0 VGA compatible controller [0300]: Advanced Micro Devices, Inc

[2020-02-27 02:14] sunway513 commented on #877
Hi @maximilianolucius , Resnet50 is under our QA coverage, we expect it works well.
Can you try the workload inside our docker containers below?
https://hub.docker.com/r/rocm/tensorflow
If the issue can still be reproducible inside docker container, please let us know. Thanks!

[2020-02-28 06:41] witeko opened #878 "where/how can I find the source code to the newest (2.1.0) release?"
where/how can I find the source code to the newest (2.1.0) release?

[2020-02-28 13:24] Bengt opened #879 "Fix CI"
These builds have been failing for months:

http://ml-ci.amd.com:21096/

They are linked in this project's README as well as the upstream TensorFlow. Therefore, visibility is quite high, making this bad look costly. Also, regular/official releases are far between and therefore lack compatibility with latest libraries at times. So stabilizing the builds continuous integration can help detect this c

[2020-02-28 13:26] Bengt commented on #879
The recent release of ROCm 3.1 shows that there is capability to create releases. So that knowledge needs to be collected and institutionalized in the configuration of the build server.

[2020-02-28 17:57] maximilianolucius commented on #877
Hi @sunway513 ! Thank in advanced for your quick answer.

I did a fresh installation of Ubuntu 18.04 in my machine and I did try the training inside tensorflow-rocm docker container but the issue persist: I got nan values in loss funciton.

Regards,

Max

[2020-02-28 19:22] sunway513 commented on #877
Hi @maximilianolucius , can you provide me the following log outside of the docker container:
`dmesg | grep amdgpu`
`apt --installed list | grep rock`

[2020-02-28 19:34] maximilianolucius commented on #877
[    5.903236] [drm] amdgpu kernel modesetting enabled.
[    5.903462] amdgpu 0000:0b:00.0: remove_conflicting_pci_framebuffers: bar 0: 0xe0000000 -> 0xefffffff
[    5.903464] amdgpu 0000:0b:00.0: remove_conflicting_pci_framebuffers: bar 2: 0xf0000000 -> 0xf01fffff
[    5.903465] amdgpu 0000:0b:00.0: remove_conflicting_pci_framebuffers: bar 5: 0xfcd00000 -> 0xfcd7ffff
[    5.903467] fb0: switching

[2020-02-28 19:44] sunway513 commented on #877
One more information, what's the base kernel version?
`uname -a`
The provided log all looks right, I'll try to get a Vega10 GPU and reproduce your issue.

[2020-02-28 19:45] sunway513 commented on #878
Hi @witeko , the source code for TF2.1 tensorflow-rocm release is based on the following branch:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/r2.1

[2020-02-28 19:45] #878 closed, assigned to nobody

[2020-02-28 21:47] maximilianolucius commented on #877
Hi @sunway513 !

Linux pinky 5.3.0-40-generic #32~18.04.1-Ubuntu SMP Mon Feb 3 14:05:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Is there a sw tool to check the Vega 10?
Regards,
Max

[2020-02-29 04:01] sunway513 commented on #877
Hi @maximilianolucius , what kind of tool do you need?
You can use the following cmd to watch for GPU status:
`watch -n 0.1 /opt/rocm/bin/rocm-smi`
For other rocm-smi options, you can refer to the doc here:
https://github.com/RadeonOpenCompute/ROC-smi

[2020-03-02 16:33] sumannelli commented on #362
Hi Cvikli,

I am having radeon-vii but not able to configure with tensorflow. Please guide me. I was struggling to configure this for more than 15 days. Can I use the my gpu without docker ? Can i use the tensorflow 1.x with gpu. I had installed the rocm but still gpu is bot responding while training my model.

My system config:
OS: Ubuntu 18.04
Thanks
Suman

[2020-03-02 17:30] sunway513 commented on #362
Hi @sumannelli , did you follow the following instructions to install TF?
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-install-basic.md

And certainly, you can use your GPU without docker, that's just a matter of deployment approach -- using docker would likely help you save some time config the user bit environment with ROCm.

[2020-03-02 23:03] maximilianolucius commented on #877
Thanks @sunway513 for your answer!

I mean a tool to stress video board at opencl level so that We could discard any issue from hw to opencl. Or something like that in order to isolate the issue.

Warm regard,

Max

[2020-03-02 23:57] sunway513 commented on #877
Hi @maximilianolucius , RVS provide such stress tool, you might want to consult with the following thread:
https://github.com/ROCm-Developer-Tools/ROCmValidationSuite/issues/429

[2020-03-03 01:12] sumannelli-Ib commented on #362
HI Sunway513,
Thanks for the reply. I can able to use the AMD radeon Vii with Tensorflow2.1 but while my model is training, it is using only 3% of memory only.
OS: ubuntu 18.04
kernel: 5.3
rocm:3.1.3
tensorlow:2.1
If I am using any incompatible version please let me know. once again thanks for the quick reply.
Thanks
Suman Nelli

[2020-03-04 14:57] maximilianolucius commented on #877
Good morning @sunway513 !
There is no news in ROCmValidationSuite: I mean that I run all available test includinf gst (gpu stress) and there is no exception or error.
Do you thin that new release version 20 driver could help in my issue?

Regards,

Max

[2020-03-04 15:53] ant1s commented on #173
GPU: radeon vii
OS: ubuntu 18.04

ROCM: 3.0
tensorflow: 2.0
[code]

[code]

ROCM: 3.1
tensorflow: 2.1

[code]

[code]
a huge boost!!!

[2020-03-04 17:23] sunway513 commented on #877
Hi @maximilianolucius , just for my information, were you able to run tf_cnn_benchmark resnet50 correctly?
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-quickstart.md#tensorflows-tf_cnn_benchmarks

[2020-03-04 19:19] ekuznetsov139 commented on #879
The failing builds are for the upstream fork (tensorflow/tensorflow). CI tests for ROCmSoftwarePlatform/tensorflow-upstream consistently pass, but it takes time for our fixes to be accepted into the upstream fork, and people in charge of tensorflow/tensorflow evidently don't run the same CI as we do, so their code is rarely in a sufficiently stable condition to pass our CI.

[2020-03-05 03:01] Bengt commented on #879
Hi @ekuznetsov139!

Thanks for the insight. I can imagine how keeping the jobs in the continuous integration succeeding is difficult with fast movement on both the side of TensorFlow and ROCmSoftwarePlatform. However, the builds have been failing for a long time, which renders them largely useless. So it would be helpful to have reasonably current builds and their artifacts readily available.

Are

[2020-03-05 08:34] maximilianolucius commented on #877
Hi @sunway513 !
I am not able to run tf_cnn_benchmark resnet50 correctly. Attached is the output
[tf_cnn_benchmarks_output.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/4291783/tf_cnn_benchmarks_output.txt)

[2020-03-05 17:41] sunway513 commented on #877
Hi @maximilianolucius , the error log suggests TF runtime can not find rocblas and miopen shared library, see the following errors:
[code]
Can you try with our docker containers? That would help ensure a good user-bit TF environment:
https://hub.docker.com/r/rocm/tensorflow

[2020-03-07 04:25] Sifatul22 commented on #362
Hi, Guys
My CPU specs are
Ryzen 5 3600 and AMD Radeon RX 5500 XT
Is there any way I could enable TensorFlow GPU using Rocm or other platforms? Please help me out

[2020-03-09 18:11] sunway513 commented on #362
HI @Sifatul22 , your configuration should work.
Please follow the document here to install ROCm and Tensorflow-rocm:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-install-basic.md
Let us know if you have questions, thanks.

[2020-03-09 18:55] briansp2020 commented on #362
@sunway513 Is Navi now supported? Radeon RX 5500 XT is Navi, isn't it?

[2020-03-09 19:46] sunway513 commented on #362
Hi @briansp2020 , Navi is not supported by ROCm yet, please refer to the following document for the GPU GPU list supported by ROCm:
https://github.com/RadeonOpenCompute/ROCm#supported-gpus

[2020-03-12 00:15] Bengt opened #890 "Support Python 3.8"
Python 3.8 has was released on 2019-10-14, which is about 5 months ago:

<https://docs.python.org/3/whatsnew/3.8.html>

Python 3.9 is scheduled to be released on 2020-10-05, which is in about 7 months:

<https://www.python.org/dev/peps/pep-0596/>

There are no packages for Python 3.8, as of yet:

<https://pypi.org/project/tensorflow-rocm/2.1.0/#files>

Currently, Python 3.7 seems to have the broad

[2020-03-12 15:56] roblem opened #893 "Performance problems using tensorflow_probability"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes.
- OS Platform and Distribution
Linux Ubuntu 18.04 using upstream radeon kernel driver and launching ROCM scripts in the latest docker container using `TF_ROCM_FUSION_ENABLE=1 `
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
N/A
- TensorFlow installed from (sou

[2020-03-12 17:35] roblem commented on #893
Adding some more results here that also include CPU.  Turning on `xla` compilation via `@tf.function(experimental_compile=True)` leads to huge differences:

|   |NUTS | Function|
|-- | -- | --|
|ROCM CPU | 832.8751 | 0.2176|
|ROCM GPU (Radeon VII) | 386.89 | 0.0427|
|TF CPU (No XLA) | 648.65 | 0.36|
|TF GPU (No XLA) (Nvidia Tesla P100) | 128.28 | 0.05|
|TF CPU (XLA) | 629.5549 | 0.7941|
|TF GPU (X

[2020-03-13 16:43] roblem commented on #893
Here are few more benchmarks for a more realistic (not toy data) model from my own research.  The likelihood function (pure tensorflow) for Model 2, in particular, has a lot of `linalg`, `scatter_nd`, `gather_nd`, and `reduce` calls.  From the function evaluation times, we see that ROCM is slower than the XLA cuda call by 40%, which isn't ideal but understandable given that XLA hasn't been complet

[2020-03-13 19:23] Bengt commented on #890
Here is a build which demonstrates the kind of errors one can encounter when using a non-supported python interpreter:

https://gitlab.com/pfasdr/code/main/-/jobs/471398301

[code]

[2020-03-16 07:33] hanhanyimo opened #895 "TextCNN with rocm-tensorflow has the same performance with tensorflow-cpu"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-03-17 03:12] sumannelli-Ib opened #897 "*** stack smashing detected ***: <unknown> terminated Aborted (core dumped)"
Hi Team,

**System information**
- OS Platform and Distribution: Ubuntu 18.04

- TensorFlow installed from (source or binary): pip install tensorflow-gpu==1.15.0
- TensorFlow version:1.15.
- Python version:3.6.69
- GCC/Compiler version (if compiling from source):8.3
- ROCm/MIOpen version:1.15.0(tensorflow_rocm-1.15.0-cp36-cp36m-manylinux1_x86_64.whl)
--
- GPU model and memory:AMD GPU vega 20

I am

[2020-03-18 13:14] XzenTorXz opened #900 "Tensorflow only sees one GPU"
**System information**

- Host: Ubuntu 18.04 (5.3.0-050300-lowlatency) and Docker version 19.03.8
- Docker-Image:
  - rocm/tensorflow:rocm3.1-tf2.1-dev
  - Python 3.7
  - Tensorflow 2.1.0
- Docker-Compose:
[code]

**Debug Info (inside the Docker Container)**
***lspci***

[code]
***rocm_smi***
[code]
until here everything looks normal.

***rocminfo***
[code]
`groups`:
[code]
I'm not sure if there s

[2020-03-19 13:54] sumannelli commented on #362
Hi sunway513,
I referred the link you provided to install the Rocm, it is installing with python 2.7. But I want to install with python 3.6.
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-install-basic.md
Please suggest me on this.
Thanks

[2020-03-19 14:58] yshen22 opened #901 "Training slow down after 50 steps"
I am training my UNet in tensorflow 1.15-ROCM3.1 on my Radeon vii. My model is writing on tf.slim. The first 50 training takes about 0.0105s per/step on average. However the training speed always slows down to 0.03 per/step after 50 training steps.
However this issue was not observed on tensorflow-CUDA on a 1080Ti gpu. The speed always keeps on about 0.015 per/step on average. Would anyone tells h

[2020-03-19 16:01] AndrewCarterUK opened #902 "Using Keras MaxPooling2D - dnn PoolBackward launch failed"
## Introduction

I'm working through a command recognition problem, essentially porting the [TensorFlow audio recognition model](https://github.com/tensorflow/docs/blob/master/site/en/r1/tutorials/sequences/audio_recognition.md) to Keras.

My model code is essentially:

[code]

## Error

[code]

If I remove the MaxPooling2D layer, the model trains without error.

[code]

I'm a bit new to using all

[2020-03-19 21:43] sunway513 commented on #362
Hi @sumannelli , in the same document, if you follow the steps to install python3 dependencies, depends on the default python3 version you have in your environment, you should be able to configure it correctly.

[2020-03-23 21:42] sumannelli commented on #362
@Hi sunway513,

Thanks for the reply Now I can run tensorflow2 on AMD radeon Vii.
But now  I am using object detection api which support tensorflow1.15.0, when i installed thetensorflow-rocm==1.15.0 ,getting the error as"
aceback (most recent call last):
  File "/home/ideabytes/anaconda3/envs/tf/lib/python3.6/site-packages/tensorflow_core/python/pywrap_tensorflow.py", line 58, in <module>
    from

[2020-03-24 10:15] roblem commented on #893
XLA compilation failure might be the root cause of the performance issues outlined above.  As I outline in #908, there seems to be a bug in `tf.math.bincount` that when fixed might enable XLA compilation and improve performance.  So closing for now.

[2020-03-24 13:54] #893 closed, assigned to nobody

[2020-03-24 14:31] roblem opened #908 "tf.math.bincount can only sum integer weights when using XLA"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow):  Yes.
- OS Platform and Distribution
Linux Ubuntu 18.04 using upstream radeon kernel driver and launching ROCM scripts in the latest docker container using `TF_ROCM_FUSION_ENABLE=1 `
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if
N/A
- TensorFlow installed from (sou

[2020-03-25 01:10] MarcelSimon opened #909 "Memory leak when using TFRecords"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): Yes, see below
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow version: occurs in both tensorflow-rocm version 2.1 (pip) and 2.2-rc0 (build from source)
- Python version:  occurs in both python 3.5 and 3.7
- Bazel
version (if compiling

[2020-03-25 16:40] qixiang109 commented on #173
Radeon VII, with rocm 3.1 and tensorflow-rocm 1.15:
[code]

Happy with the performance, but I have another problem: each time I change the model (e.g., from resnet50 to vgg16) or even the batch size from 64 to 128, it turns to wait a long long time after libMIOpen.so loaded and before the 1st batch begins to run, with warnings keep printing  like
[code]
usually, it takes 3~5 minutes for the  warmu

[2020-03-25 23:39] sumannelli-Ib commented on #362
Hi sunway513,
The Rocm 3.1 is not working with Tensorflow-rocm=1.15.0. Please provide the link or reference to download the Rocm 2.10
Note:
when using the below command it is downloading Rocm 3.1. But I need 2.1

sudo apt install rocm-dkms
My work has stopped because of this. kindly reply me.

[2020-03-25 23:50] huanzhang12 commented on #173
The majority of time seems to be spent on clang invocations. See https://github.com/ROCmSoftwarePlatform/MIOpen/issues/130

The optimal kernel depends on batch size, so when batch size is changed, different kernels need to be compiled.

[2020-03-26 02:19] qixiang109 commented on #173
Thanks for the reply and link. I am not familiar with the "optimal  kernel compiling" step before any training, seems tensorflow compiled against cuda/cudnn does not have such a step, it just start running immediately; why tensorflow on rocm/miopen does?  The "optimal  kernel compiling" time is really too long too frequent to use tf-rocm in any daily ML working... Can you provide a solution to tha

[2020-03-26 07:09] qixiang109 commented on #704
Do you mean that in before Tensorflow-rocm 2.1, we must wait for the long run "auto-tune" stage before 1st batch running,  even if the model structure is only very、very slightly modified, even if a change in batch_size? does TF_ROCM_USE_IMMEDIATE_MODE=1 work in tensorflow-rocm 1.14 to enable immediate mode? To me, the forced find mode ruined my experience, you change the network or batch size a li

[2020-03-26 09:02] roblem opened #911 "bitcast errors for some tf.reduce_sum operations when using XLA"
Same system setup and evironment as reported in #908.  In summary, very basic tensorflow ops like `tf.reduce_sum` seem to fail in some instances with "Invalid bitcast" errors when using XLA.

In #908, I reported an issue with bincount (also one concerning bitcast errors) that prevented XLA compilation of an expensive to calculate function.  To workaround this issue, I have been playing with proble

[2020-03-26 09:54] roblem commented on #911
I think it may affect any `tf.reduce_sum` op:
[code]
gives the same error:
[code]

[code]

[2020-03-26 19:52] sunway513 commented on #362
Hi @sumannelli-Ib , you can use the following for ROCm2.10 package:
`http://repo.radeon.com/rocm/apt/2.10.0/`
You can modify the following file in your system:
[code]
Then
[code]
If you want to stick with ROCm3.1, you need to pull the latest tensorflow-rocm whl packages, please consult with our document below:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_d

[2020-03-26 20:03] sunway513 commented on #173
Hi @qixiang109 , the behavior is well studied, and we're working on improving the user experiences with MIOpen and the compilation toolchains. We'll keep you posted when there are improvements available in the future ROCm releases.

[2020-03-26 20:23] sunway513 commented on #890
Hi @Bengt , in general, we would match the upstream Tensorflow support level. In the last Tensorflow 2.1 release, there's no Python 3.8 supported whl package yet:
https://pypi.org/project/tensorflow/#files
Can you create the issue on upstream Tensorflow repository instead?

[2020-03-26 20:27] sunway513 commented on #895
Hi @hanhanyimo , can you provide the performance numbers on tf_cnn_benchmarks, comparing CPU vs GPU on your local machine?
You can find the instructions here:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-quickstart.md#tensorflows-tf_cnn_benchmarks

Besides, if you have not, please try with our pre-built docker containers below, to ensure yo

[2020-03-26 20:28] sunway513 commented on #897
Hi @sumannelli-Ib , please use the following document for compatibility information between tensorflow-rocm whl package with ROCm versions:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md

[2020-03-26 20:28] #897 closed, assigned to nobody

[2020-03-26 20:36] sunway513 commented on #900
Hi @XzenTorXz , it looks like ROCm driver can only recognize one GPU on your system, according to the log you provided from `rocminfo`, hence TF would only see one GPU as well.

Such issue would be related to your system configurations.
I'd suggest you consult with your motherboard manual and check if the platform can provide sufficient PCIe lanes to support three GPUs.
Please create an issue on R

[2020-03-26 20:36] #900 closed, assigned to nobody

[2020-03-26 20:38] sunway513 commented on #901
Hi @yshen22 , can you try to force your GPU fan speed using rocm-smi and try again?
You can find the manual below:
https://github.com/RadeonOpenCompute/ROC-smi
`/opt/rocm/bin/rocm-smi --setfan 80` would force your fan speed to 80% of the max speed possible.

[2020-03-26 20:43] sunway513 commented on #908
@jerryyin  can you help review this issue for our current XLA implementation?

[2020-03-26 20:47] sunway513 commented on #909
Hi @MarcelSimon , thanks for reporting this issue.
However, if the issue can be reproducible using tensorflow CPU backend, then it's more likely a generic issue which is not specific to tensorflow-rocm backend.
It might be more helpful if you can create the issue on upstream tensorflow:
https://github.com/tensorflow/tensorflow/issues

[2020-03-26 23:40] Bengt commented on #890
There are nightly builds for Python 3.8:

https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-599226072

So maybe try to match this support level, before it gets official with TensorFlow 2.2:

https://github.com/tensorflow/tensorflow/issues/33374#issuecomment-603322215

[2020-03-27 03:04] yshen22 commented on #901
Hi @sunway513 , unfortunately this issue still exists even I set the fan speed to 150. My program follows the standard pipeline using tf.TFRecordReader() to read data from tfrecord and using tf.train.shuffle_batch() to get a training data batch queue. And then using tf.slim.conv to define network computational graph. And then using tf.losses.softmax_cross_entropy to get loss. Finally using slim.le

[2020-03-27 04:09] MarcelSimon commented on #909
Hi Peng! Thanks for your response.

The issue does not occur when using the tensorflow, that can be installed
with 'pip install tensorflow', so I'm not quite sure what issue the
tensorflow team could solve here.

I'm aware that this seems to happen in the CPU backend, not in rocm.
However, since the issue does not occur with the original tensorflow, it
seems that porting the code to rocm introduce

[2020-03-27 04:32] sunway513 commented on #901
Hi @yshen22 , can you provide a reduced script for me to reproduce the issue locally?

[2020-03-27 04:37] sunway513 commented on #890
Hi @Bengt, we'll investigate and let you know. Thanks for bringing it to our attention!

[2020-03-27 06:06] yshen22 commented on #901
Hi @sunway513  I have sent you a private email of my script. Hope you could find some useful way to resolve the slowdown issue. Thank you.

[2020-03-27 10:23] roblem commented on #911
I have done some additional digging for a range of ops that I normally use and conducted some simple tests.  See the summary table below.  A Pass value of 'Yes' means the XLA function ran with the correct result (it doesn't test speed or efficiency in any way).  If it didn't run in XLA, a partial error is reported.

| Command                   | Pass | Error

[2020-03-27 15:24] Bengt commented on #890
You are very welcome. Thanks for all your efforts!

[2020-03-28 17:19] mihaimaruseac commented on #890
RC2 has py3.8 releases (except mac, due to an upstream issue)

[2020-03-30 02:04] huanzhang12 commented on #519
I found that the issue is caused by the ASM 1x1 kernel on gfx803: https://github.com/ROCmSoftwarePlatform/MIOpen/blob/master/src/kernels/conv1x1u.s
On gfx803, I can obtain the same result as on gfx906 by disabling this ASM 1x1 kernel:
[code]

Recently, to avoid issues like this one all ASM convolution kernels have been disabled on gfx803 (See https://github.com/ROCmSoftwarePlatform/MIOpen/commit/c

[2020-03-30 16:08] sunway513 commented on #909
Hi @MarcelSimon , it's helpful to know the stock tensoflow whl package doesn't have this problem. We'll investigate and let you know.

[2020-03-30 19:39] deven-amd commented on #902
Hi Andrew,

I tried running the speech recognition example today (using the TF built from `develop-upstream` ) and the example seems to be running fine for me:

command line used:
[code]

I am going to re-run the example using the same TF release you have , to see if that helps reproduce the issue. Can you let me know which TF release you are using (built from source? installed from package?)

tha

[2020-03-30 20:17] deven-amd commented on #902
tried the example using r2.1 docker container `rocm/tensorflow:rocm3.1-tf2.1-python3`, and the example runs fine there as well.

Andrew, can I request you to try out the above docker container and check if the issue still persists.

thanks

deven

[2020-03-31 01:12] AndrewCarterUK commented on #902
Hi Deven,

Thanks very much for looking into this - I think I may have confused by putting a bit to much information down.

The tensorflow speech recognition also worked fine for me, it was when I tried porting the library to Keras that it failed (but only when training on my GPU).

I just thought it worth mentioning that a very similar model written in pure Tensorflow without the Keras layer on t

[2020-03-31 02:39] deven-amd commented on #902
Hi Andrew,

In that case, can you post the Keras source code which errors out, so that I can reproduce the error on my end

Deven

[2020-03-31 23:45] ekuznetsov139 commented on #909
I am not convinced that the provided script demonstrates a leak. You can see that memory usage stabilizes over time. TF employs various caching strategies internally, and this memory usage would be consistent with that. A memory leak would increase usage every epoch without limit.

If you are unable to train with resnet/imagenet without running out of memory, there may be a leak, but it's not repr

[2020-04-02 04:09] huanzhang12 commented on #173
@mwrnd The performance regression on gfx803 has been fixed in ROCm v3.3. The issue was that assembly kernels were all disabled on gfx803 (see https://github.com/ROCmSoftwarePlatform/MIOpen/issues/134).
On my RX570, resnet fp32 performance restored from 50 images/sec (ROCm v3.1) to 95 images/sec (ROCm v3.3).
I have a script for [patching miopen.db](https://gist.github.com/huanzhang12/973e7dba1c230c

[2020-04-03 15:00] jerryyin commented on #908
@roblem Thanks for reporting the problem. I digged the history a little bit and think this might be a fairly recent regression in IR-emitter changes. It has already been fixed in #36187. Could you try with `rocm/tensorflow-autobuilds:rocm3.0-fd0317e` (The first image that pulled in the fix)? I have tested and can confirm no regression in that image.

[2020-04-03 15:10] jerryyin commented on #911
@roblem Same with #908. This is likely to be the same root cause but different symptom and has already been fixed. Could you try with `rocm/tensorflow-autobuilds:rocm3.0-fd0317e`?

[2020-04-03 23:14] witeko opened #918 "branch for tensorflow-rocm 2.1.1 release"
What's the branch for tensorflow-rocm 2.1.1 release?
I would like to build it myself. :)

[2020-04-04 03:48] sunway513 commented on #918
Hi @witeko , you can use the following branch for TF2.1.1:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/r2.1

[2020-04-04 04:16] #918 closed, assigned to nobody

[2020-04-05 07:42] roblem commented on #908
@jerryyin thanks.  I can confirm that all my tests pass (including those in #911) with `rocm/tensorflow-autobuilds:rocm3.0-fd0317e`.  When might we expect this to make it to the "latest" docker image or in pypi?

[2020-04-05 07:44] roblem commented on #911
I can confirm that all tests listed above now pass (except unsupported ops- not surprising) with `rocm/tensorflow-autobuilds:rocm3.0-fd0317e`.

[2020-04-05 07:44] #911 closed, assigned to jerryyin

[2020-04-06 07:38] shuaiwang516 opened #921 "'missing dependency declarations' when I build tensorflow-upstream from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):  Linux Ubuntu 16.04
- TensorFlow installed from (source or binary): source
- TensorFlow version: tensorflow-upstream r2.2.0-rc2
- Python version: python 3.5.2
- Installed using virtualenv? pip? conda?:   pip
- Bazel version (if compiling from source):  Bazel 2.0.0
- GCC/Compiler version (if compiling from source):  g

[2020-04-06 08:01] shuaiwang516 commented on #921
Whether I append "--action_env=HIP_PLATFORM=hcc " or not, it always shows this problem.

[2020-04-06 14:14] jerryyin commented on #908
@roblem This is a question for @sunway513. In order for him to determine if the latest docker is up-to-date, we will need your image hash (Did you pull it most recently?). The latest tag for `rocm/tensorflow:latest` is always moving and depends on when you pull it, it might end in different images.

[2020-04-06 21:24] sunway513 commented on #921
Hi @ws7474741 , starting from ROCm3.1, ROCm release no longer installed under the default location "/opt/rocm". Hence, we need to set the HIP_PATH environment variables and pass it to bazel when trying to build from source.
I've posted the script to build with ROCm3.3 with TF2.2-rc0:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/commit/2f2ca192bd8d0782c88f6def3ce345e92f7590ed
Can you

[2020-04-06 22:32] shuaiwang516 commented on #921
Hi @sunway513 , I tried again with `ROCM_PATH=/opt/rocm-3.3.0 ./build_rocm_python3` But it still  has the same error.

[2020-04-08 02:29] sunway513 commented on #921
Can you review the following docker container?
It has everything needed to build TF2.2-RC0 from source:
rocm/tensorflow:rocm3.3-tf2.2-rc2-dev

[2020-04-08 16:31] sunway513 commented on #908
Hi @roblem , the `rocm/tensorflow:last` tag would point to the last TF release build with the latest ROCm release packages. We won't be able to modify the `last` tag to the builds for develop-upstream branch.
For this issue, I don't see upstream TF has the PR #36187 in the TF r2.2 release branches. Hence, the fix should be propagated to the next release after TF2.2.
In the meanwhile, you can conti

[2020-04-08 16:44] sunway513 commented on #908
Wait, upstream TF actually applied the patch internally, and the fix is actually part of the TF r2.2 release branch.
Can you try the following docker container for TF2.2 RC2?
`rocm/tensorflow:rocm3.3-tf2.2-rc2-dev`

[2020-04-08 20:47] atomobianco commented on #895
Also behaving slow, and the docker is now (once it worked) returns:
[code]

[2020-04-08 22:03] sunway513 commented on #895
@atomobianco , the log implies ROCm driver stack was not properly configured on your system.
Are you able to execute `/opt/rocm/bin/rocminfo`?

[2020-04-09 19:21] atomobianco commented on #895
rocminfo is working as expected, giving the card as second agent
[code]
I once was working through docker container, but since recent versions I have this problem, so I am now working directly with `tensorflow-rocm`, which has the poor performances discussed above.

[2020-04-09 23:54] sumannelli-Ib commented on #362
Hi @Sunway,

I tried as mentioned above but getting the below error when trying to train the model(Using TensorFlow object detection API) .

warning: <unknown>:0:0: loop not unrolled: the optimizer was unable to perform the requested transformation; the transformation might be disabled or specified as part of an unsupported transformation ordering
warning: <unknown>:0:0: loop not unrolled: the opt

[2020-04-10 01:16] sunway513 commented on #362
Hi @sumannelli-Ib , it seems your system is still on ROCm3.10, is that what you want?
I'd suggest to clean up your ROCm installations and reinstall the ROCm & TF packages from scratch.
Alternatively, you can try the following docker containers, so you don't need to deal with the user-bit configurations -- it can be pretty convoluted if there're some obsoleted ROCm packages installed on your system

[2020-04-10 01:22] sumannelli commented on #362
Hi
Thanks for the quick reply.
I reinstalled my OS and tried. Earlier I used 2.10 with tensorflow 1.15.0 but the GPU is slower than my CPU. So I updated my rocm to 3.1 and tensorflow to 1.15.3 and I tried with mnist dataset training it's works like a charm and fast. But when i train with TFOD API I am getting the above mentioned error.

Dealing with docker is hectic work for me. I never used befor

[2020-04-10 01:28] sunway513 commented on #362
Hi @sumannelli , you are welcome! However, I don't think we have brought up TFOD API for tensorflow-rocm project yet.

[2020-04-10 01:31] sumannelli commented on #362
But tensorflow-rocm==1.15.0 is working where tensorflow-rocm=1.15.3 showing above error
Kindly somehow help me in fixing this. Especially for this work I purchased the amd GPU. If this is not work for this project.there is no meaning in purchasing it

[2020-04-10 02:36] sunway513 commented on #362
Hi @sumannelli , can you open a new issues and provide us the steps to reproduce the problem?
If ROCm2.10 + TF1.15.0 would work, you might just try the following docker container:
rocm/tensorflow:rocm2.10.0-tf1.15-dev

ROCm enabled relocatable package feature in ROCm3.1.0, that feature may introduce the regressions you've observed for TFOD API.
However, we need to know more details before offering

[2020-04-10 03:14] sumannelli-Ib opened #927 "/opt/rocm-3.1.0/hip/../include/hip/hcc_detail/hip_runtime_api.h:48:10: fatal error: 'hsa/hsa.h' file not found"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow version:1.15.3
- Python version:3.6.9
- Installed using virtualenv? pip? conda?:pip

- GCC/Compiler version (if compiling from source): 4:7.4.0-1ubuntu2.3
- ROCm/MIOpen version:3.1
- GPU model and memory:AMD radeon vega vii 16GB

When I am training the model for a simple MNIST dataset its wo

[2020-04-10 03:27] sumannelli-Ib commented on #927
Hi,
Just now figured out the issue, if I keep my batch size from 1 to 5 it's working. But this is the worst scenario. My GPU size is 16GB, in my other system which runs on CPU and 8 GB memory taking 24 as batch size.
If I use batch size as 5 model wouldn't learn anything, it never finds the Local minima because of noise with limited images and the loss never converge.

[2020-04-10 23:20] typedrat commented on #319
I'm getting this error when I try to do anything with Tensorflow using a `pip` install of `tensorflow-rocm` or using the Docker container.

I'm running Ubuntu 18.04.4 and ROCm 3.3 on a Ryzen R7 2700X with a Radeon RX 5700XT.

[2020-04-11 23:25] sumannelli-Ib commented on #362
Hi @sunway513,

It's been 2 two days I have raised an issue, but nobody is assigned. Could you please help me with the below new link.
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/927

[2020-04-12 06:50] mwrnd commented on #173
GPU: MSI Radeon RX 580 Armor 8GB OC
GPU BIOS: `015.050.002001 2017/11/13 21:41` according to Win10 Adrenalin 20.2.2
OS: Ubuntu 18.04.4
Kernel: 5.3.0-45-generic
rocm-dkms: 3.3.19 _installed through apt_
Python: 3.6.9
tensorflow-rocm: 2.1.1 _installed through pip_
tensorflow benchmarks: [cnn_tf_v2.1_compatible](https://github.com/tensorflow/benchmarks/tree/cnn_tf_v2.1_compatible)
tensorflow_models:

[2020-04-12 08:47] roblem commented on #908
Apologies for the delay.  My workstation is running a memory constrained tensorflow job right now and I project it will take approximately 2 weeks to complete.  Then I can try this.

[2020-04-12 11:53] LizardLad opened #928 "No registered '_FusedConv2D' OpKernel for 'GPU' devices"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**:  Linux Ubuntu 16.04
- **TensorFlow installed from (source or binary)**: pip
- **TensorFlow version (use command below)**: v2.1.0-22-g5f0b1a5 2.1.1
- **Python version**: 3.6.10
- **Bazel version (if compiling

[2020-04-12 11:53] OllieLollie1 commented on #928
The flower_classification.txt and model.txt files are the python scripts to create the issue.

[2020-04-12 12:06] OllieLollie1 commented on #928
This doesn't occur if I use another optimizer such as ELU. If I use ELU on the first conv layer then the next conv layer has an error.

[2020-04-12 17:55] sunway513 commented on #927
Hi @sumannelli-Ib , thanks for creating this issue.
Tensorflow-rocm1.15.3 was built to work with ROCm3.3. It will not compatible to the ROCm3.1.0 on your system.
For compatibility details, please check the following document:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md
To downgrade to tensorflow-rocm1.15.2:
`pip3 install te

[2020-04-12 18:03] sumannelli-Ib commented on #927
Hi sunway513,
Thanks for the reply.
Yes. I tried from the reference as below
Tensorflow ==1.15.2 with 3.1 but rocm drivers are not detecting throwing error. so I installed the tensorflow-rocm==1.15.3, this time it's detecting the drivers. But throwing the above-mentioned error.
Also tried the tensorflow-rocm==1.15.3 with 3.3 the same above error I am getting.
As mentioned in my second comment when

[2020-04-13 14:48] jerryyin commented on #908
Closing the issue now as a viable solution has already been given. Please feel free to comment/re-open if the image turns out to be not working.

[2020-04-13 14:48] #908 closed, assigned to jerryyin

[2020-04-13 14:52] jerryyin commented on #588
MaxPooling3D is supported API now. Closing the issue as solved. Feel free to comment/re-open if this does not solve your question.

[2020-04-13 14:52] #588 closed

[2020-04-13 14:54] jerryyin commented on #496
Closing due to inactivity. Feel free to comment/reopen if you are still seeing issues.

[2020-04-13 14:54] #496 closed

[2020-04-14 10:17] MarcelSimon commented on #909
The memory increase gets smaller and smaller, but it is still surprising that the ROCm tensorflow uses a lot more memory and doesn't release it continuously. I mean, the snippet does not use any GPU after all.

FWIW: In my code, I was able to greatly reduce the memory usage during CNN training by prefetching only one or two batches instead of five (`dataset = dataset.prefetch(2)`). The memory dema

[2020-04-14 10:39] MarcelSimon opened #932 "MirroredStrategy working?"
**System information**
- Have I written custom code (as opposed to using a stock
example script provided in TensorFlow): No
- OS Platform and Distribution (e.g.,
Linux Ubuntu 16.04): Ubuntu 18.04
- TensorFlow installed from (source or
binary): pip tensorflow-rocm
- TensorFlow version (use command below): 2.1
- Python version: 3.7
- GPU model and memory: 4x Radeon VII

Could anybody confirm if the

[2020-04-14 11:02] ekuznetsov139 commented on #909
What is the exact version of tensorflow in which you are not seeing the issue?

[2020-04-14 16:37] jeffdaily commented on #932
Can confirm that your sample code runs successfully on my mGPU system.  RadeonVII are supported.

[2020-04-14 17:05] sunway513 commented on #927
Hi @sumannelli-Ib , at this point we still can not confirm if this issue is due to your local system configuration or a real issue that worth further investigation.
If you can kindly try your workload inside the following docker container, and let us know the exact steps to reproduce the problem if it still fails, we can then take it from there:
`rocm/tensorflow:rocm3.3-tf1.15-dev`
For instruction

[2020-04-15 13:23] deven-amd commented on #928
@OllieLollie1 this is bug in the TF ROCm implementation. There is a,  "inference only",  graph optimization in TF that is CUDA specific but is also getting applied to ROCm by default. This graph  optimizatiom introduces the _FusedConv2D nodes in the graph, for which ROCm has no runtime kernels.

We have already fixed this issue on mainline, and I will be filing a PR shortly to port the fix over to

[2020-04-15 13:28] LizardLad commented on #928
Alright thanks that's good news a fix is on the way. Once the PR is accepted how long roughly until it's available from pip? This issue can be closed if you want.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Deven Desai <notifications@github.com>
Sent: Wednesday, April 15, 2020 11:23:19 PM
To: ROCmSoftwarePlatform/tensorflow-upstream <tensorflow-upstream@

[2020-04-15 13:30] deven-amd commented on #921
can you check if you have the following file present

`/opt/rocm-3.1.0/.info/version`   (if using ROCm 3.1.  Change accordingly for ROCm 3.3)

If it is not present, then "touch" it and re-do the build

see this comment for why : https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L76-L87

[2020-04-15 20:11] sumannelli-Ib commented on #927
Hi sunway513,

Followed the above references getting the below error. The issue seems to hip memory.

2020-04-15 15:49:47.266809: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libhip_hcc.so
2020-04-15 15:49:47.266921: E tensorflow/stream_executor/rocm/rocm_driver.cc:1031] could not retrieve ROCM device count: hipError_t(100)
2020-04-15 15:49:47

[2020-04-16 21:21] sumannelli-Ib commented on #927
Hi Sunway513,
I had cleaned my setup and reinstalled, now it is working with ROCM 2.10.0 and Tensorflow 1.15.0. But this is slower than my CPU.

Please suggest me on this.

What is the 2.10.0-hipclang version? How it differs from 2.10.0. Can I use it for TFOD API?

Thanks
Suman Nelli

[2020-04-17 07:48] roblem commented on #908
I can confirm that all my tests pass with `rocm/tensorflow:rocm3.3-tf2.2-rc2-dev`, so the fix is included in 2.2.

[2020-04-18 21:28] Djip007 opened #935 "podman container work!"
First it is not a issue juste to report what work for me!
Because I use Fedora31 docker is a no way (cgroup v2 not supported) so I test with podman... and it work on stock kernel:
[code]
work... no nead for sudo or any other option.

to be exact I use it with jupyterlab like that:
[code]

so great job

(note: for me it is with a RX560M ...)

May be it can work on other OS (centos8...) to and it ca

[2020-04-19 00:36] ashaver commented on #173
Anyone else still fighting the AMD/ROCM drivers on a laptop. Even with the latest (Rev 20.10) and/or the latest ROCm I have the following peristent bugs related to (https://bugzilla.kernel.org/show_bug.cgi?id=203035):
- First, this is not so much the fault of AMD as the fault of ACPI not detecting AC power in a laptop (in combination with AMD starting to drive power levels from real values e.g., h

[2020-04-19 16:54] sunway513 commented on #927
Hi @sumannelli-Ib , hipclang is a new compiler infrastructure that ROCm will be migrated to in the near future. The branch you mentioned was to prepare for the needed changes on tensorflow code base, which is not directly related to TFOD API support.

[2020-04-20 11:40] Bengt commented on #621
Folding at Home (F@H) can also trigger this behavior. Picture of the aftermath:

![IMG_20200420_133729](https://user-images.githubusercontent.com/11575/79747679-696fc400-830c-11ea-86ca-93e9dd4fb6da.jpg)

[2020-04-22 04:35] parallelo commented on #890
An update on this topic.  We are able to build Python 3.8 TF WHLs via our CI process.  However, our WHL files no longer fit within the limits set by the maintainers of PyPI, and they have not approved our request to host larger WHL files.  We are actively working on this blocker.

[2020-04-22 06:41] XuanBaby opened #937 "depthwise_conv_op_test compute error"
**System information**
images:   rocm/tensorflow:rocm3.3-tf1.15-dev

**Describe the current behavior**
python3 tensorflow/tensorflow/python/kernel_tests/depthwise_conv_op_test.py

**Describe the expected behavior**

**Standalone code to reproduce the issue**
Provide a reproducible test case that is the bare minimum necessary to generate
the problem. If possible, please share a link to Colab/Jupyte

[2020-04-22 11:27] Una-Tian opened #938 "Linking of rule '@flatbuffers//:flatc' failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos7.6
- Mobile device (e.g

[2020-04-23 00:21] Bengt commented on #890
Thanks for the update.

Wow, that is quite something. I guess, you are pushing the limits when the package index fails to handle your packages.

I do not see packages for Python 3.8 in the public Jenkins, though. Are you talking about another CI process, @parallelo? The last successful nightly is currently this one:

http://ml-ci.amd.com:21096/job/tensorflow-rocm-nightly/271/

[2020-04-23 01:59] parallelo commented on #935
Many thanks for letting us know.  Happy to hear it!

[2020-04-23 01:59] #935 closed, assigned to nobody

[2020-04-23 02:13] parallelo commented on #890
Yes, these are still internal WHL builds.  We'll plan to make it public though.  Will update this thread when we do.  Sorry for the wait, and thanks for your patience.

[2020-04-23 04:07] sunway513 commented on #928
Thanks @deven-amd , I've merged your PR to r2.1 branch. The issue will be fixed in the next TF2.1 refreshed whl package with the next ROCm release.

[2020-04-23 04:11] sunway513 commented on #938
Hi @Una-Tian , current our CentOS support is limited to TF1.13.
However, we're working on long term CentOS support plan, will update you when we have more details to share.

[2020-04-23 08:40] Una-Tian commented on #938
OK. Thank you.

[2020-04-23 08:41] #938 closed, assigned to parallelo

[2020-04-23 09:50] Una-Tian opened #940 "An error occurred during the fetch of repository 'io_bazel_rules_docker'"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 18.04
- Mobile device (

[2020-04-23 12:18] asheetal opened #941 "*** stack smashing detectedstack smashing detected***"
I get this crash in during model fit command. Any suggestion how should I go about debugging it

[code]

tensorflow-rocm (1.14.2)
Keras (2.2.4)

[2020-04-25 00:12] parallelo commented on #890
Okay, we've tested this on Py3.8 and have updated the public nightly build.

This build has been kicked off: http://ml-ci.amd.com:21096/job/tensorflow-rocm-nightly/274/

[2020-04-25 04:06] parallelo commented on #890
The mentioned build with the Py3.8 artifact was successful.  Please give it a try, and give us feedback.

[2020-04-27 03:48] sunway513 commented on #941
Hi @asheetal , which ROCm version are you using? Please provide the following logs:
`apt --installed list | grep rocm`
The error message implies the tensorflow-rocm version is not compatible to the ROCm version installed on your system, for compatibility information, please refer to the following doc:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tenso

[2020-04-27 03:49] sunway513 commented on #940
Hi @Una-Tian , it seems you are missing some dependencies.
Can you try with our pre-configured dev docker container below, instead of the ROCm 18.04 base docker?
`rocm/tensorflow:rocm3.3-tf2.2-rc2-dev`

[2020-04-27 04:06] sunway513 commented on #937
Hi @XuanBaby , the unit test has been passing in our private CI and my local test.
Please use the following command to run the test, inside the rocm3.3-tf1.15-dev docker container:
`cd ~/tensorflow && bazel test -s --config=rocm //tensorflow/core/kernels:depthwise_conv_ops_test_gpu`
I've also attached the following log for your reference:
[depthwise_conv_op_test.log](https://github.com/ROCmSoftwar

[2020-04-27 04:06] #937 closed, assigned to nobody

[2020-04-27 14:27] parallelo commented on #890
Closing now that Python 3.8 WHLs exist in our [public nightly build](http://ml-ci.amd.com:21096/job/tensorflow-rocm-nightly/).

[2020-04-27 14:27] #890 closed, assigned to parallelo

[2020-04-27 15:46] asheetal commented on #941
Thanks @sunway513 for posting a response. I believe I have latest rocm (3.3) running on Centos 7
I will fix

rocm-bandwidth-test.x86_64                 1.4.0.13_rocm_rel_3.3_19_gf671f73-1
rocm-bandwidth-test3.3.0.x86_64            1.4.0.13_rocm_rel_3.3_19_gf671f73-1
rocm-clang-ocl.x86_64                      0.5.0.48_rocm_rel_3.3_19_fa039e7-1
rocm-clang-ocl3.3.0.x86_64                 0.5.0.48_roc

[2020-04-27 15:49] #941 closed, assigned to sunway513

[2020-04-27 15:53] sunway513 commented on #941
Hi @asheetal , for bare metal CentOS, our support is limited to TF1.13 at this moment.
However, you can deploy our public ubuntu based docker containers for more recent TF versions:
https://hub.docker.com/r/rocm/tensorflow

[2020-04-28 01:38] asheetal commented on #941
Hi @sunway513, Thanks for you URL you shared with me. I just upgraded my tensorflow-rocm to the compatible version based on that URL and my models are running great now on Centos 7. Thanks for this awesome project. I am a researcher on a shoestring budget and working on a bunch of AMD cards on Ebay. Buying Tesla and running Cuda is a distant dream.

[2020-04-28 23:22] lucianolorenti opened #947 "Internal: Failed to enqueue async memset operation: HIP_ERROR_InvalidValue"
Hi! I cannot run a minimal example

It is because the my GPU is not supported?

**System information**
- OS: Archlinux
- TensorFlow i tried installing from source and  with the one from pip (tensorflow-rocm)
- TensorFlow version: merge-200420-402-gb9588d1af6 2.1.0
- Python version: Python 3.7.7
- Bazel version (if compiling from source): bazel-3.0.0
- GCC/Compiler version (if compiling from source

[2020-04-29 18:26] ekuznetsov139 commented on #909
Closing due to inactivity.

[2020-04-29 18:26] #909 closed, assigned to ekuznetsov139

[2020-04-29 18:28] ekuznetsov139 commented on #901
Analysis indicated that the issue may have been caused by storage bandwidth issues (reported training speed numbers corresponded to bandwidth requirements in excess of 500 MB/s).

Closing due to inactivity.

[2020-04-29 18:28] #901 closed, assigned to ekuznetsov139

[2020-04-29 18:31] ekuznetsov139 commented on #947
Can you post the complete output?

[2020-04-29 18:36] ekuznetsov139 commented on #940
It sounds like the docker image does not have git installed. Try to run
```apt-get update```
```apt-get install git```

[2020-04-29 18:43] lucianolorenti commented on #947
Sure!

After creating the model:

[code]
After calling fit:
[code]

[2020-04-29 19:12] ekuznetsov139 commented on #947
Try to run /opt/rocm/bin/rocm-smi and /opt/rocm/bin/rocminfo and post their outputs.

[2020-04-29 19:18] lucianolorenti commented on #947
* [rocm_info.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/4554040/rocm_info.txt)
* [rocm_smi.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/4554041/rocm_smi.txt)

[2020-04-29 19:48] ekuznetsov139 commented on #947
The setup looks in order. I suspect that the GPU is the problem - it is _theoretically_ supported, but, in practice, newer releases are not tested on gfx803 GPUs and therefore YMMV.

Let's try two more things:
* Rename the file /opt/rocm/miopen/share/miopen/db/gfx803_36.HIP.fdb.txt into /opt/rocm/miopen/share/miopen/db/gfx803_32.HIP.fdb.txt and retry.
* Run the test after setting the environment v

[2020-04-29 19:59] lucianolorenti commented on #947
:(
[HIP_TRACE_API_14.txt](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/files/4554230/HIP_TRACE_API_14.txt)

I know that around July of last year I could make tensorflow works with this GPU in my PC. Perhaps some change in the rocm stack broke it for me.

[2020-04-30 19:43] Bengt opened #950 "SegFault with nightly build for Python 3.8"
I am using the nightly build for Python 3.8 from AMD's ML CI:

http://ml-ci.amd.com:21096/job/tensorflow-rocm-nightly/281/

I run into this issue:

https://gitlab.com/pfasdr/code/decoder/-/jobs/534125689

Python 3.6 and Python 3.7 work fine with tensorflow-rocm from PyPI:

https://gitlab.com/pfasdr/code/decoder/-/jobs/534125688
https://gitlab.com/pfasdr/code/decoder/-/jobs/534125685

The stacktrac

[2020-04-30 20:00] Bengt commented on #950
This issue seems to affect the nightly build against all Python versions:

https://gitlab.com/pfasdr/code/decoder/-/jobs/534166539 (CPython 3.6)
https://gitlab.com/pfasdr/code/decoder/-/jobs/534166540 (CPython 3.7)

Let me guess: I am using too old of a base image.

[2020-04-30 20:02] Bengt commented on #950
Let's try upgrading the base images:

https://gitlab.com/pfasdr/code/decoder/pipelines/141597985

[2020-04-30 21:14] Bengt commented on #950
All other issues sorted out, it works. Thanks for your attention, I am closing this issue. For reference:

https://gitlab.com/pfasdr/code/decoder/pipelines/141611444

[2020-04-30 21:14] #950 closed, assigned to nobody

[2020-05-02 10:05] roblem opened #954 "Tensorflow probability very slow on GPU (even with XLA) for some models"
This is an update to issue #893 which was closed because XLA compile was failing making apples to apples comparisons impossible.  XLA compile was fixed with #908 and I include updated benchmarks here.  Therefore this issue supersedes #893 and all benchmarks there should be ignored.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFl

[2020-05-02 10:06] roblem commented on #893
The benchmark timings should be ignored here.  Instead, please see #954.

[2020-05-04 15:44] jerryyin commented on #947
@ekuznetsov139 Thanks for taking the first look at the issue, I'm assigning the issue to you now. In case you need the machine to reproduce, we can sync offline or talk with @sunway513

[2020-05-04 15:58] jerryyin commented on #879
It looks to me this issue has two separate concerns: 1. Existing public CI is failing frequently 2. There is no public visibility regarding the `develop-upstream` CI.

Regarding on 1: From what I can see `tensorflow-rocm-nightly` pass rate has greatly improved in the recent period.

Regarding on 2: @parallelo Could you remind me what the state is from the last discussion on this issue? If we have

[2020-05-04 16:01] jerryyin commented on #927
@sunway513 Thanks for taking a look at this issue. I'm assigning the issue to you now so that it has an assignee. Please feel free to re-assign/close if you feel this is out of scope.

[2020-05-04 16:03] jerryyin commented on #877
Closing due to inactivity. Please feel free to re-open if there are additional updates.

[2020-05-04 16:03] #877 closed, assigned to nobody

[2020-05-04 16:08] jerryyin commented on #829
Closing due to inactivity. Feel free to re-open if there is any update.

[2020-05-04 16:08] #829 closed

[2020-05-04 17:09] jerryyin commented on #954
@roblem Appreciate the efforts in coming up with benchmarks and share us with detailed results. This is to confirm that I can re-produce the `Unexpectedly high number of iterations in HLO passes, exiting fixed point loop.`

I can try to root cause it, but without the source code I can't guarantee to pin-point to fix the exact issues in your model 2. It is much easier for me to start the triage onc

[2020-05-04 18:49] sunway513 commented on #927
@jerryyin , what we can do is very limited without reproducible steps inside Docker containers.

[2020-05-04 19:34] jerryyin commented on #927
@sunway513 That's reasonable.

@sumannelli-Ib Judging that the original compiler issue is fixed. I'm closing this now. If you continue to see the performance issue, please feel free to submit a new one with detailed steps to reproduce.

[2020-05-04 19:34] #927 closed, assigned to sunway513

[2020-05-05 09:07] haowang5128 commented on #624
Hi @sunway513 , is there a working tensorflow_addons for tensorflow_rocm 2.1.0 yet？

[2020-05-06 10:40] roblem commented on #954
The warning `Unexpectedly high number of iterations in HLO passes, exiting fixed point loop.` is likely irrelevant as every benchmark I ran under ROCM had this warning, even for cases where ROCM outperformed CUDA.  Perhaps it has more of an impact speed-wise for some combinations of tensor flow ops.

To start triaging, here is a list of functions for each benchmark result submitted above, I have r

[2020-05-06 16:49] roblem commented on #954
I have added two additional rows to the benchmarks table (15 and 16) and shown the functions used in the previous comment.  Model 2 with Random Walk Metropolis runs very fast on the Radeon VII.  This is consistent with the fast run times of the tensorflow function execution time (12).  Judging by this, the problem seems to be in either `tfp.mcmc.NoUTurnSampler` or `tfp.mcmc.DualAveragingStepSizeAd

[2020-05-07 11:19] roblem commented on #954
Focusing on Model 2 here is a summary of times with different step methods (these are all based on timings using GPU only (I include ID for matching to things above where there is a match).  All sampling and adaptive step methods are tensorflow probability ops (e.g. `tfp.mcmc.NoUTurnSampler`).

|ID| Sampling Method | Adaptive Step Method | ROCM Radeon VII | CUDA P100 |
|:---:|:---:|:---:|:---:|:--

[2020-05-07 14:42] jerryyin commented on #879
We had an offline discussion at topic 2 and decided to not open internal CI. Please rely on Nightly/Stable release community supported build.

[2020-05-07 14:42] #879 closed, assigned to jerryyin

[2020-05-08 23:29] BloodBlight commented on #319
Same here!  Totally new to this, trying to call tf.keras.metrics.Mean or tf.keras.metrics.SparseCategoricalAccuracy ends in this error.

Mint 19.3
ROCm 3.3
tensorflow-rocm 2.1.1
On a Ryzen 3900X with a Radeon RX 5700XT

@typedrat Have you had any luck?

[2020-05-08 23:53] BloodBlight opened #967 "Error "Missing metadata for __global__ function""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
**Nope, entry level sample code.**
**Code: https://pastebin.com/VyLQBsHi**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
**Mint 19.3**
- TensorFlow installed from (source or binary):
**Binary**
- TensorFlow version (use command below):
[code]

[code]

- Python versi

[2020-05-11 13:48] hatamiarash7 commented on #967
I have the same problem ... any solution ?

[2020-05-11 20:07] BloodBlight commented on #967
Not yet, but I just posted this so...  At least one other person in the last few months is seeing this, so hopefully soon.

If I do find anything, I will post back.

[2020-05-12 21:17] lucasvdev commented on #711
Hello,

Same problem, I tried to set `HIP_VISIBLE_DEVICES` and `ROCR_VISIBLE_DEVICES` without any result.

I have 6 RX480 and Tensorflow use only 3 of them.

[code]

[code]

[code]

Tensorflow-rocm==1.15
Python 3.5.6 :: Anaconda, Inc.

[2020-05-13 12:07] MarcelSimon commented on #932
I can confirm that everything runs flawlessly with near linear scaling on Threadripper 1920x, X399 board, and 4 Radeon VII.

Issue can be closed.

[2020-05-13 12:07] #932 closed, assigned to jeffdaily

[2020-05-13 12:13] MarcelSimon commented on #827
I can confirm that float16 provides almost no speed-up. For me, it's maybe 5% faster than float32.

[2020-05-14 15:47] jerryyin commented on #967
@sunway513 Correct me if I'm wrong, I don't think we support Mint OS.

Could you give a shot to our latest released docker image which is ubuntu based: `rocm3.3-tf2.2-rc2-dev`?

[2020-05-14 15:51] hatamiarash7 commented on #967
I have the same problem in Ubuntu 18.04 and `rocm3.3-tf2.1-dev`

[2020-05-14 16:04] jerryyin commented on #967
I pulled `rocm/tensorflow:rocm3.3-tf2.1-dev` a second ago and cannot reproduce the crash.

[2020-05-14 16:20] hatamiarash7 commented on #967
It's a simple code for test and i have the problem when using `divide()` function :

- Ubuntu 18.04
- rocm/tensorflow:rocm3.3-tf2.1-dev ( pulled again )

[code]

[2020-05-14 16:47] jerryyin commented on #967
Still cannot reproduce.

Why am I seeing

in your script output? Were you trying a manual compilation of tensorflow?

Also, could you provide your `/opt/rocm/bin/rocminfo` from host side?

[2020-05-14 17:16] BloodBlight commented on #967
For me, I am not using docker, but I pulled that image and am attempting to figure out how to run it.

Here is the output from my rocminfo:
https://pastebin.com/epKChc6j

Ummm....  I just reran the code....  IT WORKS NOW!

I think I ran patches, but...  I am not sure what changed...

[2020-05-14 17:22] showlabor opened #972 "Error polling for event status: failed to query event: hipError_t(600)"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
Here's a very simple example to trigger this error:

[code]

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):

Fedora 32, x86_64 using ROCm 3.3.0 rpms from http://repo.radeon.com/rocm/yum/rpm
The same happens on Ubuntu 20.04 LTS, see https://github.com/RadeonOpenComput

[2020-05-14 17:29] hatamiarash7 commented on #967
@BloodBlight How did you use image ? Can you share your command and instruction ?

[2020-05-14 17:37] BloodBlight commented on #967
I did pull the newest docker actually!  Maybe I was using docker.  Sorry, this is all new for me.

Here is my full terminal output from a test:
https://pastebin.com/zgC3HQV3

And my docker info:
[code]

[2020-05-14 17:47] hatamiarash7 commented on #967
@BloodBlight How did you use docker image ?

[2020-05-14 17:49] BloodBlight commented on #967
I didn't, at least not directly.  Try running this:

`docker pull rocm/tensorflow:rocm3.3-tf2.1-dev`

[2020-05-14 17:50] hatamiarash7 commented on #967
@BloodBlight ohhhh no :))) Share you `docker run ...` command or anything else before run python script

[2020-05-14 17:52] BloodBlight commented on #967
I didn't...  But that is the only thing that I can think changed.

Well, I installed vulkan-loader in an attempt to run a game...  Maybe that fixed something?

https://github.com/KhronosGroup/Vulkan-Loader

[2020-05-14 18:09] hatamiarash7 commented on #967
@jerryyin

Look at these info ...

### Run steps

[code]

### rocminfo

[code]

[2020-05-14 18:30] jerryyin commented on #967
@hatamiarash7 Could you do a `$ apt --installed list | grep rocm` outside the docker image so that I know the ROCm version installed in your bare metal?

[2020-05-14 18:33] jerryyin commented on #967
@BloodBlight I suspect you were running on CPU, which is not what you intended. Please make sure you follow through [this guide](https://github.com/RadeonOpenCompute/ROCm-docker/blob/master/quick-start.md) to have all environment configured correctly.

[2020-05-14 18:41] hatamiarash7 commented on #967
@jerryyin

[code]
There is only `Xenial - Ubuntu 16.04` repo ....

http://repo.radeon.com/rocm/apt/debian/dists/

And i used that quick-start too

[2020-05-14 18:51] BloodBlight commented on #967
@jerryyin

Interesting!  The other day when it was crashing, both the CPU and GPU where showing when I ran this:
`print(tf.config.experimental.list_physical_devices())`

But now it is not, but isn't crashing!

`[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'), PhysicalDevice(name='/physical_device:XLA_CPU:0', device_type='XLA_CPU')]`

Hmmm....

[2020-05-14 20:33] jerryyin commented on #972
I'm not sure if we support a combination of rpm + ubuntu. Could you give the newer docker image with released TF a shot: https://hub.docker.com/r/rocm/tensorflow? Maybe start with `rocm/tensorflow:rocm3.3-tf2.1-dev`

[2020-05-14 20:44] showlabor commented on #972
Oh, that's a misunderstanding: It's not a combination of Ubuntu and rpm. I'm only running Fedora and using the published rpms.
Someone else had the same issue on Ubuntu.
Nevertheless, I'll try the Docker image tomorrow.

[2020-05-14 21:35] jerryyin commented on #954
Thanks for the effort. We discussed offline and confirmed that non-XLA mode also suffers in Model2.

I rerun the `test_nuts.py` provided and did quick sanity check on the XLA warning as well as device placement but nothing stand out. I'm afraid two things are going on here:

- Need to understand why ROCm XLA produce the warning "Unexpectedly high number of iterations...". Under the hood this seems

[2020-05-15 00:14] BloodBlight commented on #967
Alright, I am confused..

`$ sudo /opt/rocm/bin/rocminfo`
Reports both the CPU and GPU as available:
https://pastebin.com/kxSGCake

But...

`$ sudo /opt/rocm/opencl/bin/x86_64/clinfo `

Reports:
`Number of platforms:				 1`
https://pastebin.com/QS02cH5A

And finally, if I use the docker and run:
`sudo /opt/rocm/bin/rocminfo`

It only sees the CPU.....  Ug...

How can the host see it, but the docke

[2020-05-15 23:42] ekuznetsov139 commented on #947
I have been able to run the tutorial script without errors on a Radeon RX 480 with ROCm 3.3. It's the same chip except with 36 CUs instead of 32.

You could try to load the docker image  rocm/tensorflow:rocm3.3-tf2.1-dev and see if it works there.

Also, what's the exact commit hash of the version of miopen that you compiled?

[2020-05-16 10:32] roblem commented on #954
Hi,

I just reran `test_nuts.py` on a standard tensorflow install (no rocm or cuda) and ran on cpu.  It is also showing `./tensorflow/compiler/xla/service/hlo_pass_fix.h:49] Unexpectedly high number of iterations in HLO passes, exiting fixed point loop` warnings.  So I'm not sure the warning is necessarily the problem as it seems to always appear when running this code.

[2020-05-16 12:09] lucianolorenti commented on #947
Thank you very much for your help.

In my pc originally I was using the following commit for MIOpen: `869a484773f59a79eb53eac9fa9233e52d80b3c3`
now I tried with `4c1b0ca4987eb5931d694b1be73137267861c369` the last one so far, but I got the same error about `HIP_ERROR_InvalidValue`.

-------------------------------------------------------------------------

These are my devices in the host

[code]

[2020-05-17 22:32] ekuznetsov139 commented on #947
Over here, /dev/kfd is
`crw-rw-rw- 1 root root 241, 0 May 15 17:08 /dev/kfd`

According to your rocminfo_docker.txt, rocminfo does not see any GPUs.

The typical command line to launch docker is

`sudo docker run -it --network=host --device=/dev/kfd --device=/dev/dri --ipc=host --shm-size 16G --group-add video --cap-add=SYS_PTRACE --security-opt seccomp=unconfined`

The HSA_STATUS_ERROR_OUT_OF_RES

[2020-05-18 05:07] pavhl commented on #967
Exact same problem on my system: Ryzen 5 3600X + RX 5700 XT
Seems to be related to the GPU

EDIT: https://github.com/RadeonOpenCompute/ROCm/issues/887 looks like this is the answer

[2020-05-18 06:39] showlabor commented on #972
I didn't have much luck with the docker image, either. Here's what I get *inside the container*:

[code]

I must admit that I'm not very familiar with docker images and I ran it through podman as docker itself doesn't work on distros using cgroup v2 like Fedora. Here's the command line used adapted from the docker instructions:

[code]

I probably still have some kind of a permission problem *in t

[2020-05-18 10:58] showlabor commented on #972
OK, I got the container running now following this report:

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/935

My example is running now without any issues *inside the container*.

Since the container image is using tensorflow-rocm v2.1.0-15-g5466af3d12 2.1.0 on Python 3.6.9 while my host system is running Python 3.8 and tensorflow-rocm v2.2.0-rc2-117-gbca3875 2.2.0-rc4 I gave

[2020-05-18 15:32] jerryyin commented on #967
I checked with the ROCm team, unfortunately gfx10 gpu cards are not on the supported list (refer to [here](https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support)). Since Tensorflow depends on ROCm, there is nothing we can do.

[2020-05-18 15:32] #967 closed, assigned to jerryyin

[2020-05-18 15:37] jerryyin commented on #972
Thanks for your feedback. This `ROCm` fork of TensorFlow specifically aimed for AMD GPUs. Since you don't have a graphics card (which is exactly what the error message pop up), you may as well go ahead with upstream tensorflow, and its docker [images](https://hub.docker.com/r/tensorflow/tensorflow/tags). Closing the issue now.

[2020-05-18 15:43] jerryyin commented on #954
Thanks for your comments. Yes, I also tend to think the performance issue is orthogonal to the warning message. More triage needs to be done, and I will keep the issue open in the mean time.

[2020-05-18 15:53] showlabor commented on #972
Would you, please, reopen this issue: I *do* have a AMD Radeon RX580, see my original report.

[code]

The card is correctly recognized by rocminfo on my Fedora system. It was just that the container I've used - as you requested - could initally not see it.

After I sorted the container issues out, the RX580 card is correctly used inside the container and in my Fedora system using tensorflow 2.1.0

[2020-05-18 16:05] showlabor commented on #972
I've updated my earlier comments for more clarity, hopefully.

[2020-05-18 16:19] jerryyin commented on #972
Reopening for tracking purpose.

@parallelo Could you comment on our support on Fedora RPM based distros?

[2020-05-18 16:25] BloodBlight commented on #967
Well crap!  Thank you @jerryyin! I think we all appreciate you hunting that down!
Edit: And @Crash129!

[2020-05-18 16:28] BloodBlight commented on #319
@hatamiarash7 and @leoschneider Seems like it is a GFX10 compatibility issue up stream.  :(

See:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/967#issuecomment-630261097

[2020-05-18 16:31] showlabor commented on #972
Thanks!

[2020-05-19 16:52] parallelo commented on #972
Hi @showlabor - Thanks for the feedback.  Trying to catch up on the various experiments/results reported in this Issue.

In general, we currently recommend using [our pre-built TF Docker images](https://hub.docker.com/r/rocm/tensorflow/tags/).  That being said, we are definitely very interested in ironing out any distro portability challenges for our pre-built TF WHLs.

At this point, it sounds li

[2020-05-19 17:55] pdimh commented on #972
I have exactly the same problem running on Ubuntu 20.04 with the same GPU (RX 580).

[2020-05-19 22:03] lucianolorenti commented on #947
Hi!
Apparently I had a problem with the kernel module, I recompile it and now tensorflow is working in the  docker image rocm/tensorflow:rocm3.3-tf2.1-dev .
In the host, the problem still persists.

There is a way to know which versions of the rocm stack are the ones compiled in the docker image in order to reproduce it in my machine?

[2020-05-20 09:04] showlabor commented on #972
Yes, that' a good summary.

Great, thank you!

[2020-05-20 09:50] gmt710 commented on #940
@ekuznetsov139 It works for me.Thanks for your sharing.

[2020-05-21 17:13] parallelo commented on #972
We believe we have found the cause of the issue with `tensorflow-rocm==2.2.0rc4`.  Stay tuned..

[2020-05-21 20:16] showlabor commented on #972
Great! Just in case: I've tried 2.2.0rc2, 2.2.0rc3 as well and the issue was the same. So it didn't start with rc4. But I guess you already knew that.

[2020-05-22 13:00] HaromKutya commented on #972
Hi!

I have exactly the same issue for the same python example:
[code]

I'm using `rocm-libs 3.3.0-19`, and `tensorflow-rocm 2.2.0rc4` in an `Ubuntu 18.04`.
My machine has a Ryzen 5 2600, and a Vega 56 in it.

[2020-05-27 23:45] parallelo commented on #972
We believe we've fixed the issues with these release candidates.  On a ROCm 3.3-based environment, can you please give this a try and let us know how it works on your example?
[code]
PyPI link:  https://pypi.org/project/tensorflow-rocm/2.2.0rc5/#files

[2020-05-28 09:32] showlabor commented on #972
Great! Yes, the simple example does run without issues with tensorflow-rocm==2.2.0rc5. Thank you very much!

[2020-05-28 14:50] parallelo commented on #972
Happy to hear it!  Thanks for the feedback.

[2020-05-28 14:50] #972 closed, assigned to parallelo

[2020-05-31 21:57] tmolteno commented on #468
Sadly I have run into this issue as well. Possibly I could help. Will look into rocBLAS.

[2020-06-04 09:37] oscarbg opened #998 "Tensorflow ROCM supporting new ROCM 3.5 version?"
Hi,
are ROCM 3.5 enabled builds of tensorflow-rocm package coming soon..
as I updated to ROCM 3.5 (which seems to remove HCC) and existing tensorflow-rocm installation has error finding libmcwamp.so or something similar.. seems missing from ROCM 3.5 repo and related to removal of HCC..
searching https://pypi.org/project/tensorflow-rocm/#history
seems there are recent ones 2.2rc builds so I install

[2020-06-04 16:09] sunway513 commented on #998
Hi @oscarbg , yes, we are working on the wheel packages and will update soon.

[2020-06-04 23:37] sunway513 commented on #998
Hi @oscarbg , we've released the tensorflow-rocm packages built with ROCm3.5 environment.
For details please refer to the following document:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md

[2020-06-04 23:38] #998 closed, assigned to nobody

[2020-06-05 03:28] daitory opened #1000 "problem installing TF"
OS: Ubuntu 18.04

Video card
Radeon 580 Mobile
![image](https://user-images.githubusercontent.com/20446075/83833194-60b72f80-a6b9-11ea-8767-2d94964609ae.png)

OPENCL
![image](https://user-images.githubusercontent.com/20446075/83833280-952aeb80-a6b9-11ea-84f1-44572acb94e5.png)

Rocm Packages:
![image](https://user-images.githubusercontent.com/20446075/83833353-bb508b80-a6b9-11ea-9e35-cd647aacb32a.p

[2020-06-05 05:56] sunway513 commented on #173
@qixiang109 , MIOpen released pre-compiled kernels in ROCm3.5 release, aiming to reduce the overheads on startup. For more details, you can refer to the following document:
https://github.com/ROCmSoftwarePlatform/MIOpen#installing-miopen-kernels-package

[2020-06-05 09:57] Bengt commented on #479
Linus Torvalds recently switched to an RX 580. That underlines the relevance of its support:

https://t3n.de/news/threadripper-linus-torvalds-arbeitsrechner-hardware-1287213/

[2020-06-05 16:53] sunway513 commented on #1000
Hi @daitory , can you refer to the following issue that has been resolved:
https://github.com/RadeonOpenCompute/ROCm/issues/1126
Basically you'll need to update your TF wheel packages along with the ROCm base version upgrades. You can also refer to the following document:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md

[2020-06-05 19:47] daitory commented on #1000
I didi it but I receive this other error
![image](https://user-images.githubusercontent.com/20446075/83916832-da93fb00-a743-11ea-88f1-cd7ac02fb39f.png)

[2020-06-05 20:00] sunway513 commented on #1000
@daitory , it seems your user bit ROCm environment has not been properly configured.
Please follow the ROCm document and try to clean up your existed ROCm installations before upgrading to ROCm3.5:
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html
Or you can pull our pre-built docker containers:
https://hub.docker.com/r/rocm/tensorflow

[2020-06-06 13:49] papadako commented on #173
I guess the following numbers are a bit problematic. Any ideas? Could it be the kernel?

GPU: Radeon VII
Kernel: 5.7.0
rocm-dkms: from kernel
Python: 3.8.2
rocm: 3.5
tensorflow-rocm: 2.2 compiled from source
tensorflow benchmarks: master

[code]

[2020-06-07 01:48] daitory commented on #1000
@sunway513
I Did what you said, Fresh install Ubunut 18.04 , Rocm 3.5.0 and Tensorflow - Rocm 2.2.0

Additionally , I had to install rocm-libs,  miopen-hip , rccl

Just before Tensorflow

And finally

![image](https://user-images.githubusercontent.com/20446075/83958394-22e41380-a83f-11ea-829a-fe5278bcb2e8.png)

Thank you Mr, Without your help It wouldnt be possible

[2020-06-07 04:18] sunway513 commented on #1000
Hi @daitory , thanks and great to know it's working now :-)

[2020-06-07 04:18] #1000 closed, assigned to nobody

[2020-06-07 05:25] DeonRich opened #1001 "Segmentation Fault"
**System information**
- Ubuntu 20.04
- TensorFlow 2.2.0
- Python version: 3.8.2
- Installed via pip
- ROCm/MIOpen version: 3.5.0
- GPU model and memory: RX 5600XT

tensorflow is installed correctly. But when I try to run "tf_cnn_benchmarks.py --num_gpus=1 --batch_size=32 --model=resnet50" I get segmentation fault (core dumped)
I also tried running my own program and it says "WARNING:tensorflow:La

[2020-06-07 08:40] huanzhang12 commented on #173
@papadako Can you try to set `MIOPEN_DEBUG_CONV_IMPLICIT_GEMM=0` and/or `MIOPEN_DEBUG_CONV_GEMM=0` and see if it can improve performance?
[code]

[2020-06-07 10:45] oscarbg commented on #998
Hi @sunway513 ,
thanks.. that was quick..
upon quick testing seems there is a bug in rocblas running aibench (are you aware?)
just after aibench 8.1 test I get:
[code]

full log with dmesg with sensible info:

[code]

[2020-06-08 07:03] papadako commented on #173
I get even worse results with the above settings

[code]
 I will try try to use a rocm-dkms supported kernel (i.e., 5.4.0) and report back

[2020-06-08 08:30] papadako opened #1002 "F tensorflow/core/framework/tensor_shape.cc:353] Check failed: 0 <= new_num_elements (0 vs. -1)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- Linux Ub

[2020-06-08 09:56] witeko commented on #173
@papadako , @huanzhang12 , i have the same performance (or similar) issue. I use vega 7nm, rhel 8.2, dkms drivers, rocm 3.5, tensorflow 2.2.0 (on 2.1.0 works fine).

[2020-06-09 21:36] jerryyin commented on #1001
RX 5600 is a RDNA gaming card. I don't think we support this card.

You can take a look at the output of `$ /opt/rocm/bin/rocminfo` to get your gfx architecture number. Then refer to [here](https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support) for the list of supported hardware.

[2020-06-09 21:36] #1001 closed, assigned to nobody

[2020-06-09 21:43] jerryyin commented on #1002
Could you start with a release docker [here](https://hub.docker.com/r/rocm/tensorflow/tags) and make sure you can reproduce the issue?

Also, to make sure ROCm is configured correctly, follow the installation guide [here](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html).

[2020-06-10 16:18] papadako commented on #1002
Well, unfortunately I can not use the current docker since it is based on xenial and python3.5
[code]

[2020-06-12 20:39] jerryyin commented on #1002
Our officially supported and tested TF is 16.04. If the model has to be run in 20.04 then please submit a new issue when 20.04 is supported.

[2020-06-12 20:39] #1002 closed, assigned to nobody

[2020-06-16 08:02] MJDSys opened #1016 "Abort when training simple model on Vega FE"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Centos 7 with latest kernel-ml release, using Ubuntu 18.04 docker image with ROCm 3.5
- TensorFlow installed from (source or binary): pip/official docker
- TensorFlow version (use command below):
- Python version: v2

[2020-06-20 19:26] witeko opened #1018 "we need a tensorflow version compatible with rocm 3.5.1"
we need a tensorflow version compatible with rocm 3.5.1

seems that rocblas doesnt move/copy to the rocm3.5.1 folder if you just do the package upgrade from within ubuntu, but after manual reinstalation of rocblas it does the proper job - i'm trying to build a new tensorflow, will see how it goes...

edit: when doing "import tensorflow" there is another error: "ImportError: libhsakmt.so.1: cannot

[2020-06-20 20:57] witeko commented on #1018
seems to be working fine when You reinstall all the libraries...

[2020-06-20 20:57] #1018 closed, assigned to nobody

[2020-06-21 11:47] codecor-cn opened #1019 "libhip_hcc.so not found in rocm-3.5.1"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- Mobile device (e.g. iPhone 8

[2020-06-21 23:11] logan-dunbar commented on #173
Running inside a Singularity container (v3.5.2) on host Ubuntu 18.04.

GPU: Asus Radeon RX Vega 56 ROG Strix OC 8GB
Kernel: 5.4.0-37
Driver: amdgpu-pro 20.20 (Ubuntu would freeze sporadically with rock-dkms)
Python: 3.7.7 (deadsnakes)
rocm: 3.5.1 (apt)
tensorflow-rocm: 2.2 (PyPI)
tensorflow benchmarks: master (449e900)

<pre>
python3.7 tf_cnn_benchmarks.py --model=resnet50 --batch_size=64

Step	Im

[2020-06-23 11:12] helfio commented on #1019
I am experiencing this same error after upgrading from 3.5.0.
My case:

OS Platform and Distribution: Ubuntu 18.04 LTS (up to date)
TensorFlow installed from: pip install rocm-tensorflow
TensorFlow version: 2.2.0
Python version: 3.6.9
Installed using: pip in virtualenv environment
ROCm/MIOpen version: 3.5.1
GPU model and memory: RX 590 8GB

[2020-06-23 11:52] witeko commented on #1019
You need to reinstall (uninstall 3.5 and install 3.5.1).

On Tue, Jun 23, 2020 at 1:12 PM helfio <notifications@github.com> wrote:

[2020-06-23 12:12] papadako commented on #1019
I have the exact same problem. I removed all rocm packages and then re-installed but unfortunately the error message is still there.
`2020-06-23 15:10:17.516520: F tensorflow/stream_executor/lib/statusor.cc:34] Attempting to fetch value instead of handling error Failed precondition: Could not load dynamic library 'libhip_hcc.so'; dlerror: libhip_hcc.so: cannot open shared object file: No such file

[2020-06-24 05:56] codecor-cn commented on #1019
i try to reinstall to 3.5.1 and change /etc/ld.so.conf.d/ but still error. untill i use LD_LIBRARY_PATH declare the rocm librarys. it's ok

[2020-06-24 05:56] #1019 closed, assigned to nobody

[2020-06-24 10:05] papadako commented on #1019
I guess this is a problem with the packaging of ubuntu deb files. Maybe it should be kept open until the packages are fixed?

[2020-06-24 11:17] vuquocan1987 opened #1022 "Attempting to fetch value instead of handling error Failed precondition: Could not load dynamic library 'libhip_hcc.so'"
**System information**

- Ubuntu 20.04
- TensorFlow installed from (source or binary): pip install tensorflow-rocm
- TensorFlow version (use command below): 2.2.0
- Python version: 3.7
- GPU: rx 580
- ROCM 3.5.1:

**Describe the current behavior**
When I invoke code:
`
model = tf.keras.models.Sequential([
tf.keras.layers.Flatten(input_shape=(28, 28)),
tf.keras.layers.Dense(128, activation='relu'),

[2020-06-24 11:48] papadako commented on #1022
I had the same problem. What I did to resolve it was to copy `/opt/rocm/hip/lib/libamdhip64.so.3.5.30501` to` /usr/lib/libhip_hcc.so` and run ldconfig. I am not sure though why (it seems like a packaging error).

[2020-06-24 11:52] vuquocan1987 commented on #1022
Did you solved the problem by doing so :-?

[2020-06-24 11:59] papadako commented on #1022
Yep

[2020-06-24 12:05] vuquocan1987 commented on #1022
I am sorry if this seem obvious, but what is idconfig? where should i run it?

[2020-06-24 12:06] vuquocan1987 commented on #1022
I am sorry if this seem obvious:
1. So you copy  `/opt/rocm/hip/lib/libamdhip64.so.3.5.30501` to` /usr/lib/libhip_hcc.so` mean, you copy and rename the file right?
2  What is idconfig? where should i run it?

[2020-06-24 12:07] papadako commented on #1022
As root you should:
a) `cp /opt/rocm/hip/lib/libamdhip64.so.3.5.30501 /usr/lib/libhip_hcc.so`
b) `ldconfig` (the first letter is L - this is used for updating the links/cache of shared libraries, you can run it from anywhere)

[2020-06-24 12:12] vuquocan1987 commented on #1022
Thank you very much. That solved my problem!

[2020-06-24 13:43] papadako commented on #1019
I guess this issue should be kept open. A lot of users have problems with the current deb packages.

AMD, please improve your QC

Other references to the same issue
#1022 and also https://github.com/tensorflow/tensorflow/issues/40751

[2020-06-24 13:44] papadako commented on #1019
#1022

[2020-06-24 13:51] Chr0m0s0m3s commented on #1019
issue fixed using the following commands
[code]

[2020-06-24 19:26] jnairfamily commented on #1022
Thank you. This solved the problem

[2020-06-24 20:06] vuquocan1987 opened #1024 "Segmentation fault (core dumped) When run anything on gpu."
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- Ubuntu 18.04.04:
- TensorFlow installed from : pip3 install tensorflow-rocm
- TensorFlow version : 2.2.0
- Python version: 3.7
- GPU model and memory: rx580 8gb
- rocm: 3.5.1

**Describe the current behavior**
When I tried to import any model, or creating any model that requir

[2020-06-24 20:07] vuquocan1987 commented on #1024
Here is the link to someone with same issue:
https://github.com/tensorflow/tensorflow/issues/40751#issuecomment-648869842

[2020-06-24 20:23] ghost commented on #1024
same error here

[2020-06-24 20:31] witeko commented on #1019
@codecor-cn in my case no "magic tricks" were necessary, I just reinstalled

[2020-06-25 06:10] vuquocan1987 commented on #1024
I am not sure why, but I solved the problem by setting the path for hip library:

https://github.com/RadeonOpenCompute/ROCm/issues/1163#issuecomment-648910306

[2020-06-25 07:29] vuquocan1987 commented on #1019
Same for me, I can't just update the /etc/ld.so.conf.d/. If I update LD_LIBRARY_PATH on terminal it works temporally. This is not a permanent solution as  this only work in current terminal. If I use visualcode or pycharm, it doesn't work at all ( as I can't set LD_LIBRARY_PATH permanently ). How do you solve this?

[2020-06-25 08:00] papadako commented on #1019
Just try this
As root you should:
a) cp /opt/rocm/hip/lib/libamdhip64.so.3.5.30501 /usr/lib/libhip_hcc.so
b) ldconfig (the first letter is L - this is used for updating the links/cache of shared libraries, you can run it from anywhere)

I am not sure though what is the root cause of the problem. /opt/rocm/lib/libhip_hcc.so never gets cached

[2020-06-25 09:46] papadako commented on #1019
Running `ldconfig -v` shows the weird result `libamdhip64.so.3 -> libhiprtc.so` for /opt/rocm/lib.
I would expect a link like `libhiprtc.so -> libamdhip64.so.3`. So I guess maybe there are some cyclic dependencies?

A workaround that I am currently using is to:

a) Delete libhiprtc.so from /opt/rocm/lib

b) Add a file rocm-hip.conf in /etc/ld.so.conf.d with the following content (needs root permis

[2020-06-25 19:41] jerryyin commented on #1024
Instead of setting the LD_LIBRARY_PATH, could you try the alternative to set ROCM_PATH and make sure you have the latest hip-rocclr, and see if it fix the issue?
$ `sudo apt-get install hip-rocclr`
$ `export ROCM_PATH=/opt/rocm`

[2020-06-26 03:48] papadako opened #1026 "Invalid argument: Input to reshape is a tensor with 4300800 values, but the requested shape has 19268370432"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-06-26 16:26] jerryyin commented on #1026
@ekuznetsov139 Mind take a look at the user case? There could be gap in terms that the user is using `bert-for-tf2` and that of using ROCm 3.5.1. From the look of it, the shape of dropout related node get corrupted into a negative value. Technically this does not necessarily indicate a framework issue, but could be a model issue as well.

@papadako We'd need your script and steps to reproduce to c

[2020-06-26 19:10] ekuznetsov139 commented on #1026
This looks unpleasantly like #325, which was a hard-to-debug synchronization issue in the hip-hcc backend. The switch to hip-vdi backend may have exposed a similar issue.

I'll see if I can reproduce this running bert as usual on 3.5.1, but, if that does not work, I'll need the specific script and detailed steps to reproduce.

[2020-06-26 23:17] papadako commented on #1026
Thanks for the replies. I will try to create a small code example that exposes reproducibly the problem (if possible since I am not able to reproduce it reliably up to now).

[2020-06-27 11:28] papadako commented on #1026
Can you provide any guidelines about how someone can extract more helpful debugging information for resolving this? Also any kind of environmental variables from https://rocmdocs.amd.com/en/latest/Other_Solutions/Other-Solutions.html that I can use to test if the problem occurs or not?

The problem usually appears after a number of runs, during a model hyper-parameter tuning process

[2020-06-27 23:13] ekuznetsov139 commented on #1026
You could try to set AMD_SERIALIZE_KERNEL=3, AMD_SERIALIZE_COPY=3, TF_NUM_INTEROP_THREADS=1 and see if the problem still happens. (Note: the link calls them HCC_SERIALIZE_KERNEL and HCC_SERIALIZE_COPY, but, since 3.5, they are called AMD_... ). That should eliminate most of the timing and multithreading related randomness and the bug will either go away or become more consistently reproducible, in

[2020-06-28 16:53] witeko opened #1027 "Serious "batch size" regression in rocm3.5(.1)"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 18.04 (kernel 5.3), rhel 8.2
- TensorFlow installed from (source or binary): 2.1, 2.2 (both "build from source" and from pypi)
- Python version: 3.6-3.8
- GPU model and memory: 2 x radeon 7
- Driver: amdgpu, 3.5-32 (used with both rocm3.3 and rocm 3.5(.1))

**Describe the current behavior**
I'm running many CN

[2020-07-04 10:38] papadako commented on #1026
Hi,

I tried all of the above flags. Both of the AMD_SERIALIZE_KERNEL=3 and AMD_SERIALIZE_COPY=3 stuck the training process (is this a known issue?).

With the TF_NUM_INTEROP_THREADS=1 things seemed to progress, but at step 56 out of the 60 steps of the tuning process I got the following relevant error:

NEW RUN!  56

Parameters:
lr: 1.5e-05 dropout: 0.05 max length: 125 seed: 42 batch size: 16

3

[2020-07-05 03:59] webber26232 commented on #173
Radeon VII
`rocm==3.5` installed through apt
`tensorflow==2.2` installed through pip
[code]

Seems not as good as other Radeon VII posts. Got similar overhead mentioned in [qixiang109's post](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/173#issuecomment-603950460)

[2020-07-06 05:53] shoveller86 opened #1033 "Failed to use tf.profiler.experimental.Profile API to profiler model"
**System information**
- OS Platform: Ubuntu 18.04
- TensorFlow installed from source
- TensorFlow version: tf==2.1.0, merge-200413-0-g129dd9a34e 2.1.0
- Rocm version: rocm==3.3.0
- Python version: python==3.6.9
- Bazel version (if compiling from source):
- GCC/Compiler version: 7.5.0
- GPU model and memory: Vega 20, 16GB

**Describe the current behavior**
I want to profile a CNN model on AMD GPU,