[2020-07-07 09:30] shoveller86 commented on #1033
I also run this model using `tensorflow.python.profiler.model_analyzer.Profiler`   with `tf.compat.v1.disable_eager_execution`,  the error info is same:  **I tensorflow/core/profiler/internal/gpu/device_tracer_rocm.cc:177] RocmTracerEvent(s) dropped (1) : invalid stream id.**,   I am not sure is the gpu profiler of Tensorflow or profiler of ROCm exist bugs ?

[2020-07-07 14:53] jerryyin commented on #1033
@deven-amd Does this sounds familiar to you? I remember you have a recent PR that fixed rocTracer, too. Wants to double check because this seems to be on ROCm3.3 context.

[2020-07-07 15:00] jerryyin commented on #1027
This is to acknowledge that there are a number of regressions happen in ROCm 3.5 context. We have internal ticket filed to ROCm infrastructure team to track this. If your script can work with ROCm 3.3, my advise is to continue in this context. One quick way to check if you are impacted by ROCm 3.5 specific defects is to do a cross check between the disabled unit tests [here](https://github.com/ROC

[2020-07-07 19:55] witeko commented on #1027
@jerryyin ok, thanks. :)

[2020-07-07 20:14] deven-amd commented on #1033
@alphaRGB

Can you try a newer TF version. We have only recently (within the last couple of months) finished implementing support for profiling on TF-ROCm and I am unsure whether the version you are using has everything (needed for profiling)

The following error will still be there and can be ignored for now
[code]
That is because the TF code expects a CUDA style compute capability number in the

[2020-07-07 20:18] deven-amd commented on #1033
another sugegstion I have is to use the method outlined in the TF tutorial here
https://www.tensorflow.org/tensorboard/tensorboard_profiling_keras

to dump the profiling data. I just tried it on a simple example (using TF build from source on `develop-upstream` branch) and it works

[2020-07-07 21:30] jerryyin commented on #1024
Closing the issue for inactivity.

[2020-07-07 21:30] #1024 closed, assigned to jerryyin

[2020-07-07 22:01] jerryyin commented on #1016
Think this one will need your help/context again @deven-amd . I see `normalization_test` get disabled in [this PR](https://github.com/tensorflow/tensorflow/pull/38289/files#diff-3eee62da1db136b74c9730124ff9bbc9R629). Do you remember the context of it/ why it fails? We can suggest the user to fall-back to an older docker image if this is ROCm3.5 related.

[2020-07-08 00:23] deven-amd commented on #1016
possibly ROCm3.5 related.

The testcase runs fine for me with TF built from source (on `develop-upstream` branch)

[2020-07-08 03:01] shoveller86 commented on #1033
@deven-amd  thank you, I will test the **TF tutorial** demo first. Which commit should I use to compile TF, the lastest or there is a specified commit id on develop-upstream branch?  And which ROCm version you tried?

[2020-07-08 04:55] ccywxhn opened #1036 "//tensorflow/python:bfloat16_lib' failed (Exit 1),crosstool_wrapper_driver_is_not_gcc failed"
ERROR: /disk/ccy/ROCm/TF/tensorflow-upstream/tensorflow/python/BUILD:455:1: C++ compilation of rule '//tensorflow/python:bfloat16_lib' failed (Exit 1): crosstool_wrapper_driver_is_not_gcc failed: error executing command
  (cd /home/ccy/.cache/bazel/_bazel_ccy/3d2a9c8d528118f0815a98d1432af665/execroot/org_tensorflow && \
  exec env - \
    PATH=/home/ccy/.local/bin:/home/ccy/bin:/usr/local/sbin:/us

[2020-07-08 12:12] shoveller86 commented on #1033
I have test the demo of  "tensorboard_profiling_keras" in the url with TF 2.1 (merge-200413-0-g129dd9a34e 2.1.0) + ROCm3.3.0.
Due to the network reason, sorry I can't provide you detaild pictures of Tensorboard.  In the **PROFILER** page of tensorboard.
**Performance Summary** are all zeros on AMD GPU, it is seems error.   while I run same code on NVIDIA, most values are not zeros:
**Performance S

[2020-07-08 13:53] jerryyin commented on #1033
@alphaRGB TF2.1 is probably still too old. Could you maybe try the following two docker images? Or if you'd rather build by youself, use the commit id of tensorflow follows rocm version.

For ROCm 3.5:
`docker pull rocm/tensorflow-autobuilds:rocm3.5-760bec0`

For ROCm 3.3:
`docker pull rocm/tensorflow-autobuilds:rocm3.3-9ca344d`

[2020-07-08 14:27] jerryyin commented on #1016
I can confirm that something is going wrong. In my case the behavior is different. I used `rocm/tensorflow-autobuilds:rocm3.3-9ca344d` docker to run on a gfx906. It does not abort but got frozen for hours. I managed to have a VLOG=3 dump. Last three lines of log indicates it got frozen in ThenMemcpy.

`2020-07-08 13:58:51.529967: I tensorflow/core/common_runtime/gpu/gpu_util.cc:303] CopyCPUTensorT

[2020-07-08 14:32] jerryyin commented on #1036
Please provide more details in regards on how to reproduce:

- Which TF-rocm commit is it?
- What command did you run to compile?

[2020-07-08 14:33] #1022 closed, assigned to nobody

[2020-07-09 00:52] ccywxhn commented on #1036
1. Ubuntu18.04 , gcc 7.5
2. ROCm3.3 platform
3. vega10 card
4. Install bazel-3.0.0
5. git clone https://github.com/ROCmSoftwarePlatform/tensorflow-upstream.git
6. git checkout release-doc-rocm3.3-tf2.2-rc
7. ./configure, and set ROCm support
8. bazel build --local_ram_resources=2048 --config=opt --config=rocm //tensorflow/tools/pip_package:build_pip_package --verbose_failures

- note: when using t

[2020-07-09 09:42] shoveller86 commented on #1033
@jerryyin  Thank for your advice and  provided TF.  but we can't use docker, so I  tried to build Tensorflow (commit id = 760bec0)  with ROCm==3.5.0, but complied failed.  Could you help me check  the TF compile errors?  It will be great if you share a  prebuild  TF(760bec0) `whl` package to us if you have build it with success.

## ROCm
I installed ROCm using these cmds, then set `LD_LIBRARY_PATH

[2020-07-09 14:56] caius72 opened #1038 "rocm 3.5 resnet50 benchmark regression 192 (v3.3) -> 86 (v3.5) img/sec"
**System information**
- Linux Ubuntu 20.04):
- TensorFlow installed: pip3 install tensorflow-rocm
- TensorFlow version: v2.2.0-30-g34c3143 2.2.0
- Python version: 3.8
- GPU model and memory: Vega64 8GB

**Describe the current behavior**
----------------------------------------------------------------
total images/sec: 86.47
----------------------------------------------------------------
**Descri

[2020-07-09 19:06] deven-amd commented on #1033
you have run into the first of two known build errors with ROCm 3.5

both can be workedaround as shown here
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L121-L126

[2020-07-11 20:56] Awlexus opened #1040 "Segmentation fault when trying to run tensorflow quick start"
Hello, I'm currently trying to install ROCm and Tensorflow on my machine, but running the [Tensorflow quickstart guide](https://www.tensorflow.org/tutorials/quickstart/beginner) causes a segmentation fault.

**System information**

- **OS:** Arch Linux (Linux 5.7.7)
- **Tensorflow installation:** [Docker rocm/tensorflow](https://hub.docker.com/r/rocm/tensorflow)
- **TensorFlow version:** 2.2.0
- *

[2020-07-12 03:27] MJDSys commented on #1016
I'm trying to compile my own TF from source (using the develop-upstream branch) to see if that fixes anything, but I ran into some build issues.

In the meantime, I did play around with a debugger.  I managed to check what error code is being passed to callbackQueue (the function that is actually aborting), and it appears to be an HSA error ILLEGAL_INSTRUCTION.  Let me know if you need any more in

[2020-07-12 16:56] sunway513 commented on #1040
@Awlexus , RX 5700XT is yet supported by ROCm. For ROCm HW support information, please refer to the following doc:
https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support

[2020-07-13 01:17] MJDSys commented on #1016
I got my build of this repository working against 3.5.1 using the develop-upstream branch, and I can confirm that stopped the test script (and my actual production code) from crashing.

If that's enough to consider this issue fixed, I'm good for now as I have two potential workarounds (master branch/ROCm 3.3).  Please manage it as needed, and let me know if any more information would be helpful.

[2020-07-13 13:56] jerryyin commented on #1016
@MJDSys Thanks for the information. Just to confirm I understand it right:

- The script crashes on ROCm 3.5.1; Using the latest `develop-upstream`
- The script runs to get to correct result on ROCm 3.3; Using the latest `develop-upstream`?

[2020-07-13 14:02] MJDSys commented on #1016
@jerryyin Not quite.  What I've tested:
 * Using ROCm 3.5.0/3.5.1 and the released tensorflow-rocm PyPi package, the script crashes.  This happens with both my custom docker image and the official docker image released by AMD.
 * Using ROCm 3.5.1 using the latest develop-upstream, the script runs to completion.

This affects both the script posted here (a minimal reproducer) along with my actual m

[2020-07-18 01:21] cmburn opened #1047 ""crosstool_wrapper_driver_is_not_gcc" build fail"
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian 10 Buster, backports kernel 5.6.0
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): Source
- TensorFlow version: HEAD git branch
- Python version:3.8
- Installed using virtualenv? pip? conda?: included scripts with git clone
- Bazel version

[2020-07-20 14:02] nickdon2007 commented on #173
I have similar issue, with lower than expected performance. The memory bandwidth is slow, which I don't know why.

CPU: AMD Ryzen 7 3700X
GPU: AMD Radeon RX Vega 56
OS: Ubuntu 18.04
Python: 3.6
rocm: 3 (apt)
tensorflow-rocm: 2.2 (PyPI)

`python tf_cnn_benchmarks.py --num_gpus=1 --batch_size=32 --model=resnet50`

[code]

`clinfo`
[code]

`rocminfo`

[code]

`rocm-bandwidth-test`

[code]

[2020-07-20 14:40] jerryyin commented on #1047
You have two options as workaround:

- To compile by yourself, make sure to copy over the the workaround as indicated [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L121-L126).
- To use a pre-built docker, start with below:
   `$ docker pull rocm/tensorflow-autobuilds:latest`

[2020-07-20 14:43] jerryyin commented on #1038
Thanks for reporting. We are aware of the performance degrade with ROCm 3.5 and have internal ticket to track it. The suggested workaround is just to keep using ROCm 3.3. @deven-amd Please leave a comment if you have anything to add.

[2020-07-20 14:44] jerryyin commented on #1036
You have two options as workaround:

- To compile by yourself, make sure to copy over the the workaround as indicated [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L121-L126).
- To use a pre-built docker, start with below:
   `$ docker pull rocm/tensorflow-autobuilds:latest`

[2020-07-20 15:02] sunway513 commented on #173
Hi @nickdon2007 @webber26232 , thanks for reporting your observations.
We've been looking into the performance drop reported for the TF2.2 release branch. The issue has been identified and we'll try to provide the fixes in the next a few weeks with the next ROCm release.
cc @ekuznetsov139 @deven-amd

[2020-07-23 16:23] deven-amd opened #1054 "[discuss] Changing how we determine the amdgpu targets to build for in the non-XLA path"
Currently the ROCm TF build generates HSACOs for the following archs
 * gfx803
 * gfx900
 * gfx906
 * gfx908

This is achieved by creating the `$ROCM_PATH/bin/target.lst` in the `Dockerfile.rocm` as shown below
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L84-L85

When hipcc is invoked without any options that specify w

[2020-07-24 15:07] rickrickrickyyy opened #1056 "2 seconds per step with batch_size 16 for mobile_netV2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Ubuntu 18.04.4 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary):
- TensorFlow version (use command below):v2.2.0-30-g34c

[2020-07-26 09:50] hohteri opened #1059 "Randomly getting stuck, wrong tensor dimensions, OOM"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2020-07-29 11:41] papadako opened #1063 "Compilation error of tensorflow upstream"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- TensorFlow vers

[2020-07-30 09:22] ccywxhn opened #1066 "Vscode single step debugging tensorflow, how to configure the environment"
Write a simple tensorflow program, I want to step debugging to understand tensorflow operation internal process by using VScode.  how to configure the environment in VScode.

Here is my environment configuration:
 * Ubuntu18.04
 * ROCm-3.3.0
 * Python3.6
 * Tensorflow 2.1(By compiling and installing with source code)
 * VScode

[2020-07-30 18:58] jerryyin commented on #1063
You have two options as workaround:

- To compile by yourself, make sure to copy over the the workaround as indicated [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/tensorflow/tools/ci_build/Dockerfile.rocm#L121-L126).
- To use a pre-built docker, start with below:
   `$ docker pull rocm/tensorflow-autobuilds:latest`

[2020-07-30 19:00] #1040 closed, assigned to nobody

[2020-07-30 19:06] jerryyin commented on #1056
Thanks for reporting this issue @rickrickrickyyy. Would it be possible for you to test this in an earlier ROCm version, say ROCm 3.3? Full instructions on installation and uninstallation please refer to [here](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html).

Or a quick way to experiment is to use an existing docker: `docker pull rocm/tensorflow-autobuilds:rocm3.3-la

[2020-07-30 19:07] jerryyin commented on #1059
Thanks for reporting this issue @hohteri. Would it be possible for you to test this in an earlier ROCm version, say ROCm 3.3? Full instructions on installation and uninstallation please refer to [here](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html).

Or a quick way to experiment is to use an existing docker: `docker pull rocm/tensorflow-autobuilds:rocm3.3-latest`

[2020-07-30 21:49] hohteri commented on #1059
[code]

First 30+ runs done without issues, rocm3.3 seems a bit more verbose especially the last line is printed 9x before each epoch. Also training in our case is about 25% faster than with 3.5.x.

[2020-07-30 22:28] jerryyin commented on #1059
Thanks for reporting back. The tensor dimension issue is a known defect root caused in Hip runtime, we have internal ticket to track it. The workaround as of now is to keep using ROCm3.3, until a newer ROCm version is rolled out and defect fixed.

[2020-07-31 05:03] hohteri commented on #1059
I spoke too early (or at least it is more stable than with rocm3.5.x), at run 21 (that is 50 epochs per run), it got stuck after successfully training a model and then running a small evaluation batch. It finished the evaluation batch but got stuck. Weird thing here is that with rocm3.5.x if the execution got stuck It was (almost) always in middle of training not our separate evaluation set. Also

[2020-07-31 13:52] jerryyin commented on #1066
This fork only deal with ROCm related questions. I'd suggest you to ask it [upstream](https://github.com/tensorflow/tensorflow).

[2020-07-31 13:52] #1066 closed, assigned to nobody

[2020-08-01 15:13] papadako commented on #1063
Thanks, I managed to build it using the workaround

[2020-08-01 15:13] #1063 closed, assigned to nobody

[2020-08-02 20:24] hohteri commented on #1059
We can seem some seldom freezes even with ROCm 3.3 especially when running Keras tuner (tf2.2). If there is a private way of sharing code and training data, we are happy to do that.

[2020-08-04 05:05] #1033 closed, assigned to deven-amd

[2020-08-05 18:08] #1047 closed, assigned to nobody

[2020-08-05 18:08] #1036 closed, assigned to nobody

[2020-08-05 18:08] #1027 closed, assigned to nobody

[2020-08-06 15:05] Ryandry1st commented on #1040
I am running into this issue as well using Navi 10. It is still not supported, however, there have begun to be workarounds, https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-668600955. I did this and tf is able to successfully load all of the libraries and recognize that the device is Navi 10.

Now I am able to perform operations on integers, however any floating point operations i

[2020-08-06 15:37] jerryyin commented on #1059
@hohteri Please check you email. Thanks.

[2020-08-07 19:59] aserio opened #1073 "Review JAX Support in TensorFlow"
JAX is becoming a popular platform for ML models. We should investigate our ability to support this framework.

[2020-08-07 20:08] jerryyin commented on #1016
Thanks. We are still triaging this issue, but it will be fixed in the coming `tensorflow-rocm-2.3-enhanced` release according to @sunway513. I'm keeping the issue open when a docker image become publicly available.

[2020-08-07 20:15] jerryyin opened #1074 "Investigate missing commit in upstream 2.3 release branch"
The context of it is from the TF i[ssue#1016](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1016). @sunway513  have the following observations in executing the script provided by user:
 - It can be re-produced in `rocm/tensorflow-private:rocm3.6-rc3-tf2.3-dev` image
 - It has been fixed in `rocm/tensorflow-private:rocm3.6-rc3-tf2.3-rocm-enhanced-dev` image

This indicates that

[2020-08-07 20:25] jerryyin opened #1075 "Investigate TF-probablity performance issue"
The context of it is related with TF-[issue#954](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/954). There are two tasks related with the issue:

1. Need to understand why ROCm XLA produce the warning "Unexpectedly high number of iterations...". Under the hood this seems to be indicating the pass always changes the hlo code and never converges. I have recorded that `HloPassFix

[2020-08-07 20:27] #1074 closed, assigned to nobody

[2020-08-07 20:28] #1075 closed, assigned to nobody

[2020-08-07 20:30] jerryyin commented on #1073
Could you refile to our internal [issues](https://github.com/ROCmSoftwarePlatform/tensorflow-internal/issues)?

[2020-08-07 20:30] #1073 closed, assigned to mvermeulen

[2020-08-12 06:11] FormulasT commented on #302
This problem is still exist when I use latest docker of rocm/tensorflow.I have been trying since yesterday.

[2020-08-13 11:43] Soddentrough commented on #302
Another Radeon VII with the same issue (on AI Benchmark):

MIOpen Error: /root/driver/MLOpen/src/gemm_v2.cpp:523: rocBlas error encountered
Memory access fault by GPU node-1 (Agent handle: 0x5600f99cb850) on address 0x19000. Reason: Unknown.

ROCm: 3.5.0
TF Version: 2.2.0

[2020-08-16 23:12] XuanBaby commented on #732
@LaoFeng876  hello  i meet the same error  , could you tell me how to solve this?

[2020-08-19 02:29] quocdat32461997 opened #1082 "Cannot install Tensorflow-Addons for TF-ROCm"
**System information**
- Have I written custom code: No
- OS Platform and Distribution: Ubuntu 18
- TensorFlow installed from (source or binary): ROCM source
- TensorFlow version (use command below): TF-2.2
- Python version: 3.7
- GPU model and memory: Radeon VII 16Gb

**Describe the current behavior**
Installing Tensorflow-Addons raises error: "not finding a version that satisfies the requirement

[2020-08-19 18:51] witeko commented on #1082
Sorry to cut in, but I think this is not a tensorflow-rocm issue. Maybe try installing addons from source?
Another route/angle: In my conda env "pip install tensorflow-addons" works just fine.

[2020-08-19 18:54] witeko commented on #1056
@jerryyin on 3.3 works just as slow. At least it used to (I tried to train it some time age - but it was for sure on 3.3).

[2020-08-19 20:01] quocdat32461997 commented on #1082
Thanks. I’ll try and let you know.

[2020-08-20 08:26] dnlanoj opened #1085 "Unable to train model with Tensorflow Object Detection API"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platfo

[2020-08-21 09:45] oleid opened #1089 "OP_REQUIRES failed at reshape_op.h:57 : Invalid argument: Size 0 must be non-negative, not -1113764467"
**System information**
I'm using the official rocm/tensorflow docker container on ArchLinux with their kernel 5.8 - so I'm on upstream driver.
GPU is  Radeon 480RX on a first generation Ryzen 1800X.

I'm using the official docker image for reproducability.
[code]

**Describe the current behavior**

I tried to train a small network:

[code]

This is how the container is run:

`docker run -it --devi

[2020-08-21 10:37] witeko opened #1090 "tensorflow branches that work with rocm 3.7"
tensorflow branches that work with rocm 3.7

[2020-08-22 05:04] ghostplant commented on #1090
Also expecting a pypi package of tensorflow 1.15 that can work on rocm 3.7.

[2020-08-23 10:56] Djip007 commented on #1089
Is the dataset public? can I download it somewhere?

[2020-08-23 11:41] oleid commented on #1089
Sadly not. But let me see if I can reproduce it with a public dataset...

[2020-08-23 14:24] oleid commented on #1089
This is a minimal example based on `mnist` dataset. Trouble is: I cannot reproduce the original error (even with the non-public dataset)  :confused:  - training seems to work. Well, apart from a hard freeze of my machine after a few epochs. But loss sinks and accuracy converges slowly to 1. So I guess we can close this issue. Sorry for the noise.

[code]

[2020-08-23 22:00] papadako commented on #1026
Upgrading to rocm 3.7 seems to have resolved my issue (I have been fine-tuning a BERT model for almost a day)!

[2020-08-23 22:00] #1026 closed, assigned to ekuznetsov139

[2020-08-23 22:18] papadako commented on #1090
I have built tensorflow 2.3 for rocm 3.7. You can find it here
http://139.91.183.23/tensorflow/tensorflow-2.3.0-rocm-3.7-cp38-none-any.whl

[2020-08-24 14:51] kostask777 commented on #1090
Hello @papadako,

thank you for posting this.  I attempted to pip install your wheel, but failed with error "tensorflow-2.3.0-rocm-3.7-cp38-none-any.whl is not supported on this platform". But from what I see in the naming convention of your wheel, it should built on any platform, right? I am on x86_64, running Ubuntu 18.04 with ROCm 3.7.0 and Python 3.8.

[2020-08-24 15:05] witeko commented on #1090
I have the same issue as @kostask777 .

My question is: should I try do debug the errors that Im encountering when trying to build tensorflow with rocm 3.7 or should I wait for official branches?
Im currently getting:
"ERROR: /home/witold/Downloads/tensorflow-upstream-r2.3-rocm-enhanced/tensorflow/stream_executor/rocm/BUILD:297:1: undeclared inclusion(s) in rule '//tensorflow/stream_executor/rocm:

[2020-08-24 15:06] papadako commented on #1090
Hi @kostask777 ,

if you rename the file to tensorflow-2.3.0-cp38-none-any.whl ?

[2020-08-24 15:10] witeko commented on #1090
@papadako "if you rename the file to tensorflow-2.3.0-cp38-none-any.whl ?" - now I can install but when importing tensorflow I get:
"/lib64/libm.so.6: version `GLIBC_2.29' not found (required by /home/witold/anaconda3/envs/tf23/lib/python3.8/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so)"

[2020-08-24 15:24] papadako commented on #1090
So I guess you: a) either upgrade your glibc to 2.29 (either by compiling (RISKY!) or upgrading to 19.04 or newer ubuntu), b) you compile tensorflow branch for your distribution or c) wait for official files.

@witeko I have built the r2.3 branch not r2.3-rocm-enhanced.

[2020-08-24 18:30] kostask777 commented on #1090
@papadako "if you rename the file to tensorflow-2.3.0-cp38-none-any.whl ?" In my case, I think it will compile the normal tensorflow 2.3 (not the rocm version) because it says:

"ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts. We recommend you use --use-feature=2020-resolver to

[2020-08-24 19:14] papadako commented on #1090
@kostask777

I guess you will have to delete the previous tensorflow-rocm 2.2.0 package. But again I think you will have the same problem as @witeko. I might try to create a build tomorrow for ubuntu 18.04

[2020-08-24 19:21] witeko commented on #1090
@papadako my main system is RHEL 8.2, I also have ubuntu 20.04 (but dont use it very ofter).
Thanks for the effort. :)

Btw Ive been to Heraklion lately. :)

[2020-08-25 20:46] witeko commented on #1090
@papadako did You maybe encounter any random errors while building? Im encountering such errors on both ubuntu 20.04 and rhel 8.2. How did You overcome them?

[2020-08-25 22:05] witeko opened #1095 "getting an error when trying to build tensorflow2.3-enh (and non enh) with rocm3.7"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): NO
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): ubuntu 20.04 and rhel 8.2 (not 8.3 because it is a beta)
- TensorFlow installed from (source or binary): rocm-tensorflow 2.3 enhanced (and non-enh version), tf21 seems to work fine
- Python version: 3.8 (and other ver

[2020-08-26 03:03] gootsing commented on #1090
I also encountered exactly the same problem when building either r2.2 (r2.2-rocm-enhanced) or r2.3 (r2.3-rocm-enhanced) with ROCm3.3. I haven't found anything strage about the rule in the building file. Have you fixed this building error? Thanks.

[2020-08-26 12:41] gsedej commented on #1082
I found this issue when trying some tensorflow models examples and come to similar issue
(https://github.com/tensorflow/models/tree/master/official/vision/image_classification ResNet50)

pip install tensorflow-addons does not work for me.
When I try this on my "rocm" virtual envrioment it says
[code]

but when using "standard" tensorflow venv (cpu-only in my case)
[code]

Probably addons package i

[2020-08-26 18:36] witeko commented on #1095
The problem persists also when trying to build tensorflow in rocm/tensorflow:rocm3.7-tf2.3-dev

[2020-08-27 07:27] witeko commented on #1056
@jerryyin still slow on rocm 3.7 and tf21
tf23 doesnt work for me at all (doesnt even build)

[2020-08-27 14:36] jerryyin commented on #1056
@sunway513 Could you help follow-up with this issue related with `tf_cnn_benchmarks`? I had very little idea of what the right number should look like.

[2020-08-28 08:24] dnlanoj commented on #1085
Hi,
for people who might be struggling as well I have downgraded to tensorflow 1.14.0 and the training is a bit more stable, however it is still very long (one hour per step) and gives no concluants results.
It also takes a lot of GPU RAM so that after a few steps (so a few hours) the process is killed without further indications.
Hope you can help me.

[2020-08-28 12:01] kostask777 commented on #1090
In my case I got a similar error, but for GLIBC_2.28 ...

[2020-08-28 20:06] jerryyin commented on #1089
Thanks for confirming ROCm 3.7 works for you. Yes, this is an issue exposed in ROCm 3.5 runtime and the release of ROCm 3.7 fixed it. Closing the issue now.

[2020-08-28 20:06] #1089 closed, assigned to nobody

[2020-08-28 20:15] jerryyin commented on #1090
We have updated the dockerhub with a number of TF branches that work with ROCm3.7. Please refer to the rocm/tensorflow channel, [here](https://hub.docker.com/repository/docker/rocm/tensorflow). It includes tf1.15/2.1/2.3 branches

Also, if you want the latest `develop-upstream` with ROCm 3.7, please refer to this tag: `docker pull rocm/tensorflow-autobuilds:rocm3.7-latest`

[2020-08-28 20:22] jerryyin commented on #1085
Please note TF version and ROCm version needs to be aligned if you try with a past branch. Please see [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-rocm-release.md).

Performance wise, I suggest to use the latest ROCm version in [this channel](https://hub.docker.com/repository/registry-1.docker.io/rocm/tensorflow/tags?page=1).

[2020-08-28 20:24] jerryyin commented on #1095
Thanks for reporting. We have most recently updated a number of release branches since ROCm3.7 come out. Would you give a shot to the tip of those release branches? Or an alternative is to use the pre-built docker containers [here](https://hub.docker.com/repository/registry-1.docker.io/rocm/tensorflow/tags?page=1).

[2020-08-28 20:27] jerryyin commented on #1056
Now that ROCm3.7 related docker images are out, I'd recommend to give them a shot: [here](https://hub.docker.com/repository/registry-1.docker.io/rocm/tensorflow/tags?page=1)

[2020-08-28 20:39] jerryyin commented on #1082
Cannot reproduce in ROCm3.7 docker, closing now.

$ ~ docker pull rocm/tensorflow-autobuilds:rocm3.7-latest

$ ~ drun rocm/tensorflow-autobuilds:rocm3.7-latest
$ pip3 install tensorflow-Addons

  Downloading tensorflow_addons-0.11.2-cp36-cp36m-manylinux2010_x86_64.whl (1.1 MB)
     |################################| 1.1 MB 6.1 MB/s
Collecting typeguard>=2.7
  Downloading typeguard-2.9.1-py3-none-a

[2020-08-28 20:39] #1082 closed, assigned to nobody

[2020-08-28 20:42] jerryyin commented on #1059
We confirmed that the issue does not exist when using ROCm 3.7 with prefetch. Closing the issue now.
`trainData = trainData.prefetch(buffer_size=tf.data.experimental.AUTOTUNE)`

[2020-08-28 20:42] #1059 closed, assigned to nobody

[2020-08-28 20:48] witeko commented on #1095
@jerryyin I've already tried everything (including docker, and also different distros [rhel 8.2 and ubuntu 20.04]): rocm3.7 doesnt build for me with tf2.3(-enh). It builds and works fine with tf21. It builds with 2.2(-enh) but there are situations when it doesnt work properly (hangs my computer while training for example mobile net).

[2020-08-28 20:52] witeko commented on #1056
@jerryyin and @sunway513 , tf23 causes errors for me while training mobile net (installing from whl, building from source doesnt work for me), but while it works it seems to be much faster on rocm 3.7 and tf23.

[2020-08-28 20:54] jerryyin commented on #1095
Hey @sunway513 Could you comment on which branch did you use specifically to build the `rocm/tensorflow:rocm3.7-tf2.3-dev` image?

[2020-08-28 21:04] witeko commented on #1095
@jerryyin , @sunway513, I think I've also checked all possible branches, theres no way around it - it doesnt work for me...

[2020-08-28 21:14] sunway513 commented on #1095
Hi @witeko , we've been using the following branch to build the public ROCm3.7 TF2.3 docker container:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/tree/r2.3-rocm-enhanced
The tensorflow source, bazel and all the dependencies were included there in the docker.
After launching it, the following steps can rebuild it:
`cd ~/tensorflow && bash build_rocm_python3 `

[2020-08-28 21:19] witeko commented on #1095
@sunway513 Ive tried it already, the same error. The problem is somewhere else apparently...driver? hardware (maybe different specs activate different bits in the code.?)

[2020-08-28 21:25] sunway513 commented on #1095
Our build machine doesn't have AMD GPUs resources. I wouldn't expect issues to rebuild the quoted TF branch inside that docker container.
Did you made any code changes on TF?

[2020-08-28 21:28] witeko commented on #1095
@sunway513 no code changes on my side.
hmm...nothing that should matter - for example I restrict the number of jobs for bazel with "-j 20" - thats the only "custom" stuff..

[2020-08-28 22:36] jerryyin commented on #1095
Closing as not reproducible. If you continue to run into issues please reinstall ROCm 3.7.

In `rocm/tensorflow:rocm3.7-tf2.3-dev`, follow the instruction from @sunway513, do `cd ~/tensorflow && bash build_rocm_python3` and TF-rocm will be built fine.

[2020-08-28 22:36] #1095 closed, assigned to nobody

[2020-08-31 07:58] dnlanoj commented on #1085
Hello thank you for your answer ! However as I said I used the docker images from dockerhub using the tensorflow 1.14 version so I am now with tf 1.14.6 and rocm 3.1 which is aligned regarding the compability table and I still have my problems : around one hour per step and process get killed after several steps due to the RAM I suppose (I have 32 Gb of RAM).

[2020-08-31 10:30] gsedej commented on #1082
Can confirm it works for me. I had to upgrade "pip"  via `pip3 install pip --upgrade˙`.

After that you can install tensorflow-addons

[2020-08-31 12:14] roblem opened #1100 "XLA GPU problems in tensorflow-rocm 3.7?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 18.04 using upstream radeon driver
- TensorFlow installed from (source or binary): pypi (pip install tensorflow-rocm)
- TensorFlow version: 2.3.0
- Python version: Python 3.7.6
- Installed using virtualenv? pip? conda?: pip
- ROCm/MIOpen version: 3.7
- GPU model and memory: Dual Radeon VII's

**Describe

[2020-08-31 14:42] jerryyin commented on #1085
Sorry if I didn't make it clear. We only support the latest `1.x` TensorFlow or `2.x` TensorFlow also with latest ROCm version. 1.14.6 was released half a year ago and we have fixed numerous issues like yours in the time range.

[2020-08-31 15:53] whchung commented on #1100
Could you help check if `ld.lld` is present under one of the following 2 directories in your ROCm 3.7 installation?

- `/opt/rocm/llvm/bin/ld.lld`
- `/opt/rocm/hcc/bin/ld.lld`

[2020-08-31 16:45] roblem commented on #1100
Neither of those directories exist on my machine.

[2020-08-31 17:06] whchung commented on #1100
Could you try install `llvm-amdgpu` package. In my installation where XLA works out of the box `/opt/rocm/llvm/bin/ld.lld` is present:

[code]

[2020-08-31 17:08] whchung commented on #1100
Also you could try pull `rocm/tensorflow:rocm3.7-tf2.3-dev` docker image which should have everything configured.

https://hub.docker.com/r/rocm/tensorflow/tags

[2020-08-31 19:26] roblem commented on #1100
Here is what I have for the two commands you ran

[code]

[2020-08-31 20:04] whchung commented on #1100
@roblem So it seems `llvm-amdgpu` is not installed on your box. It should carry an attribute when you do `apt show`:

[code]

Could you test again after you do `apt install llvm-amdgpu`?

[2020-08-31 21:00] roblem commented on #1100
Apologies.  Remnants of the opencl parts of amdgpupro were still lingering in the system.  After removing those and reinstalling rocm 3.7, this works so closing.

[2020-08-31 21:00] #1100 closed, assigned to nobody

[2020-09-01 07:41] dnlanoj commented on #1085
Okay thank you for your answer ! I'm closing this issue, I didn't manage to make it work with tf 1.15 but it worked with the docker image tf 1.14.6 and using the legacy/train.py from the tensorflow object detection api instead of the model_main.py.

[2020-09-01 07:41] #1085 closed, assigned to nobody

[2020-09-03 07:46] sanromd opened #1102 "Abort on model.compile with Keras' VGG-19"
**System information**
- Training VGG-19
- OS Platform and Distribution: Pop OS 20.04
- TensorFlow installed from (source or binary): binary
- TensorFlow version: 2.3.0
- Python version: 3.8.5
- GPU model and memory: Radeon Pro WX 5100

**Describe the current behavior**
Kernel breaks and calculation is aborted.
`:0:rocdevice.cpp            :2159: 92278488128 us: Device::callbackQueue aborting with

[2020-09-03 09:14] gsedej opened #1103 "TensorFlow cannot allocate >4GB on RX-480 8GB (ROCm-TF)"
Short summary:
I can train/evaluate models that allocate less than 4GB of VRAM, but i get issue if more on 8GB gpu. I can run 2 models ~4GB at the same time though.

I have already opened issue on "ROCm" tracker, but didn't get any response in 1 week. Maybe ROCm-tensoflow guys can provide some info.
Full info on issue is here: https://github.com/RadeonOpenCompute/ROCm/issues/1206

Also another que

[2020-09-03 12:58] sanromd commented on #1102
I repeated the test using the docker image of rocm with tensorflow. The result was identical

[code]

[2020-09-03 14:54] jerryyin commented on #1103
Have you tried to set the environment variable as what the error message suggests? `export TF_CUDNN_WORKSPACE_LIMIT_IN_MB=8192`

[2020-09-03 15:10] jerryyin commented on #1090
Closing due to inactivity

[2020-09-03 15:10] #1090 closed, assigned to nobody

[2020-09-03 15:32] gsedej commented on #1103
`export TF_CUDNN_WORKSPACE_LIMIT_IN_MB=8192` did not help - same output

(`Memory access fault by GPU node-1 (Agent handle: 0x4dfe2c0) on address 0x103369f000. Reason: Page not present or supervisor privilege.`)

I have read that ROCm version 3.3 was working better. How can I downgrade? (Ubuntu 18.04)

EDIT:
there another tensorflow model outputs another issue:
[code]

[2020-09-03 15:47] jerryyin commented on #1103
Ok so by reading your log I don't think it is either TF or ROCm problems. It is simply because your model's peak memory requires more than 8GB of GPU memory. Remember, TF in its execution also consumes memory, e.g.: It has to store tensors in the forward pass in preparation for the backward pass. From the look of it, if the occupied memory at running the current node is ~2GB, and now TF ask to all

[2020-09-03 17:22] gsedej commented on #1103
OK. I checked now on nvidia Titan X with 11GB, it takes bit above 8GB. Understandable it does not work with 8GB.

But still, with "first" model, I can set size of input images. The bigger input, the bigger model (more VRAM).
If I set size of 488 x 488 pixels, the model is just below 4GB of VRAM - and it works fine on my RX480.
I can even run 2 instances of 488 x 488 pixels, consuming 8GB of VRAM t

[2020-09-03 18:39] jerryyin commented on #1103
The memory footprint is highly dependent on the ops you use in tensorflow. But I agree if the model on Nvidia hardware consumes only around 5GB whereas fails on AMD side, it is something to look into. Could you provide all details to reproduce? I will need a docker image, the setup instructions, model script and training data.

[2020-09-04 14:41] brydon opened #1105 "Inconsistent behaviour of .predict in docker images"
I have noticed that the `predict` function of a keras model in tensorflow-rocm is acting inconsistently with Tensorflow-ROCm-3.7 (and so too is the `evaluate` function, likely for similar reasons). This happens both on a bare metal setup and in the docker images.

If I run the `.predict` method on an input there is a chance that I get an output that is inconsistent with manually feeding the same i

[2020-09-06 20:29] reinka opened #1106 "hip_code_object.cpp:92: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!")"
GPU: 5700xt

When using the following Docker image:

[code]

with ROCm installed on the Docker host as explained here:  https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html

I get the following error when executing TensorFlow ops:

[code]
and the Python console dies. I started the container with the alias mentioned in the corresponding Docker registry: https://hub.docker.c

[2020-09-07 08:05] xuhuisheng commented on #1106
I test rocm-3.7.0 on ubuntu-20.04, my gpu is gfx803.
Tensorflow-rocm loaded /opt/rocm/rocblas/lib/library/Kernels.so-000-gfx803.hsaco and /opt/rocm/rocblas/lib/library/TensileLibrary_gfx803.co.
5700xt related gfx1010, so maybe there are missing some library for it.

[2020-09-07 18:26] sanromd commented on #1102
@Patrikvs94
@Saduf2019

[2020-09-07 18:30] sanromd commented on #1102
@ekuznetsov139

[2020-09-07 18:33] sanromd commented on #1102
@deven-amd and @jerryyin I would appreciate your feedback on this

[2020-09-07 18:50] reinka commented on #1106
Hmm, I'm afraid I don't understand enough to know how to use your information :/

[2020-09-08 13:36] oleid commented on #1106
Same problem, different GPU and not in docker, but ArchLinux.

[code]
@xuhuisheng: How did you get  the list of files tensorflow-rocm loaded? I tried `strace`-ing my python script -- to no avail.

It would seem I don't have `/opt/rocm/rocblas/lib/library/`, possible that's the problem.

[code]

[2020-09-08 13:42] oleid commented on #1106
@reinka:

I find it strange that your python output doesn't list a device. Does `rocminfo` or `clinfo` list anything?

By the way, when I experimented with tensorflow in docker, I used something like:

`sudo docker run -it --device=/dev/kfd --device=/dev/dri --security-opt seccomp=unconfined --group-add video  --volume $PWD:/data rocm/tensorflow`

[2020-09-08 14:01] gsedej commented on #1103
Unfortunately I am not allowed to post model/data, since we are working on medical data.

I am also quite new to tensorflow (previously working on caffe), so I don't know which demo/example model uses more than 4GB of vram. Do you have polaris hw and model bigger than 4GB?

[2020-09-08 14:34] xuhuisheng commented on #1106
I compiled HIP from source rocm-3.7.0 and add some logs for debug. You can find the hip_code_object.cpp from HIP/rocclr/ directory.
The rocBLAS didnot support gfx1010 tensile image,

The code_object function should be a new feature from rocm-3.7.0, I am investigating a bug for gfx803 on rocm-3.7.0, rocblas seems to be the key, So I am reading the code around.

`dpkg -c rocblas_2.26.0.2565-9d981389

[2020-09-09 05:18] relaxation82 commented on #1105
I am receiving similar issues. I attached two situations where the training stops at a certain point with specified accuracy on the validation data. When I run model.predict and use numpy to populate the confusion matrix, I sometimes get consistent results an sometimes not.

Here is a situation with inconsistent results:

[code]

Here is a situation with consistent results:

[code]

Below is a plo

[2020-09-09 11:48] oleid commented on #1106
Okay, I now have those files as well. That pull https://github.com/rocm-arch/rocm-arch/pull/413 fixed it.

[code]
Problem still persists, though.

[2020-09-09 12:07] oleid commented on #1106
Please note that in the aforementioned docker container tensorflow-rocm seems to find all it needs. So this must be something ArchLinux related in my case.
[code]

[2020-09-09 12:40] oleid commented on #1106
It would seem librocrand is to blame on Arch. It is missing support for my GPU.  I hacked in debug info as well and a dump of the call stack:

[code]

Will report back once I know more.

[2020-09-09 12:54] oleid commented on #1106
Yes, that did the trick. Works for me now, thanks :)

[2020-09-09 13:04] tpkessler commented on #1106
Hey @oleid to which trick are you referring to? I've submitted a PR to rocm-arch which adds `gfx803` as a target architecture, see https://github.com/rocm-arch/rocm-arch/pull/414

[2020-09-09 13:39] jerryyin commented on #1102
Wants to clarify what is needed for reproduce.
 - What is the ROCm version on the bare metal? Is it ROCm 3.7?
 - Which docker image were you using?

[2020-09-09 13:47] jerryyin commented on #1056
Closing the issue as fixed in ROCm 3.7

[2020-09-09 13:47] #1056 closed, assigned to nobody

[2020-09-09 13:55] jerryyin commented on #1105
@ekuznetsov139 Could you help take a look at this issue? Judging from the message, the user compared the `.predict` behavior on:
 - `rocm/tensorflow:rocm3.7-tf2.3-dev`
 - `rocm/tensorflow:rocm3.5-tf2.2-dev`

I doubt anything changed between tf2.2 -> tf2.3 frame that caused this, this make it very likely an issue in ROCm3.7.

[2020-09-09 16:58] reinka commented on #1106
@oleid Hm, I think you are onto something. I used both the official docker run command and your version and inside the container I get the following `rocminfo` output:

[code]

whereas on my host (Ubunut 20.04) it seem to work properly:

[code]

However, on my host I still get the same issue when I try to run tensorflow operations:

[code]

TF version:

[code]

**EDIT**

I also ran the following o

[2020-09-09 22:55] xuhuisheng commented on #1106
`sudo apt install kmod` can solve the lsmod warning in docker.

And I cannot find how to generate the Tensile image for gfx1010 under rocBLAS. Maybe you could recompile rocBLAS with BUILD_TENSILE_HOST=false. It will skip the Tensile image.

Actually the rocm didnot support gfx1010(nav10) offcially, so I cannot guarentee we could run gfx1010 on ROCm, eventually, please refer these issues:

https://

[2020-09-10 05:43] reinka commented on #1106
@xuhuisheng I solved the lsmod problem however the issue still remained.

Thanks for the hint and links. I will look into it. Before I started to get TF running with the 5700xt I found some other github issue where they linked to this blog post

https://www.preining.info/blog/2020/05/switching-from-nvidia-to-amd-including-tensorflow/

and confirmed it would work. So it seems some people get it run

[2020-09-10 09:24] oleid opened #1110 "call to miopenFindConvolutionBackwardDataAlgorithm failed"
**System information**
- I'm using ArchLinux with their attempt to get the ROCm stuff going.
- This is a follow up to https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1106
- I'm using an Radeon RX 470

**Describe the current behavior**

The minimal example dies with:

[code]

Please note, I added a bunch of extra debug output (like a backtrace) before I realized (by digging throu

[2020-09-10 09:36] oleid commented on #1110
Correction: 2D convolutions don't work anymore for unknown reason. But dense networks are doing fine: (`AMD_LOG_LEVEL=1`)

[code]

[2020-09-10 10:06] xuhuisheng commented on #1106
@reinka I am afraid we had read this blog already, unfortrunately, the auther claimed that he met a segment fault later in the comment.

[2020-09-11 07:10] oleid commented on #1110
The result of the test suite in miopen (according to rocm-smi and screen flickering the GPU is used :):

[code]

[2020-09-11 22:42] oleid commented on #1110
Found it, it would seem miopen was built without support for `clang-offload-bundler`, c.f. https://github.com/rocm-arch/rocm-arch/pull/417

[2020-09-11 22:42] #1110 closed, assigned to nobody

[2020-09-13 02:31] joket1999 commented on #173
Ubuntu 20.04

Radeon VII
VBIOS version: 113-D3600200-106

rocm==3.7
tensorflow==2.3
benchmarks==cnn_tf_v2.1_compatible

[code]

[code]

[code]

[code]

[2020-09-13 18:57] oleid commented on #534
Is there any news about this? I've exactly the same message on ROCm3.7 when training starts, but on  an R470 GPU.
It seems to work fine for simple architectures (if I keep the param size below 500000), but for more complicated things (something inception like) even at tiny param sizes (81,445) I get this message:

[code]

[2020-09-14 09:13] gsedej commented on #1103
I have tried tensorflow (deprecated) benchmark:

`python tf_cnn_benchmarks.py --num_gpus=1 --batch_size=64 --model=resnet50`

by using batch size 64, almost all of 8GB gpu memory gets used, meaning some model can use all memory.

The problem with my model might be something else - my model is so big, that batch_size = 1 needs all memory.

I will report when I will get more info.

[2020-09-17 11:16] ielenik commented on #1105
Same here
Validation loss during training is also broken
Simple model from https://github.com/4uiiurz1/keras-arcface does not work

[2020-09-18 09:05] ielenik commented on #1105
Just tried rocm3.7-tf2.1-dev docker
Works fine

[2020-09-23 06:55] Laggger164 opened #1123 "model.fit hangs after a few hundred/thousand epochs"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2020-09-23 15:47] niso opened #1125 "Not possible to build ROCm from source code."
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Debian buster
- Python version: 3.7
- ROCm/MIOpen version: 3.8
- GPU model and memory: Vega 64

**Describe the problem**
Core components nor metapackages are not present when using the instructions below:
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#downloading-the-rocm-source-code

S

[2020-09-23 15:48] #1125 closed, assigned to nobody

[2020-09-25 06:21] ielenik commented on #1105
I tried latest releases
tensorflow:rocm 3.8-tf2.1-dev validation/prediction is ok (though training is killed after few epochs)
tensorflow:latest - still broken prediction/validation

[2020-09-26 00:04] baryluk commented on #1123
I am not sure if this is the same issue, but I had similar issue with smaller model. Where it will work just fine when I use 30 epochs, but if I extend it to 300, it will usually hang somewhere between 150 or 250, and at a bit different point on every run.

I also was using wandb.ai for monitoring the model training, and noticed that it might be the source of the bug, as disabling the callbacks in

[2020-09-26 00:19] baryluk commented on #1102
Just out curiosity I tested this code on my system.

I was just curious and tested this on my R9 Fury X (FIJI, GFX8), with 4GB VRAM.

Linux 5.7.6-1, upstream amdgpu driver

rocm 3.8.0  (Ubuntu packages). hip 3.8.20371-d1886b0b I think.

tensorflow-rocm-ehnanced 2.3.1 and tensorflow-rocm 2.3.1 show same error to me (I did uninstall of one, then install of the other).

git version v2.3.0-2336-g8df99

[2020-10-02 20:30] o8ruza8o commented on #1106
Same problem on Ubuntu 20.04 with gfx1012. Is it just missing it in the list of supported GPUs?

[2020-10-03 06:56] oleid commented on #1106
It would seem that GPU is not fully supported, yet.  I'd expect more to come in the next versions (before CNDA is released).

[2020-10-03 19:11] o8ruza8o commented on #1106
I would appreciate a flag that allows me to use what works even if not
everything and not tested instead of not being able to do anything at all
on new GPUs.

On Fri, Oct 2, 2020 at 11:56 PM oleid <notifications@github.com> wrote:

[2020-10-03 23:21] xuhuisheng commented on #1106
@o8ruza8o which version of rocm do you use?By rigtorps reseaching, need rocm-3.7 to support gfx10xx.

gfx1012 is more complex, tensile only support gfx1010 and gfx1011, you may have to copy related Kernel.koso too.

And I had two ideas for it.
first is copy /opt/rocm/lib/TensileLibrary_gfx900.co to TensileLibrary_gfx1012.co
second is rebuild rocBLAS with BUILD_TENSILE_HOST=FALSE
please refer this

[2020-10-06 20:50] hongshaojichi commented on #1123
I would encounter a hang after running for a day or two, using rocm 3.8 and tensorflow-rocm-enhanced 2.3. I tried two cards vega64 and radeon7. Same issue.

[2020-10-07 08:21] niso opened #1141 ""ROCm Fusion is enabled" appears all the time in the terminal when predicting/training a model"
Hi all
I'm referring to this line:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/dd4c521ca818ed4f503eb38d3ee93986751defe3/tensorflow/core/common_runtime/gpu_fusion_pass.cc#L507

Is there any reason to not to use VLOG(kLogLevel) instead of VLOG(0)?

Thanks
Genís

[2020-10-07 08:53] #1141 closed, assigned to nobody

[2020-10-07 20:53] o8ruza8o commented on #1106
I am running rocm 3.8.0. My kernel is 5.7.19. My GPU is gfx1012.

On Sat, Oct 3, 2020 at 4:21 PM Xu Huisheng <notifications@github.com> wrote:

[2020-10-08 14:31] jerryyin commented on #1123
@baryluk I don't see anything apparent from the script and log you provided. Unfortunately soft-hangs are hard to debug in its nature and we can take a look provided that we can reproduce it. Could you either:

- Put all thing necessary to run the model into a docker container, and share it to us. Just so that we can reproduce the issue you are seeing
- Or, share the detailed steps on each command

[2020-10-08 14:32] jerryyin commented on #1123
@hongshaojichi Mind open a new issue sharing about how to reproduce?

[2020-10-08 14:35] jerryyin commented on #1103
Yes, it is not about a finding a model that is able to consume all GPU VRAM of a card, it is really about the peculiar case you see where AMD GPU consume much more memory than NVDIA GPU. We don't need real data, synthetic data that can reproduce the problem works too.

[2020-10-08 15:05] jerryyin commented on #1038
Tested `rocm/tensorflow-autobuilds:rocm3.7-latest` on a ROCm 3.7 Vega 10 and confirmed images/sec back to 193.76. Closing the Issue now.

[2020-10-08 15:06] #1038 closed, assigned to nobody

[2020-10-08 15:10] jerryyin commented on #1016
Could you give `docker pull rocm/tensorflow:rocm3.8-tf2.3-dev` a shot? Thanks

[2020-10-08 17:06] rsanthanam-amd commented on #1102
I was unable to reproduce this issue on my machine.

Here are the machine specs:

OS Platform and Distribution: Ubuntu 18.04
TensorFlow installed from (source or binary): source (from latest tensorflow-upstream commit)
TensorFlow version: 2.3.0
Python version: 3.6.9
GPU model and memory: Radeon Instinct MI25

One thing to note is that ROCm no longer supports the WX5100 GPU.

https://www.amd.com/en

[2020-10-08 17:51] rsanthanam-amd commented on #1102
Closing per comment above.

[2020-10-08 18:01] #940 closed, assigned to sunway513

[2020-10-08 19:14] hongshaojichi commented on #1123
Thanks jerry! After 3 hangs it seems to work fine now. As you said it's very difficult to debug. I'll file a separate ticket if I can readily reproduce it.

[2020-10-09 00:24] km1993 commented on #1106
I have 5700xt I tried every possible method mentioned to get over this issue, nothing helped.
_```

2020-10-09 00:05:00.599858: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libamdhip64.so
/src/external/hip-on-vdi/rocclr/hip_code_object.cpp:92: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!")
Aborted (core

[2020-10-09 19:10] rsanthanam-amd commented on #1102
there is some ambiguity on whether or not wx5100 is supported on ROCm 3.8 so reopening this until more clarity can be obtained.

[2020-10-09 22:47] xuhuisheng commented on #1106
There is a new branch for gfx10 on rocBLAS, seems will release with ROCm-3.10, Maybe later of November.
https://github.com/ROCmSoftwarePlatform/rocBLAS/tree/gfx10

[2020-10-11 14:57] jszhtian opened #1144 "TF.Keras Load Model predict low accuracy when using ROCm"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.1 LTS
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): t

[2020-10-12 03:06] xuhuisheng commented on #1144
Maybe same problem
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1106

[2020-10-12 18:12] hongshaojichi commented on #1123
Hi Jerry,

It happened again. I cannot use ctrl+c to end it. Is there a way for me to properly capture the debug info when it happens next time? I'm hoping I can gather enough info for you guys to fix it.

[2020-10-12 18:51] spades1404 commented on #302
Can somebody rehost the dropbox files in the fix that @sunway513 did. They are no longer availlable and I cannot issue the commands. Thanks!

[2020-10-15 07:54] ielenik commented on #1144
Duplicate of #1105

[2020-10-15 23:41] Extarys commented on #302
I also tried to install AMDGPU-PRO but opencl wasn't available. I was able to install ROCm and OpenCL is now detected but I also have this error.
My guess is even if the dropbox links above worked, the files might be outdated for the current version @spades1404

[2020-10-15 23:45] spades1404 commented on #302
Yeah I eventually figured that out. Turns out 3.8 is broken(at least for me), and after many hours trying to configure a docker container with the "apparently" working 2.5 downgrade, I ran into more compatibility issues with python since it utilises python 3.5. if the apt-get hosted lower versions I could've just downgraded the version on my local machine. Anyways I've decided to just use colab no

[2020-10-16 05:41] sunway513 commented on #302
The OpenCL packages I posted last year can be found here:
http://repo.radeon.com/rocm/apt/1.9.3/pool/main/r/rocm-opencl/rocm-opencl_1.2.0-2018111340_amd64.deb
http://repo.radeon.com/rocm/apt/1.9.3/pool/main/r/rocm-opencl-dev/rocm-opencl-dev_1.2.0-2018111340_amd64.deb
However, the newly reported issue should be different, and most likely would not benefit from the old OpenCL packages.

@Extarys @sp

[2020-10-17 04:00] suvrodeep opened #1148 "NaN loss using Keras Sequential model and mse as loss metric"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
**- Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: Yes
**- OS

[2020-10-19 09:52] ielenik commented on #1105
In my case tf2.3 works almost 3 times faster than tf2.1 with rocm
So I have tried to train network using tf2.3.1 (without validation, since it is still broken) and got reasonable accuracy around 92% during train phase.
However, after I have loaded weights of trained network to tf2.1 predicted accuracy on validation data is still 0!
That is strange, since the training on tf2.1 continue from 92% acc

[2020-10-19 12:06] bhoeveler opened #1149 "Memory leak in tf.math.reduce_sum"
**System information**

- Linux Opensuse 15.2 Kernel 5.9.1
- Tensorflow 2.3.0 from pip
- Radeon VII  with rocm 3.8
- Python 3.6.10

**Describe the current behavior**
The current implementation of tf.math.reduce_sum with the 64bit datatype will leak memory on my machine.
Minimal example:

[code]
After the loop around 4 GB Ram are not accessible anymore. I have no idea which log-files might be usefu

[2020-10-19 13:00] bhoeveler opened #1150 "tf.signal.rfft2d destroyes input"
**System information**

- Linux Opensuse 15.2 Kernel 5.9.1
- Tensorflow 2.3.0 from pip
- Radeon VII with rocm 3.8
- Python 3.6.10

**Describe the current behavior**

For the tf.float64 datatype the tf.signal.rfft2d method destroys the input-array on my machine. Minimal code:
[code]
Output:
[code]

[2020-10-21 22:45] eugeneswalker opened #1157 "Cannot build v2.3.1: Cannot find rocm library hip_hcc"
I'm trying to build `ROCmSoftwarePlatform/tensorflow-upstream` at `v2.3.1` with ROCm support inside a Docker container.

* `Ubuntu 18.04` docker container, `x86_64`
* Using apt repo: `deb [arch=amd64] http://repo.radeon.com/rocm/apt/debian/ xenial main`
   a. `apt install rocm-dev rocm-libs rccl`
   b. apt installed the other packages listed:
       https://github.com/RadeonOpenCompute/ROCm-docker

[2020-10-22 22:14] ekuznetsov139 commented on #1102
So, good news and bad news.
The good news is, the cause of this particular crash has been identified, the fix has been committed into trunk and will be backported into 2.3.
The bad news is that gfx803 (that includes WX5100 as well as RX 470/480/570/580) is effectively unsupported because there are no resources for its maintenance. I've managed to run Tensorflow unit tests on a gfx803 card with ROC

[2020-10-22 23:44] ekuznetsov139 commented on #1150
The issue is that rocFFT (the low-level library that does the calculation) modifies its input array in some cases.

As far as I can tell, recent versions of cuFFT do this too (see https://github.com/ROCmSoftwarePlatform/rocFFT/issues/298 and https://github.com/cupy/cupy/issues/3736), but the ROCm side is missing a workaround for this behavior (which, on CUDA side, was provided in https://github.co

[2020-10-23 01:32] suvrodeep commented on #1148
Had the the same exact issue with ROCM Tensorflow Docker image which leads me to think there is no issue with my ROCM installation
![Screenshot from 2020-10-23 03-32-07](https://user-images.githubusercontent.com/27533081/96946336-5e2a6a80-14e0-11eb-8a3b-2aa52751da2a.png)

[2020-10-23 01:36] xuhuisheng commented on #1148
There is an bug on gfx803 after rocm-3.7.please refer this https://github.com/RadeonOpenCompute/ROCm/issues/1203

[2020-10-23 01:51] suvrodeep commented on #1148
Thank you so much for you response @xuhuisheng . I was starting go mad and tried with different versions of TF and Python as well. Will follow up in the original issue. Thanks again.
Link to original issue:
[https://github.com/RadeonOpenCompute/ROCm/issues/1203](url)

[2020-10-23 01:51] #1148 closed, assigned to nobody

[2020-10-30 18:20] bhoeveler commented on #1150
I just want to say: Thanks for the fast reply and fix !

[2020-11-03 18:04] jerryyin commented on #1149
Thanks for bring this up. A few clarifications to make sure we are on the same page:
 - When saying that 4GB RAM are not accessible, do you mean:
   - It is GPU or CPU memory? How do you determine they are not accessible?
   - Does it occur with only float64 type?
- I don't think we formally support Opensuse, is it possible to give Ubuntu based docker a shot? `docker pull rocm/tensorflow:rocm3.8-t

[2020-11-06 11:38] bhoeveler commented on #1149
I ment system memory or CPU memory. When I'm talking about not accessible I mean by any python-variable, since I deleted all of them and ran the garbage-collector. However Valgrind indicates, that there are pointers left that are not used anymore -- See below. GPU-memory is not an issue. If I increase the number of iterations I can provoke a crash by out-of-memory.

No, I didn't checked at the beg

[2020-11-13 06:07] eugeneswalker commented on #1157
Any update on this?

What package provides `libhip_hcc` ? Is this deprecated?

Does ROCM 3.8 not work with recent TensorFlow releases?

[2020-11-13 08:13] xuhuisheng commented on #1157
@eugeneswalker hip_hcc is replaced by hip - /opt/rocm/hip/lib/libamdhip64.so. Maybe create a symbolic like ln -s /opt/rocm/lib/libhip_hcc.so /opt/rocm/hip/lib/libamdhip64.so

[2020-11-13 16:20] eugeneswalker commented on #1157
OK. I will do this.

Can you please link me to the official documentation for installing the ROCM libraries needed to build TensorFlow?

[2020-11-13 17:31] rsanthanam-amd commented on #1149
A memory leak has been found in HIP which is causing this issue.  A ticket has been filed with the HIP team to address it.

When a fix is available, it will be verified prior to closing out this ticket.

[2020-11-14 00:34] eugeneswalker opened #1175 "rocm/tensorflow:rocm3.9-tf2.3-dev: undeclared inclusions in .../rocm:rocm_helpers"
Trying to build `TensorFlow` using `ROCM 3.9` using:
* `rocm/tensorflow:rocm3.9-tf2.3-dev`

I'm really just trying to find the best way to build Tensorflow 2.3 using ROCM 3.9, from source.

[code]

Any ideas?

[2020-11-14 04:53] eugeneswalker commented on #1175
Issue resolved by setting `ROCM_PATH` env var during `./configure`:

[code]

[code]

[2020-11-14 04:53] #1175 closed, assigned to nobody

[2020-11-17 20:21] bhoeveler commented on #1149
Will the fix find its way into next release ? Or can you name an approximate date ?

[2020-11-18 21:28] da-phil commented on #1106
I'm curious whether the `gfx10` branch also covers chipsets other than gfx1030, because it seems that only gfx1030 has been added, see:
https://github.com/ROCmSoftwarePlatform/rocBLAS/commit/8cd7bf043c6d97dbd485b163393e2c52bf3dfd5d

And also in other rocm packages, e.g.:
https://github.com/ROCmSoftwarePlatform/rccl/commit/9f20b00548469f751eab6efc04686c51d6ebd47d

[2020-11-18 21:48] xuhuisheng commented on #1106
@da-phil
So I am afraid AMD will support RDNA2 offically, and drop supporting for RDNA1. Maybe ROCm-4.0.
Only hope the patch for RDNA2 can use to RDNA1 without big modifications.

[2020-11-18 23:09] da-phil commented on #1106
I wonder why the new RDNA2 is even categorized within gfx10, there must be some similarities in the way they work :thinking:

Off-topic question: do you or anybody else know any other recent AMD radeon GPU other than gfx803, gfx900, gfx906 and gfx908 which proved to work well with rocm and therefore tensorflow & pytorch?
If that's the case I'd replace my new RX 5700XT by another AMD GPU right away

[2020-11-19 21:25] rsanthanam-amd commented on #1149
Upon further research, we discovered that the memory does actually get released but only if the tensorflow runtime is synchronized periodically.

Here is one suggested way of doing that in the minimal example:

[code]

[2020-11-19 23:37] bhoeveler commented on #1149
Thanks ! I was able to write a workaround for my original code ( simulation ). However, I think it has a impact performance-wise ( I did not sync it periodically but every time, since it's very hard to integrate it into the code otherwise ).

I used
[code]
instead, which is a bit faster. I would like to see a fix, tho.

Edit: Ok, it fixed one leak, but still leaking - only far less and will probab

[2020-11-20 07:20] iamsanjaymalakar commented on #1106
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'tensorflow' has no attribute 'variable'

2020-11-20 13:14:26.164093: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libamdhip64.so
/src/external/hip-on-vdi/rocclr/hip_code_object.cpp:120: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binar

[2020-11-20 07:28] xuhuisheng commented on #1106
@iamsanjaymalakar please see this issue https://github.com/RadeonOpenCompute/ROCm/issues/1269

[2020-11-20 07:55] iamsanjaymalakar commented on #1106
I am not sure I understood the solution correctly.
I clone the rocSPARSE git repo (https://github.com/ROCmSoftwarePlatform/rocSPARSE) and checked the CMakeList. There is AMDGPU_TARGETS set to gfx803. I build and installed rocSPARSE from git but the problem still exists.
I think i may be missing something.

[2020-11-20 15:54] rsanthanam-amd commented on #1149
An easier way to synchronize every time is to create the following environment variable:

AMD_SERIALIZE_KERNEL=3

This will eliminate the need for user code changes to accomplish this.

Based on the current minimal example, I have not observed any other leaks.

Please provide another minimal example which exhibits the additional leak.

[2020-11-20 20:45] bhoeveler commented on #1149
I rerun it with the enviroment variable set, but tensorflow is still leaking memory. I will look into it and will provide a minimal example.

Any other variables that may be relevant and worth a shot ?

[2020-11-20 21:23] bhoeveler commented on #1149
[code]

I couldn't condense it further, my original code uses GMRes too, but in a bit more advanced setting. This example will leak memory on my machine - but very slowly - even with AMD_SERIALIZE_KERNEL=3. On my machine the simulation crashes after ~ 1 h without reaching the first checkpoint.

[2020-11-20 23:10] xuhuisheng commented on #1106
@iamsanjaymalakar
I wrote a doc for gfx803 issues. https://github.com/xuhuisheng/rocm-build/blob/develop/docs/gfx803.md

[2020-11-25 02:11] XuanBaby opened #1186 "function tensorflow::functor::ShuffleInTensor3Simple takes a long time"
<em>Please make sure that this is an issue related to performance of TensorFlow.
As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:performance_template</em>

**System information**
- Have I written custom code (as opposed to using a stock exampl

[2020-11-26 01:38] ekuznetsov139 commented on #1149
The problem here is that you're using Tensorflow in eager mode, and keep bouncing between Tensorflow and numpy. It's not intended to be used this way for long periods of time. (And you can't switch to graph mode because of all references to numpy.) Tensorflow caches scalar objects when in eager mode, and, since eager mode is generally meant for short runs, never bothers to empty that cache. Your c

[2020-11-26 22:49] bhoeveler commented on #1149
Thank you very much for your help and time, even it wasn't an amd specific error. I was just checking against the CPU-device which didn't had the first "leak" and was too slow to show the second and then I did blame rocm.

I'll integrate your code since it is faster and the use of tf.function is generally a good thing. Thanks to your answer I also found a fix for my messy code by clearing the cach

[2020-11-26 22:49] #1149 closed, assigned to rsanthanam-amd

[2020-11-28 19:05] Doev commented on #1106
I am currently at the same point.

Ubuntu 18.04
RX 5500 XT

No idea, how to use the workaround.

[2020-11-28 20:32] AveNoF opened #1187 "ROCmTensroFlow can't find Hip and core dump."
There is a error when i import tensorflow and use it .

OS:Ubuntu18.04
GPU:RX580

python3 -c "import tensorflow as tf; print(tf.version.GIT_VERSION, tf.version.VERSION)"
v2.3.0-2331-ge1019cb25d3 2.3.2
/src/external/hip-on-vdi/rocclr/hip_code_object.cpp:120: guarantee(false && "hipErrorNoBinaryForGpu: Coudn't find binary for current devices!")
中止 (コアダンプ)

2020-11-29 05:36:22.965760: I tensorflow/st

[2020-11-28 21:49] xuhuisheng commented on #1187
dumplicated of https://github.com/RadeonOpenCompute/ROCm/issues/1306

[2020-11-28 21:50] xuhuisheng commented on #1106
@Doev
RX 55000 XT didnot supported offcially. https://github.com/RadeonOpenCompute/ROCm/issues/1306

[2020-12-04 17:55] jerryyin commented on #1186
@deven-amd Which repository did we evaluate the resnet50 performance? Was this `ShuffleInTensor3Simple` kernel's performance an issue that needs to address? I doubt this is relevant but wants to double check.

[2020-12-04 18:06] deven-amd commented on #1186
we used TF from `develop-upstream` in our repo + latest ROCm (3.9) for our perf evals. Conv and BatchNorm were the top-two buckets

As per the data posted in the description, the ` ShuffleInTensor3Simple` routine is taking 33% of the time! that is not what we saw in our measurements. I would recommend trying a newer TF version (description mentions 1.15, which is quite old at this point).

[2020-12-05 23:13] quocdat32461997 opened #1196 "Tensorflow-rocm for ROCm v3.10.0"
After installing ROCm v.3.10.0 and TF-ROCm 2.3.2, I got the following error:

`
2020-12-05 17:07:04.336041: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libamdhip64.so
*** stack smashing detected ***: <unknown> terminated
Aborted (core dumped)
`

I found this error at this issue #652. Probably, due to the incompatibility between ROCm v3.10.0 a

[2020-12-05 23:33] Djip007 commented on #1196
[code]
same with rocm-3.10 on centos8...

[2020-12-06 00:46] quocdat32461997 commented on #1196
@Djip007 below ares the steps I downgraded to ROCm 3.9 and installed the compatible TF-ROCm. I tested it on Ubuntu, not sure CentosOS. Hope this helps.

I strictly followed the ROCm installation instructions in the [Install Rocm](https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html) with minor modifications. Check the [TF-Rocm for the supported Rocm versions.](https://gith

[2020-12-06 11:29] Djip007 commented on #1196
@quocdat32461997 :
Thanks... well if someone need it for centOS8 you "simply" have to change the repos config from:
[code]
to
[code]
(all release have his directory : https://repo.radeon.com/rocm/centos8/  (3.5.1 / 3.7 / 3.8 / ...))
but well in my case a have au RX480 GPU that have other bug ;)

[2020-12-07 02:53] xuhuisheng commented on #1196
It is weired that tensorflow_rocm-2.3.3 didnt release, yet.
I cannot wait for offcial, have compiled by myself.

Cost hours.

Anyone who interested it, could clone `https://gitub.com/ROCmSoftwarePlatform/tensorflow-upstream` and checkout `r2.3-rocm-enhanced` branch.

[2020-12-07 03:44] Molive-0 commented on #1196
The r1.15-rocm-enhanced branch still seems to fail to compile however :/

[2020-12-07 10:55] krishoza commented on #1106
I am getting the similar error. I have checked the AMDGPU_TARGETS for same library i.e. rocSPARSE and it correctly mentions the GPU I have which is gfx906.

[2020-12-08 02:24] xuhuisheng commented on #1196
2.3.3 had been released.
https://pypi.org/project/tensorflow-rocm
:smile:

[2020-12-08 14:10] quocdat32461997 commented on #1196
Great. Close this.

[2020-12-08 14:10] #1196 closed, assigned to nobody

[2020-12-09 03:30] ccywxhn opened #1200 "build debug tensorflow"
In order to debug tensorflow, study TF internal module  and its principle.
so, select source code compilation and installation.

**System information**
- Ubuntu18.04:
- TensorFlow 2.1( git checkout merge-200413):
- Python 3.6
- Bazel version2.0:
- ROCm 3.3
- Device: vega 10
- vscode

1. In build_ rocm_python 3 file add compilation options, --cxxopt="-g",  as follows:
        bazel build --cxxopt="

[2020-12-19 16:30] chenyhsu opened #1207 "Failed to import tensorflow-rocm in python with rocm-4.0.0"
### System information

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: `import tensorflow as tf`
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
-   **TensorFlow installed from (source or binary) :  binary
-   **TensorFlow version (use command below)**: tensorflow-rocm2.3.3 tensorflow-rocm2.4.0rc3
-   **Pyth

[2020-12-19 18:07] OutOfBoundCats commented on #1207
I am also facing the same issue. Is there a way to downgrade rocm version?

[2020-12-20 00:32] Djip007 commented on #1207
Same has here for rocm3.10: https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1196
need to wait for new release of tensorflow (or rebuild it ...)

[2020-12-20 10:11] liygzting commented on #1207
The same issue

[2020-12-22 10:13] quocdat32461997 commented on #1207
I recommended downgrading the ROCm by reinstalling ROCm and Tensorflow-ROCm with fresh installations (reboot OS). If you dont mind rebooting OS, follow #1196 or this [link](https://medium.com/analytics-vidhya/install-tensorflow-2-for-amd-gpus-87e8d7aeb812)

[2020-12-22 23:15] #1150 closed, assigned to ekuznetsov139

[2020-12-23 12:28] Djip007 commented on #1207
2.4.0 for rocm-4.0 had been released.
https://pypi.org/project/tensorflow-rocm

[2020-12-24 07:17] chenyhsu commented on #1207
Tested with tensorflow-rocm 2.4.0 and imported successfully, though I got strange result with accuracy 0.00 on ResNet50.

[2020-12-24 07:17] #1207 closed, assigned to nobody

[2020-12-25 12:03] YenTran32 commented on #940
@ekuznetsov139 Many thanks.

[2020-12-28 08:25] fakhrirobi commented on #539
Can anybody help me, im a new learner at ubuntu, i installed rocm for tensorflow , then i imported tensorflow as usual and this happened :
Traceback (most recent call last):
  File "/home/fakhri/env/lib/python3.8/site-packages/tensorflow/python/pywrap_tensorflow.py", line 64, in <module>
    from tensorflow.python._pywrap_tensorflow_internal import *
ImportError: librccl.so.1: cannot open shared o

[2020-12-28 08:35] xuhuisheng commented on #539
@fakhrirobi
please install rccl first. For example, on Ubuntu `sudo apt install rccl`

[2020-12-28 08:35] Bengt commented on #539
@fakhrirobi you are commenting on a closed issue about something else. Please try to find an issue relevant to your problem. The error message you are seeing has already been discussed: https://github.com/RadeonOpenCompute/ROCm/issues/1161

[2021-01-03 05:47] ghostplant opened #1215 "No PYPI source for Tensorflow 1.15.9 + Python 3.8 (ROCm 4.0)"
Some of the development environment is based on Ubuntu 20.04, where the lowest python version is 3.8.
However, there is no PYPI source for Tensorflow 1.15.9 + Python 3.8. Can you update the source for this requirement?

[2021-01-04 15:20] baryluk commented on #1215
Similar here:

[code]

(PS. I needed to use `PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring` because pip is acting up and hangs for minutes waiting).

I don't know why it can't find it, as it is on pypi https://files.pythonhosted.org/packages/0c/ec/85c1b567dd813ae6fa1e8ac39e364be7f64a163a6da9a839067a32b865e6/tensorflow_rocm-2.4.0-cp38-cp38-manylinux1_x86_64.whl

[code]

Debug:

[code]

[2021-01-04 17:27] jerryyin commented on #1200
Please use gdb to debug into C++ code.

Closing this as the repo only deal with ROCm specific issue, otherwise please post it to upstream at https://github.com/tensorflow/tensorflow. Will re-open only if you can prove this issue is ROCm specific.

[2021-01-04 17:27] #1200 closed, assigned to nobody

[2021-01-04 17:29] jerryyin commented on #1215
I have little idea about our release packages at Pypi. If you @deven-amd or @sunway513 know more about it, please help comment. Thanks!

[2021-01-04 17:31] jerryyin commented on #1186
Closing the issue for inactivity. Feel free to comment if issue persists.

[2021-01-04 17:31] #1186 closed, assigned to nobody

[2021-01-04 17:49] sunway513 commented on #1215
TF1.15 is in "maintenance" mode, for which, python3.8 version is not support for both ROCm and upstream tensorflow pypi packages:
https://pypi.org/project/tensorflow-gpu/1.15.4/#files

Python3.8 version is supported for TF2.3 and 2.4, with both of the tensorflow-rocm and tensorflow-rocm-enhanced WHL PyPI repos, for details on the compatible ROCm versions, release refer to the following doc:
https:

[2021-01-04 19:16] hld2018 opened #1216 "Memory access fault by GPU node-1"
I got an error when calling tf.compat.v1.train.Saver.save.
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
- TensorFlow version 2.4.0:
- Python version:3.8
- ROCm version:4.0.0
- GPU model and memory: RX580 2048sp with 4GB RAM
**Message**
- Memory access fault by GPU

[2021-01-05 03:28] ghostplant commented on #1215
NVIDIA has their repo that support tf1.15 for Python3.8 in latest states.
`https://ngc.nvidia.com/catalog/containers/nvidia:tensorflow`

I think it is not just impossible. Python3.8 is the basic equipped version in Ubuntu 20.04.

[2021-01-05 04:27] ghostplant commented on #1215
BTW, since tf 2.x drops `contrib` support so many existing 1.x applications cannot be simply migrated to 2.x due to lacking embedded operations. So 1.x is still quite needed for many apps in Ubuntu 20.04

[2021-01-05 16:17] sunway513 commented on #1215
@ghostplant , thanks for this input, let us explore it a bit and will let you know.

[2021-01-06 04:28] sunway513 commented on #1215
Hi @ghostplant , we're able to build python3.8 whl package for TF1.15. We'll upload those to PyPI after completing sanity tests.
cc @deven-amd

[2021-01-08 03:47] sunway513 commented on #1215
We've pushed out the TF1.15 Python3.8 WHL package on our PyPI account, built with ROCm4.0.
To install:
Regular Build: `pip install tensorflow-rocm==1.15.9`
ROCm Enhanced Build: `pip install tensorflow-rocm-enhanced==1.15.5`
@ghostplant please check it out and let us know if you see issues, thanks.

Moving forward we'll release the TF1.15 with python3.8 by default, you can use this document to trac

[2021-01-08 03:47] #1215 closed, assigned to nobody

[2021-01-08 05:36] ghostplant commented on #1215
Great! Both pytorch & tensorflow can work on Ubuntu 20.04 + ROCm 4.0.

[2021-01-08 17:46] seesturm opened #1223 "Accessing variable from other GPU gives wrong value"
**System information**
- Have I written custom code: yes
- OS Platform and Distribution: Ubuntu 20.04
- TensorFlow installed from: binary
- TensorFlow version: v2.4.0-rc4-86-gd9cfe09e0d4 2.4.0
- Python version: Python 3.8.5 (default, Jul 28 2020, 12:59:40)
- ROCm version: 4.0.0
- GPU model and memory: 2x Vega56 8GB

**Describe the current behavior**
Executing
[code]
Gives wrong result: `<tf.Variab

[2021-01-09 18:43] seesturm commented on #1223
Problem seems to be caused by [HIP/2214](https://github.com/ROCm-Developer-Tools/HIP/issues/2214)

[2021-01-15 02:17] dcominottim commented on #173
Here are some RTX 3080 10GB results.

(Obs.: When you see some low scores at higher batch sizes with `(UM)`, it's because CUDA Unified Memory and shared memory was used due to lack of VRAM.)

Ryzen 9 5950X
32GB 3200MHz RAM
Pop_OS! 20.04.1
NVIDIA 460 driver
tensorflow-gpu 2.4.0
NVIDIA 20.12-tf2-py3 Docker image

`sudo docker run --gpus all --name tf-20.12 --shm-size=10g --ulimit memlock=-1 --ulimit

[2021-01-16 10:42] Karthikeyan564 opened #1230 "Tensorflow- HIP_ERROR_OutOfMemory"
**System information**
- Linux Ubuntu 18.05
- TensorFlow installed from  binary:
- TensorFlow version: 2.4.0
- Python version: 3.6.9
- ROCm version: rocm-4.0.0
- GPU model and memory: Baffin - Radeon RX560 mobile VRAM-4GB

The tensorflow gets imported well but If I do anything with it this happens

[code]

[code]

[2021-01-23 23:25] namcho opened #1238 "Weird Validation-Loss Values"
**System information**
- Custom code: https://gist.github.com/namcho/9e161233437192815cf436361fc04435
- OS Platform and Distribution: Ubuntu 20.04.1
- TensorFlow installed from binary
- TensorFlow version: tensorflow-rocm 2.4.0
- Python version: 3.7.9
- ROCm version: 4.0
- GPU model and memory: AMD Radeon RX-580 4GB

**Describe the current behavior**
Validation-Loss values are always getting huge

[2021-01-23 23:50] namcho commented on #1238
Same issue also exist for validation-accuracy.

Epoch 35/40
782/782 [==============================] - 18s 24ms/step - loss: 0.6873 - accuracy: 0.8882 - val_loss: nan - val_accuracy: 2405965065804557844480.0000

I found similar issue under keras-team/keras for simple neural - network: https://github.com/keras-team/keras/issues/14215
Issue opener claimed that same code had worked well with NVIDIA G

[2021-01-24 00:26] xuhuisheng commented on #1238
Duplicate of https://github.com/RadeonOpenCompute/ROCm/issues/1265

[2021-01-25 08:43] boriswinner commented on #1105
I have tried this on Ubuntu 20.04 LTS:
kernel:  5.6.0-050600-generic

~$ dkms status
amdgpu, 4.0-23, 5.6.0-050600-generic, x86_64: installed

~$ apt show rocm-libs -a
Package: rocm-libs
Version: 4.0.0.40000-23

~$ pip3 show tensorflow-rocm
Name: tensorflow-rocm
Version: 2.4.0

Video card:
Radeon RX 580 Series (POLARIS10, DRM 3.40.0)
[code]

[2021-01-26 09:23] boriswinner commented on #1105
I have downgraded ROCm to 3.5.1, use tensorflow 2.2. It solves the problem:
[code]

[2021-01-26 09:23] boriswinner commented on #1105
Here you can find my guide to downgrade:
https://github.com/boriswinner/RX580-rocM-tensorflow-ubuntu20.4-guide

[2021-01-26 09:56] boriswinner commented on #1238
This is an issue with ROCm higher than 3.5.1 with Polaris 10. The solution is to downgrade.

Here is my guide to downgrade to ROCm 3.5.1 + TensorFlow 2.2:
https://github.com/boriswinner/RX580-rocM-tensorflow-ubuntu20.4-guide

[2021-01-26 10:42] namcho commented on #1238
Thank you @boriswinner, your guide is perfect, unlucky for me I haven't seen it before(I've seen all details in it, like kernel version downgrading when I installed first time Ubuntu-20.04.1 with **kernel5.8** + TensorFlow-Rocm I had wasted too much time see the issue reason)

I'll follow your guide soon, hope it'll work for me as well.

[2021-02-01 22:05] jerryyin commented on #1123
@hongshaojichi We'd prefer to have a docker image, and steps to reproduce. Debugging soft-hangs are a bit of the repeated trial and error process. We'd typically started with trying to narrow the scope to a particular runtime components, it is rarely TF-rocm only issue.

[2021-02-01 22:11] jerryyin commented on #1223
@seesturm Thanks for providing the error case.

@sunway513 Looks like this hip commit is already shipped in ROCm 4.0. Do we already have a ticket to track it?

[2021-02-01 22:16] jerryyin commented on #1157
@eugeneswalker Please feel free to use the pre-configured dockers under `rocm/tensorflow` channel. Also, for full dependencies please refer to [here](https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/rocm_docs/tensorflow-install-basic.md).

[2021-02-01 22:30] jerryyin commented on #1106
navi 10, or gfx10 chips are not officially supported by ROCm, [here](https://github.com/SuryaGrandhi/sep5/blob/master/Installation_Guide/Installation-Guide.rst#supported-gpus). There is nothing we can do without ROCm support.

[2021-02-01 22:32] jerryyin commented on #1105
@ekuznetsov139 Gentle reminder: mind taking a second look at this issue?

[2021-02-01 22:33] jerryyin commented on #1103
Closing with inactivity. Feel free to reopen if you have additional information.

[2021-02-01 22:33] #1103 closed, assigned to nobody

[2021-02-01 22:34] jerryyin commented on #1016
Closing as fixed

[2021-02-01 22:34] #1016 closed, assigned to nobody

[2021-02-01 22:36] jerryyin commented on #1054
Hi Deven, it's been a while since you created this issue. Shall we create an internal mirror to this one? If there's one in existence, I will close this external one.

[2021-02-02 12:42] EmilPi commented on #173
Any 6900 XT benchmarks?

[2021-02-07 20:34] tarcey opened #1251 "Shared system memory is not used in Tensorflow"
<em>Please make sure that this is a feature request. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:feature_template</em>

**System information**
- TensorFlow version (you are using): 2.4
- Are you willing to contribute it (Yes/No): ?

**Desc

[2021-02-09 16:37] RobertKillick commented on #1106
Is there any idea how long it will take for support to come?

[2021-02-09 17:01] jerryyin commented on #1106
@RobertKillick That would be a question to ROCm guys. Once they have the infrastructure ready, it is trivial to add TF support for it.

[2021-02-13 18:57] gosha20777 opened #1261 "Where i can download libtensorflow.so"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution Linux Ubuntu 16.04:
- TensorFlow version: 2.3.1

**Describ

[2021-02-14 05:23] tarcey opened #1262 "'+code-object-v3' is not a recognized feature for this target (ignoring feature)"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platf

[2021-02-15 19:52] Daniel451 commented on #173
@EmilPi  6900 XT would be very interesting indeed

[2021-02-24 04:20] grandrew opened #1272 "InvalidArgumentError: Input to reshape is a tensor with 32 values, but the requested shape has 1116640223983883518"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No, stock exam

[2021-02-24 04:35] grandrew commented on #1272
Tried a different R9 card (I have two), no luck.
Will try to put these onto Threadripper CPU instead. Maybe Zen3 architecture is too far ahead?

Sometimes a different exception occurs:

[code]

[2021-02-25 00:29] grandrew commented on #1272
Tested on Threadripper 3960X, same result

[2021-02-27 19:18] Bengt opened #1276 "Support Python 3.9"
Python 3.9 has was released on 2020-10-05, which is almost 6 months ago:

<https://docs.python.org/3/whatsnew/3.9.html>

There are no packages for Python 3.9, as of yet:

<https://pypi.org/project/tensorflow-rocm/2.4.0/#files>

Currently, Python 3.8 seems to have the broadest library support. However, this is changing quickly and Python 3.9 is becoming more relevant by the day. So to stay applicab

[2021-02-27 19:20] Bengt commented on #1276
Note that support for Python 3.9 is just becoming available in the upstream TensorFlow project:

<https://github.com/tensorflow/tensorflow/issues/44485#issuecomment-786936023>

So to support Python 3.9 with prebuilt packages, TensorFlow-ROCm needs to get the corresponding build jobs.

[2021-03-01 04:36] sunway513 commented on #1276
Hi @Bengt , we expect TF 2.5 to be the first release enables Python 3.9 whl package support.
In the meanwhile, we'll also evaluate and try to enable python3.9 whl package in our nightly CSB builds.
cc @deven-amd

[2021-03-01 04:41] sunway513 commented on #1262
Hi @tarcey , you can safely ignore the warning on "+code-object-v3". And this issue would be fixed in ROCm4.1 release.

[2021-03-01 04:52] sunway513 commented on #1261
Hi @gosha20777 , you can pull the TF2.3 docker container and build it from source to get all the shared libraries available. The steps can be like the following:
[code]

[2021-03-01 04:53] sunway513 commented on #1251
@deven-amd can you help look at this issue?

[2021-03-01 06:44] gosha20777 commented on #1261
@sunway513 I don't need tensorflow for python
I need C++ tensorflow API to use it from C++ application.

[2021-03-01 08:54] Bengt commented on #1276
Hi @sunway513, thanks for the information. Now I can plan for upgrading my Python interpreters a bit better

[2021-03-01 17:15] sunway513 commented on #1261
@deven-amd  does TF need different build options to build for C++ APIs?

[2021-03-01 17:52] deven-amd commented on #1261
We do not explicitly generate any C++ artifacts for TF in our containers.
Let me look into whether any are generated as a by-product of creating the TF whl pkg. If yes, we can probably tweak our scripts to post them somewhere. Else we need to figure out a way to generate it.

[2021-03-03 05:04] ROCmSupport commented on #1272
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:04] #1272 closed, assigned to nobody

[2021-03-03 05:05] ROCmSupport commented on #1238
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #1238 closed, assigned to nobody

[2021-03-03 05:05] ROCmSupport commented on #1230
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #1230 closed, assigned to nobody

[2021-03-03 05:05] ROCmSupport commented on #1216
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #1216 closed, assigned to nobody

[2021-03-03 05:05] ROCmSupport commented on #1187
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #1187 closed, assigned to nobody

[2021-03-03 05:05] ROCmSupport commented on #519
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #519 closed

[2021-03-03 05:05] ROCmSupport commented on #479
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #479 closed

[2021-03-03 05:05] ROCmSupport commented on #432
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #432 closed

[2021-03-03 05:05] ROCmSupport commented on #337
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:05] #337 closed

[2021-03-03 05:06] ROCmSupport commented on #297
Thanks for reaching out.
gfx8 is not a supported config now.
We are not supporting gfx8 devices officially with ROCm and request you to follow our supported hardware section @ ROCm docs: [https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support](url)

[2021-03-03 05:06] #297 closed

[2021-03-03 07:49] Karthikeyan564 commented on #1230
But the list and the docs still have gfx8 as supported.
https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support
https://en.wikipedia.org/wiki/List_of_AMD_graphics_processing_units

[2021-03-03 08:33] ROCmSupport commented on #1230
Hi @Karthikeyan564
AMD is still having and supporting gfx8 devices from different projects like amdgpu-pro, windows etc.
But AMD ROCm dropped supporting gfx8 devices officially.

I am pasting here the snippet of the information(from https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support)
**ROCm officially supports AMD GPUs that use following chips:**

    GFX9 GPUs

        "Vega

[2021-03-04 16:06] deven-amd commented on #1261
@gosha20777

Just confirming that we do not currently build and post the libtensorflow.so for linking with C/C++ apps.

You can follow the steps outlined here ( https://github.com/tensorflow/tensorflow/blob/master/tensorflow/tools/lib_package/README.md ), to build the same for ROCm.

Specifically, I have verified that the following steps will work in the container mentioned by @sunway513 above ( `

[2021-03-04 16:06] #1261 closed, assigned to deven-amd

[2021-03-04 16:27] #928 closed, assigned to deven-amd

[2021-03-12 03:52] qixiang109 commented on #173
@dcominottim  my GTX1080 and Radeon vii, training examples / second

![image](https://user-images.githubusercontent.com/19428642/110889596-6d904000-8329-11eb-8be7-6c2cb9275fa2.png)

[2021-03-15 20:54] ielenik opened #1289 "BatchNormalization is broken for validation"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

### System information
Ubuntu 20.04 lts
Gfx906

-   **Have I written custom code (as opposed to using a stock example script
    provided in TensorFlow)**: YES
-   **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: Ubuntu 20.04
-   **Mobile device (e.g. iPhone 8, Pixel 2, Samsung Gal

[2021-03-16 17:58] staticdev opened #1291 "Can't run tensorflow on Ubuntu 20.10 with RX580"
Similar to (but not the same): https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1106

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.10 with 5.10 LTS Kernel
- TensorFlow installed from (source or binary): pip/binary
- TensorFlow version (use command below): 2.3.2 (tensorflow-rocm==2.3.4)
- Python version: 3.8.6
- GPU model and me

[2021-03-25 16:16] kglapiak opened #1304 "tensorflow-text import ERROR"
**System information**
-Image: rocm4.0.1-tf2.3-dev/ rocm4.0.1-tf2.4-dev
-Tensorflow: 2.3.3 / 2.40

Hello,

I try install package tensorflow_text:
```pip3 install tensorflow-text==2.3.0 / tensorflow-text==2.4.0```

Installation is succesfull without any errors and warnings.

But after import
``` import tensorflow_text as text ```

In both images occures error:

[code]

This situation in normal tens

[2021-03-25 18:09] darkbasic opened #1305 "RX 570 on Fedora 33 (Linux 5.11 w/o dkms): "hipErrorNoBinaryForGpu: Unable to find code object for all current devices!""
**System information**
- OS Platform and Distribution: Fedora 33, Linux 5.11.8-200 (no DKMS)
- TensorFlow installed from: rpm repository
- TensorFlow version: v2.4.0-rc4-86-gd9cfe09e0d4 2.4.0
- Python version: Python 3.8.8 (venv)
- GPU model and memory: RX 570

**Describe the current behavior**

`python3.8 -m venv tensorflow`
`. tensorflow/bin/activate`
`pip install tensorflow-rocm --upgrade`
`git

[2021-03-25 20:25] dcominottim commented on #173
@Daniel451 @EmilPi @qixiang109 Unfortunately, without ROCm support for RDNA*, we can't test ROCm performance yet. However, I've managed to test a 6800 XT with tensorflow-directml (1.15.4, the latest version as of now) on W10! That's at least a little light for RDNA owners who are interested in ML. Here are the numbers:

Ryzen 9 5950X
32GB 3200MHz RAM
6800 XT
Windows 10 20H2 19042.867
AMD Adrenalin

[2021-03-25 22:17] xuhuisheng commented on #1305
The gfx803 series GPU - RX570, 580, wont get official support any more, since ROCm-4.0.
There is a unsolved bug on rocBLAS, since ROCm-3.7. Please refer here : https://github.com/RadeonOpenCompute/ROCm/issues/1265

You can downgrade to ROCm-3.5.1, ROCm-3.5.1 has some issues, too, but easy to sovle.

Or you can patch rocBLAS by yourself, here is ROCm-4.0 version https://github.com/xuhuisheng/rocm-b

[2021-03-25 22:22] xuhuisheng commented on #1305
Sorry, The bug comes from rocRAND, which is not support gfx803 on ROCm-4.1.
Here is the patch : https://github.com/ROCmSoftwarePlatform/rocRAND/commit/467824da5d312315dc97bf3590a1dd95ca0c6c55

And I belive you will meet the rocBLAS gfx803 bug next step.

[2021-03-26 02:12] ROCmSupport commented on #1305
Hi @darkbasic
Thanks for reaching out.
We are not supporting gfx8 devices anymore with ROCm and so can not comment on this.
Please check for our hardware support section @ [https://github.com/RadeonOpenCompute/ROCm#hardware-and-software-support](url)
Thank you.

[2021-03-26 02:12] #1305 closed, assigned to nobody

[2021-03-26 09:43] darkbasic commented on #1305
@ROCmSupport wow in a period of such GPU shortage you're going backwards instead, I have no words...

@xuhuisheng thanks but I use mostly OpenCL ATM, so I think I'll stick with the official packages. I feel sorry for those who I have advised to buy these cards though :(

[2021-03-26 11:27] darkbasic commented on #1305
@xuhuisheng is there anything preventing your fixes to be merged back into the upstream repo? What's the @ROCmSupport stance on this? I understand you won't officially support this, but this is an open source project and if the community wants to take the maintenance burden why stopping them to merge it back?

[2021-03-26 21:59] xuhuisheng commented on #1305
@darkbasic
Actually, all of patches had been merged. They just cannot released with the current version of ROCm. Normally we will wait two versions to see them availiable.

ROCm had dropped official support for gfx803, so they won't test gfx803 on their develop environments. And following the release principle, When I start testing the release of new version, the ROCm team had frozon the features

[2021-03-27 09:55] darkbasic commented on #1305
Thanks, I'm glad they're merging your patches. Unfortunately that won't solve the issue for anyone who use the binary packages. May I suggest to upload srpm packages to a copr in order to build a gfx803 compatible repo?

That would be extremely easy:
1) Create an account on https://copr.fedorainfracloud.org/ and name a new repo
2) Edit the srpm spec file to track a specific version of the source c

[2021-04-12 15:34] sunway513 commented on #1289
@ekuznetsov139 can you help review this issue?

[2021-04-12 15:38] sunway513 commented on #1291
Hi @staticdev , RX580 (gfx803) is not supported by ROCm stack.
If you want to try it out with ROCm, I'd suggest you to install the rock-dkms kernel driver from the following ROCm3.5 release:
http://repo.radeon.com/rocm/apt/3.5/
And go with the following ROCm3.5 based docker images:
https://hub.docker.com/r/rocm/tensorflow/tags?page=1&ordering=last_updated&name=rocm3.5

[2021-04-12 15:38] #1291 closed, assigned to nobody

[2021-04-12 15:56] staticdev commented on #1291
@sunway513 I tried 3.5.1, 3.9, 3.10 and 4.0. Multiple versions of Ubuntu and it did not work. RX580 is on higher end of Radeon boards and it is only 2 generations old, this is real a pity! NVidia's CUDA simply works with older generations AND officially supports it.

[2021-04-12 17:25] sunway513 commented on #1291
Hi @staticdev , I was able to use ROCm 3.5 tensorflow ROCm public docker image to run workloads on my Radeon RX 580 using my threadripper 3960X work station, using Ubuntu18.04 system.
More details on my system configuration and steps:
1. kernel driver - use the stock upstream 5.4.0 kernel driver without any ROCm kernel driver modules, steps:
[code]

2. docker container - use the ROCm3.5 docker con

[2021-04-12 22:29] xuhuisheng commented on #1291
The gfx803 with ROCm-3.5.1 can run properly. Only need fix the LD_LIBRARY_PATH for /opt/rocm/lib.
And I wrote a documents for how to re-compile ROCm-4.1 components for gfx803.
https://github.com/xuhuisheng/rocm-build/tree/master/gfx803

If just want to fix the `hipErrorNoBinaryForGpu`, we only need re-compile rocRAND with AMDGPU_TARGETS=gfx803.
if want to run GEMM properly, we need re-compile rocB

[2021-04-15 04:30] sumannelli-Ib opened #1322 "The common object detection accuracy is poor when deployed a default tflite in mobile."
Installed the default tflite apk file in the mobile device using the android studio environment. By default, the installed app has to detect the 90 common objects. The detecting accuracy is very poor.

**System information**
- I didn't make any changes to the TFLIte framework. I cloned the GitHub repo (https://github.com/tensorflow/examples.git) and opened the object detection folder in the androi

[2021-04-21 14:21] kglapiak commented on #1304
In new version rocm4.1.1 same problem

[2021-04-24 16:40] hapasa opened #1331 "Only first prediction of model returns the expected"
**System information**

- OS Platform and Distribution: Ubuntu 20.04.2 LTS
- TensorFlow installed from binary: Yes
- TensorFlow version: v2.4.0-rc4-86-gd9cfe09e0d4 2.4.0
- Python version: 3.8.5
- GPU model and memory:
 Lexa PRO [Radeon 540/540X/550/550X / RX 540X/550/550X]     ROCm AMD GPU ISA: gfx803
coreClock: 1.183GHz coreCount: 8 deviceMemorySize: 2.00GiB deviceMemoryBandwidth: 26.08GiB/s

**D

[2021-04-25 06:35] pass-lin opened #1332 "use keras tf.nn.avg_pool-dnn PoolForward launch failed"
This is code
q_=tf.nn.avg_pool(q,ksize=[1,1,self.pool_size,1],strides=[1,1,self.pool_size,1],
                       padding='SAME',data_format='NHWC',name='q_pool')
k_=tf.nn.avg_pool(k,ksize=[1,1,self.pool_size,1],strides=[1,1,self.pool_size,1],
                       padding='SAME',data_format='NHWC',name='k_pool')

q and k is tensor by Multi-headed attention,it's shape is [batch_size,n_head,squ

[2021-04-29 13:10] tarcey commented on #1262
Hello again @sunway513 , i am now on version 4.1.1 and i still encounter the same error.
I use a custom build on a distro without official packages, can you verify that the same warning is still printed with official packages, so that i know that it isn't just a problem with my setup?

As before, i encounter the problem with:

`TF_XLA_FLAGS="--tf_xla_auto_jit=2" python tf_cnn_benchmarks.py --model

[2021-05-03 16:31] gggh000 opened #1343 "SIMPLE installation fails with setuptools related error"
Simple installation fails with setuptools error even though it is installed:

**System information**
- OS: Ubuntu1804
- Python version: 3
- Installed using virtualenv? pip? conda?: No
- Bazel version (if compiling from source): N/a
- GCC/Compiler version (if compiling from source): n.a
- ROCm/MIOpen version: 4.1
- GPU model and memory: MI100

pip3 install --user tensorflow-rocm --upgrade
Collectin

[2021-05-07 12:59] bhoeveler opened #1347 "Convolution crashes"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- Opensuse 15.2 with Kernel 5.12.1-1.g82ccb82-vanilla
- TensorFlow installed from pip wheel
- TensorFlow version : v2.4.0-rc4-86-gd9cfe09e0d4 2.4.0
- Python version: 3.6.12
- ROCm version: 4.0.1
- GPU model and memory: Radeon VII

**Describe the current behavior**

When call

[2021-05-07 14:03] sunway513 commented on #1347
@deven-amd , can you help on this issue? Thanks.

[2021-05-07 14:06] sunway513 commented on #1343
Hi @gggh000 , can you help provide the python3-setuptools package version on your system?
Here's the version we have been using in the rocm/tensorflow docker container:
[code]

[2021-05-07 14:08] sunway513 commented on #1332
Hi @pass-lin , can you fill in the information in the github issue template?
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/new/choose

[2021-05-07 14:10] sunway513 commented on #1322
Hi @sumannelli-Ib , can you confirm if your issue is observed on AMD GPU?
If it's related to mobile and tf-lite, please file an issue in the following repo:
https://github.com/tensorflow/tflite-support

[2021-05-07 14:10] #1322 closed, assigned to nobody

[2021-05-07 15:28] jjkeijser opened #1348 "Building tensorflow-rocm on centos 7 with rocm 4.1 fails"
**System information**
- CentOS 7.9 x86_64
- ROCM 4.1
- Tensorflow-rocm, brnach 'develop-upstream'
- Python 3.6
- gcc 9.3.1
- bazel 3.7.2
- Intended for Radeon MI50 and Radeon VII

I am trying to build tensorflow-rocm on CentOS 7 with rocm 4.1; the code builds and runs with rocm 4.0.1 but with 4.1 I get on multiple hosts

[code]

How can I work around this issue?

[2021-05-10 13:29] deven-amd commented on #1347
@bhoeveler

The reason for this is that `double` datatype is not supported for the convolution ops on the ROCm platform.

You should be getting an (admittedly cryptic) error message to this effect
[code]

[2021-05-10 16:45] deven-amd commented on #1347
filed a PR to improve the error message a little bit to
[code]

[2021-05-10 16:45] #1347 closed, assigned to deven-amd

[2021-05-12 05:29] gggh000 commented on #1343
i retried and it is working now, not sure why it did not last time. I will do several times over again to see if i can repro.

[2021-05-20 04:00] gggh000 commented on #1343
[python3-setuptools showing as follows. After installation of this package, tflow installation moved forward but another fail (see link below)
root@nonroot-Standard-PC-i440FX-PIIX-1996:~/ROCm-4.2# dpkg -l python3-setuptools
Desired=Unknown/Install/Remove/Purge/Hold
| Status=Not/Inst/Conf-files/Unpacked/halF-conf/Half-inst/trig-aWait/Trig-pend
|/ Err?=(none)/Reinst-required (Status,Err: uppercase=b

[2021-05-20 10:01] plinnie commented on #173
I have MI50 and V100 available which I can use for benchmarking. What would be the best benchmarks to run? I see the original benchmarks seem outdated

[2021-06-06 09:25] gopaljigaur opened #1372 "InternalError: Failed to get device name: HIP_ERROR_InvalidValue"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-74-generic x86_64)
- TensorFlow installed from (source or binary): Installed from pip (tensorflow-rocm)
- TensorFlow version (use command below): v2.4.1-28-g551d9173703 2.4.3
- Python version: 3.8.5
- GPU model and memory: Radeon RX 560 4GB
- miopen-hip: Ubuntu,now 2.11.0.40200-21

[2021-06-10 04:03] BahramianArmin commented on #1196
thansk for your articles in Medium....:D
But i do all f thing you say...
and when i 'rocm-smi' in terminal

======================= ROCm System Management Interface =======================
WARNING: No AMD GPUs specified
================================= Concise Info =================================
GPU  Temp  AvgPwr  SCLK  MCLK  Fan  Perf  PwrCap  VRAM%  GPU%
=====================================

[2021-06-10 07:52] quocdat32461997 commented on #1196
@BahramianArmin
just checked. Your GPU is not supported by either ROCm or TF-ROCm. Based on [this](https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support), your GPU is not supported. I guess that's why it said No AMD GPUs specified.

[2021-06-17 06:25] gggh000 opened #1382 "import fails after installation."
Ubuntu 1804:
root@sriov-guest:~# python3 --version
Python 3.6.9

Installed as usual:
pip3 install --user tensorflow-rocm --upgrade

There seems online discussion that it happens when CWD is tensorflow source but that should not be the cause of import.

[code]

[2021-06-18 15:34] supermar1010 opened #1385 "Tensorflow-rocm not installable"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Manjaro latest
- Mobile device

[2021-06-18 19:55] supermar1010 commented on #1385
The issue was using python 3.9 instead of python 3.6

[2021-06-18 19:55] #1385 closed, assigned to nobody

[2021-06-18 19:57] supermar1010 opened #1386 "AmD rx570 fails with hipErrorNoBinaryForGpu"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): no
- OS Platfo

[2021-06-18 20:55] xuhuisheng commented on #1386
Please refer here:
https://github.com/RadeonOpenCompute/ROCm/issues/1265

[2021-06-18 20:59] supermar1010 commented on #1386
So basically, I cannot use the recent version as amd broke it?I'm on arch so I'm not sure how to get the old versions without building from source :/

[2021-06-21 16:24] roblem opened #1388 "Rocm 4.2 Radeon VII Errors"
**System information**

-  **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**

     Yes. See example below.

-  **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**

    Ubuntu 20.04.2 HWE (note I have tried also on 20.04.2)

- **Video drivers and ROCm**
   I have tried quite a few things related to rock-dkms, upstream and amdgpu drivers downl

[2021-06-21 17:07] roblem commented on #1388
Using amdgpu (downloaded from amd) with the latest docker image, runs without problems:
[code]
Apparently, I haven't installed the rocm components correctly on my machine, and would appreciate some guidance on that.

[2021-06-22 09:05] papadako commented on #1388
Hi Rob,

I also had some problems with my Radeon VII which I resolved by upgrading
to the latest unstable 5.13 rc kernel.

On Mon, Jun 21, 2021 at 8:07 PM Rob Hicks ***@***.***> wrote:

[2021-06-22 09:27] roblem commented on #1388
This is very helpful.  So the process would go like this:
1. Delete all amdgpu drivers/kernel mods downloaded from amd
2. Delete all rocm packages
3. Reboot
3. Upgrade the kernel to 5.13 (kinda scary given that I won't have physical access to the machine until Aug.)
4. Reboot
4. Install ROCm (without rocm-dkms)
5. Profit

[2021-06-22 13:00] papadako commented on #1388
In this case, I would avoid making such changes without physical access.

But yes the process would be what you have described

On Tue, Jun 22, 2021 at 12:27 PM Rob Hicks ***@***.***> wrote:

[2021-06-22 16:45] roblem commented on #1388
Yeah, for now I'll just use the docker image with the amd drivers.  Unless there is a way to fix the llvm issue.  Thanks again.

[2021-07-03 04:06] jansende opened #1396 "Crash on import tensorflow"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Mint 20.1 Cinnamon
- Mob

[2021-07-03 05:46] srika91 opened #1397 "Embedded or Edge Computing"
Hello ,
I have been searching for sometime now.I could not get anything related to AMDs benchamrks on deep learning edge devices ,something that is equivalent of Nvidias Jetson devices
Is there any support for Edge devices with computer vision deep learning ,any benchmarks on AMD edge devices ?

[2021-07-05 14:25] BertaViader-zv opened #1398 "Docker Tensorflow hipErrorNoBinaryForGpu"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Docker rocm/tensorflow on Ubun

[2021-07-05 22:00] xuhuisheng commented on #1398
ROCm didnot support gfx1010

[2021-07-09 21:58] duncreg commented on #1386
Wow; I bought this graphics card new in January and AMD is already dropping support for it. :-(

[2021-07-25 11:20] Photonico opened #1409 "Question on ROCm"
There are very few distros(Ubuntu, SLE, RHEL) that can install ROCm successfully.
I have many fails on installation ROCm(rocm-dkms) on my OpenSUSE Tumbleweed(It's different from SLE), because dependencies cannot match ROCm.
Could you release the integrated package which includes the ROCm environment?

[2021-07-27 05:56] dipietrantonio commented on #694
Dear all,
I have encoutered the same issues running the tensorflow container using singularity 3.7.4

Rocm 4.2 is also installed on the host system.

[code]

Here is the output
[code]

[2021-07-30 06:07] #1409 closed, assigned to nobody

[2021-07-31 06:31] gggh000 commented on #1382
after apt-get update && apt dist-upgrade + apt install python3-pip python3-setuptools + rocm full installation, it appears to work.

[2021-07-31 15:30] gggh000 commented on #1382
Fresh installation still failing:
[code]

[2021-07-31 15:30] gggh000 commented on #1382
setuptools upgrade warning is misleading as i am using latest one:
-bazel/linux-x86_64/crypto/fipsmodule/x86_64-mont5.o python_build/temp.linux-x86_64-3.6/third_party/boringssl-with-bazel/linux-x86_64/crypto/fipsmodule/x86_64-mont.o python_build/temp.linux-x86_64-3.6/third_party/boringssl-with-bazel/src/crypto/hrss/asm/poly_rq_mul.o -lrt -lm -o python_build/lib.linux-x86_64-3.6/grpc/_cython/cygrpc

[2021-08-05 16:50] alexmondaini opened #1415 "import tensorflow 2.4.3 ubuntu 20.02 Rocm 4.3 python 3.8"
**System information**
- OS Platform and Distribution (Linux Ubuntu 20.04):
- TensorFlow installed from (binary):
- TensorFlow version:2.4.3
- Python version:3.8.10
- Installed using virtualenv? pip? conda?: pip, no virtualenv
- ROCm/MIOpen version:4.3.0.40300-52
- GPU model and memory: VGA 8GB ASRock Radeon RX 590

[code]

[2021-08-05 18:57] sunway513 commented on #1415
Hi @alexmondaini , RX590 is not supported by ROCm, for details you can refer to the following thread:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1230#issuecomment-789537799
cc @ROCmSupport

[2021-08-05 18:57] #1415 closed, assigned to nobody

[2021-08-05 19:12] sunway513 commented on #1397
Hi @srika91 , I don't think ROCm has been enabled on edge devices. You can refer to the following document on the current ROCm HW support support coverage:
https://github.com/RadeonOpenCompute/ROCm#Hardware-and-Software-Support

[2021-08-05 19:12] #1397 closed, assigned to nobody

[2021-08-05 19:14] sunway513 commented on #1396
Hi @jansende, RX570 is not supported by ROCm, for details you can refer to the following thread:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1230#issuecomment-789537799
cc @ROCmSupport

[2021-08-05 19:14] #1396 closed, assigned to nobody

[2021-08-05 19:19] sunway513 commented on #1382
Hi @gggh000 , can you provide a Dockerfile to reproduce the failures you have observed, in case you're expecting inputs from the ROCm team?

[2021-08-05 19:22] sunway513 commented on #1348
Hi @jjkeijser , Tensorflow doesn't have native support for CentOS distros. Please note you can deploy the public tensorflow-rocm docker images on CentOS hosts:
https://hub.docker.com/r/rocm/tensorflow

[2021-08-05 19:22] #1348 closed, assigned to nobody

[2021-08-05 22:36] peterdfields commented on #1106
Has anyone had any luck getting tensorflow-rocm running on a gfx1030 device?

UPDATE: I was able to get things running on a gfx1030 device building tf from source, I couldn't get available binaries to run.

[2021-08-10 08:13] dipietrantonio opened #1419 "MiOpen: Internal error while accessing SQLite database: disk I/O error"
**System information**
- I am trying the tensorflow beginner tutorial on the MNIST dataset.
- OS Platform and Distribution: sles15sp2
- TensorFlow installed from (source or binary): singularity container converted from docker.
- TensorFlow version (use command below): tensorflow_rocm4.2-tf2.5-dev.sif
- Python version: 3.6.9
- GPU model and memory: gfx908, 32gb

I run the container using the follow

[2021-08-22 08:00] gggh900 opened #1427 "2.5.0 segfaults on the likes of MI-25 and MI-100 but not 2.4.3 on basic level i.e. simple import"
Ubuntu1804, 5.4.xx kernel.
[code]

[2021-08-22 08:05] gggh000 opened #1428 "tensorflow-rocm does not appears to have implemented LTSM layer?"
Ubuntu1804, kernel 5.4.
On tensorflow-2.4.3 following results when using keras.layers.LTSM:

(For more information: https://www.tensorflow.org/api_docs/python/tf/keras/layers/LSTM)

[code]
On tensorflow-2.5.0 latest on available on pypi, it crashes altogether. See:
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1427

[2021-09-14 12:28] neqkir opened #1450 "ROCm/tensorflow run_glue.py"
Hi,

using ROCm/tensorkflow in a docker image, I try to run the script run_glue.py, get the error below

I suspect a tf version problem, I am using

root@mi100:/root/models/official/nlp/finetuning/glue# python3 -c 'import tensorflow as tf; print(tf.__version__)'
2.6.0

I made sure tensorflow_text is installed

**Describe the current behavior**

root@mi100:/root/models/official/nlp/finetuning/glue#

[2021-09-14 12:44] neqkir opened #1451 "error raised in tensorflow_addons when running bert run_classifier.py"
Hi,

using ROCm/tensorkflow in a docker image, I try to run the script run_classifier.py, get the error below

root@mi100:/root/models/official/nlp/finetuning/glue# python3 -c 'import tensorflow as tf; print(tf.version)'
2.6.0

root@mi100:/root/models/official/nlp/bert# python3 run_classifier.py   --mode='train_and_eval'   --input_meta_data_path=${GLUE_DIR}/${TASK}_meta_data   --train_data_path=${

[2021-09-28 06:14] neqkir opened #1455 "NotFoundError: /usr/local/lib/python3.6/dist-packages/tensorflow_text/python/metrics/_text_similarity_metric_ops.so: undefined symbol: _ZNK10tensorflow8OpKernel11TraceStringERKNS_15OpKernelContextEb"
Tensorflow 2.6.0 in a docker session

Code runs well in a local environment with "native" Tensorflow same version, encounters this error when run on a server with a docker session containing a tensorflow-rocm image

tensorflow_text has been installed

[code]

[2021-09-28 06:17] neqkir commented on #1455
Seems to be related to Tensorflow versions and GPU support, https://stackoverflow.com/questions/67690805/tensorflow-text-disables-gpu-on-colab

Would like to run everything in a cohesive manner with the latest Tensorflow 2.6.0 though

[2021-10-02 13:00] delijati opened #1457 "Is AMD Ryzen 7 PRO 5850U with Radeon Graphics supported?"
Is my hardware supported?

Installed newest version getting this error:
[code]

rocminfo:

[code]

[2021-10-04 19:14] ianzur opened #1460 "Error with masking"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): yes
- OS Platform and Distribution: Linux Debian bullseye
- ROCm stack installed via `apt`: v4.3.0
- TensorFlow installed from: source
- TensorFlow version: 2.7.0
- Python version: 3.9.2
- Bazel version: 4.2.1
- GCC/Compiler version: 10.2.1 20210110
- CUDA/cuDNN version: ? AMD p

[2021-10-05 21:41] ianzur commented on #1460
I looked through the test cases and found that this is expected behavior. ROCm MIOpen currently does not support masking. Closing this issue, re-opening MIOpen Issue as feature request.

https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/7e8f960bb398526aea7e045884101029fd21bddd/tensorflow/python/keras/layers/gru_v2_test.py#L149

[2021-10-05 21:41] #1460 closed, assigned to nobody

[2021-10-06 08:03] elukey opened #1461 "tensorflow-rocm and tensorflow-io"
Hi everybody,

We tested ROCm 4.3.1 and tensorflow-rocm 2.6.0 on our environments, everything works nicely but we realized that HDFS support was dropped:
[code]
This seems to be related to a change in Tensorflow 2.6, that now delegates HDFS/S3/etc.. support to Tensorflow I/O:
https://discuss.tensorflow.org/t/how-can-i-access-to-hdfs-file-system-in-the-latest-tensorflow-2-6-0/3876

The main problem

[2021-10-06 13:13] elukey commented on #1461
One alternative could be to collaborate with tensorflow-io's upstream and possibly add a variant to its setup.py. For example, one could install tensorflow-io[rocm] with a dependency on tensorflow-rocm instead of tensorflow.

[2021-10-07 12:40] elukey commented on #1461
@ROCmSupport tagging this account since this may be a big usability blocker for ROCm 4.3.1 and Tensorflow-rocm 2.6.

[2021-10-10 19:39] delijati commented on #304
So what happened to APU support? If there is anything written down, i would love to read it ;)

[2021-10-12 04:43] sunway513 commented on #1457
Hi @delijati , please move this issue to the following main ROCm repo:
https://github.com/RadeonOpenCompute/ROCm/issues
cc @ROCmSupport

[2021-10-12 04:43] #1457 closed, assigned to nobody

[2021-10-12 04:44] sunway513 commented on #1450
Hi @neqkir , can you fill in the standard "bug report" questions using the following link?
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/new?assignees=&labels=type%3Abug&template=00-bug-issue.md

[2021-10-12 04:47] sunway513 commented on #1419
Hi @dipietrantonio , it seems the issue is due to lack of local storage for MIOpen runtime.
@JehandadKhan , could you help comment if there's any option in MIOpen to workaround the issue?

[2021-10-14 13:59] mojitonoproblem opened #1467 "Undeclared inclusions building from source"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):
Linux Ubuntu 20.04

- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
None

- TensorFlow installed from (source or binary):
None

- TensorFlow version:
[code]
- Python version:
[code]
- Installed using virtualenv? pip? conda?:
conda
- Bazel version (if compiling from sour

[2021-10-14 14:33] reza-amd commented on #1467
Could you please run the ```build_rocm_python3``` script to start the build (it is located in the root folder of the repository)?

[2021-10-14 15:17] xuhuisheng commented on #1467
@mojitonoproblem
Just curious, Does hawaii r290/r390 can run properly on ROCm-4.3.0? ROCm teams said only ROCm-1.9.3 supports Hawaii, which released on 2018.
Do you test any small samples, for examples, hip square sample?

[2021-10-14 15:21] reza-amd commented on #1467
@mojitonoproblem
I did not notice the GPU model you mentioned in the initial comment. Let me ping a member of the team for further assistance.
cc @sunway513

[2021-10-14 15:28] mojitonoproblem commented on #1467
I didn't know that. Please let me know how to run those samples and I will post the results. Thank you

[2021-10-14 15:29] mojitonoproblem commented on #1467
Perfect. I hardcoded the path to the ROCM installation directory and the Python bin, and it is building so far.

[2021-10-14 19:21] mojitonoproblem commented on #1467
@reza-amd I'm pasting the error resulting from running build_rocm_python3:

[code]

Let me know if I can do anything to help. Thank you

[2021-10-14 21:02] deven-amd commented on #1467
@mojitonoproblem do you have the ROCM_PATH and TF_NEED_ROCM env vars set when you run the configure command?
(for e.g. - https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/blob/develop-upstream/build_rocm_python3#L31 )

If not, please set, and retry
If you are setting them and still running into the error, please paste the `.tf_configure.bazelrc` file here

Your `.tf_configure.bazelrc` sh

[2021-10-15 08:34] hclearner opened #1468 "mlir error when compiling tensorflow2 with rocm4.3.1"
ROCm: 4.3.1
TensorFlow Version: 2.7
Operating System: centos 7.9
GCC: devtools-7.3.1
LLVM: https://repo.radeon.com/rocm/yum/4.3.1/

Compile command:
[code]

Error:
[code]

Should I recompile the llvm with `-DLLVM_ENABLE_PROJECTS=mlir -DLLVM_TARGETS_TO_BUILD="X86;NVPTX;AMDGPU" ` ? Thank you :)

[2021-10-15 10:53] neqkir opened #1469 "tensorflow.python.framework.errors_impl.InternalError: Failed copying input tensor from /job:localhost/replica:0/task:0/device:CPU:0 to /job:localhost/replica:0/task:0/device:GPU:0 in order to run _EagerConst: Dst tensor is not initialized."
A RNN code running well on the CPU, on the GPU getting this apparently "out of memory" error.

I run the code here https://github.com/neqkir/bible-like-text-generation/blob/main/word-based/word_rnn_bible_lstm.py

[code]

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
in Keras/Tensorflow
- OS Platform and Distribution : Linux

[2021-10-15 14:11] deven-amd commented on #1468
@weihanmines

can you reproduce this error locally, and work with @rsanthanam-amd to come up with a fix for it. thanks

[2021-10-15 14:23] deven-amd commented on #1469
As per the log posted, the model seems to be attempting to allocate 40GB!! of GPU memory

[code]

Need to figure out what is triggering this memory allocation.

@neqkir , can I request you to rerun with the env var "MIOPEN_ENABLE_LOGGING=1" and then post the resulting log file here?

thanks

[2021-10-15 14:58] jayfurmanek commented on #1469
It looks to me that your arrays you are working with are based on the entire corpus.
When using an accelerator you have to think a bit more about how to handle your data, if you have large amounts of it.

Your MI100s have 32G of memory onboard, so you are blowing past that. It also looks like you have two so you'll want to be able to make the most of both of them.

Take a look at a few of these gu

[2021-10-15 20:37] mojitonoproblem commented on #1467
@reza-amd Thank you for your kind help. I'm pasting the error resulted from the last attempt (with env variables and python path set):
[code]

as well as `.tf_configure.bazelrc`, as requested:

[code]

Thank you,

[2021-10-15 21:21] deven-amd commented on #1467
looks like you are using ROCm 4.3.0....can I request you to switch to ROCm 4.3.1 and try it out. thanks

[2021-10-16 02:03] weihanmines commented on #1468
I tried to reproduce the error the our end. However, there is no issue when I run the command in our docker container. It would be appreciated if you could share your docker container with us. Thank you.

[2021-10-16 04:17] hclearner commented on #1468
The Operating System that I compiled tensorflow_rocm is centos 7.9 not ubuntu. Could you share the configuration in `.tf_configure.bazelrc `.  If the `--define=with_xla_support=false` is false, it also compiled failed.
[code]
The GPU's name is gfx906 in our machine.
LLVM version:
[code]
[code]

[2021-10-16 16:55] mojitonoproblem commented on #1467
@deven-amd It seems that there is a missing library, although it is actually installed:
[code]

[code]

I cannot manage to get it work. Thanks

[2021-10-18 08:18] dipietrantonio commented on #1419
I have solved this issue with using the singularity flag "--fake-root". It was a permissions error. However this solution makes singularity "unpack" the image into a writable directory, which is not ideal.

At the moment I am trying to build a rocm + tensorflow container for singularity from scratch, but I find it quite hard.

[2021-10-19 00:51] weihanmines commented on #1468
It compiles successfully on my end with `--define=with_xla_support=true`. I did an installation in centos-7.9 container too.

[2021-10-19 21:03] JehandadKhan commented on #1419
@dipietrantonio Thanks for triaging the issue further. Can I ask you to conduct two experiments?

1. Using the test case where you see failures, please export the env var `MIOPEN_LOG_LEVEL=7` and share the generated logs here. This should give us detailed information about what is going on behind the scenes and enable us to help you better.
2. I agree with your synopsis, that its a file system iss

[2021-10-20 02:52] hclearner commented on #1468
Could you share the Bazel compile command in centos 7.9 with devtools 7.3.1?
[code]

[2021-10-20 02:59] weihanmines commented on #1468
`bazel build --config=opt --config=rocm //tensorflow/tools/pip_package:build_pip_package --verbose_failures`

[2021-10-20 03:01] hclearner commented on #1468
Thanks for replying.
Maybe I can disable the mlir when comipling with `TF_ENABLE_MLIR=0`, but `--define=with_xla_support=false` seems not working.

[2021-10-20 09:16] hclearner commented on #1468
I find that this error will occur if there is no directory `/opt/rocm`.
After I modify this file  `./tensorflow/compiler/xla/service/gpu/llvm_gpu_backend/gpu_backend_lib.cc`, it compiled successful.

I tested the xla with rocm based the tensorflow benchmark `https://github.com/tensorflow/benchmarks`.
The result of training vgg16 with xla off or on is only 3 samples speedup. Could you share your sp

[2021-10-20 14:41] mojitonoproblem commented on #1467
Please note that even with the repository 4.3.1, the installation directory is named 4.3.0.

[2021-10-20 16:38] jayfurmanek commented on #1467
For ROCm 4.3.1, the directory should be `/opt/rocm-4.3.1`

[code]

I think maybe your ROCm install is not quite right. Perhaps try removing it altogether and putting on 4.3.1 fresh.

[2021-10-20 19:27] weihanmines commented on #1468
Hi hcleaner,
Has the compilation problem has been solved? If so, I will close this ticket. Thank you for contacting us.

[2021-10-21 02:23] hclearner commented on #1468
Yes, has been solved, thanks.

[2021-10-21 04:10] #1468 closed, assigned to weihanmines

[2021-10-21 13:18] gggh000 opened #1474 "import tensorflow fails as missing rocsolver library"
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
Ubuntu1804
Tensorfow installed from binary: pip3 install tensorflow-rocm upgrade
Python 3.6.9
mi-25

**Describe

[2021-10-21 21:50] jayfurmanek commented on #1474
Hi @gggh000!

I think there may be two things going on here.
1) For TensorFlow 2.6, we moved to start publishing manylinux2014 compliant .whl files. Make sure your pip command is fully updated to be able to know/work with manylinux2014.

`pip3 install --upgrade pip`

2) ROCm 4.3.x wasn't qualified for the AI workloads until 4.3.1 and that is the version we build the TensorFlow 2.6 .whls against.

[2021-10-22 08:26] elukey commented on #1461
@deven-amd Hi! I naively thought that adding an extra/variant to setup.py in tensorflow-io could work (see https://github.com/tensorflow/io/issues/1548), but to me the best compromise seems to be forking tensorflow-io in tensorflow-io-rocm. What do you think?

[2021-10-22 15:37] jayfurmanek commented on #1461
I commented over on https://github.com/tensorflow/io/issues/1548
Tensorflow-io has this issue on `tensorflow-cpu` as well or any other variant. I'll take a peak over there to see if they can do something a bit better. The `addons` package doesn't have that problem so that may be a good compare point.

[2021-10-22 23:05] gggh000 commented on #1474
Installed
pip3 21.3.1,
tf: tensorflow-rocm         2.6.2 and rocblas but still got following:

root@nonroot-Standard-PC-i440FX-PIIX-1996: # dpkg -l | grep -i rocblas
ii  rocblas                                    2.39.0.40300-52                                 amd64        rocBLAS is AMD's library for BLAS on ROCm. It is implemented in HIP and optimized for AMD GPUs.
root@nonroot-Standard-PC-i440F

[2021-10-23 00:40] gggh000 commented on #1474
after installing rom4.3.1 it appears to work.

[2021-10-23 00:40] #1474 closed, assigned to nobody

[2021-10-23 13:06] ielenik commented on #1289
Is not reproduced on 4.3

[2021-10-23 13:06] #1289 closed, assigned to nobody

[2021-10-24 00:07] Felix-Petersen commented on #1419
#https://github.com/pytorch/pytorch/issues/60477

[2021-10-27 16:12] jayfurmanek commented on #1467
Hi @mojitonoproblem,
Were you able to get a fresh rocm 4.3.1 install and try again?

[2021-10-27 17:56] mojitonoproblem commented on #1467
Hi @jayfurmanek I was not able yet. I didn't want to add useless info to this thread. I started  with a new install but cannot get it work. I'm gona try again today.
[code]

Thanks.

[2021-10-28 14:43] mojitonoproblem commented on #1467
I uninstalled, rebooted and reinstalled everything, but cannot get rid of the previous error message. Any hints?
Thanks in advance

[2021-11-03 15:31] jayfurmanek commented on #1467
It seems your ROCm install is still not right. How did you remove/reinstall?
Maybe that will shed some light on what is going on here.

Also, note we did just move the top of the develop-upstream branch to be ROCm-4.5 based if you are still interested in building the latest.

[2021-11-04 13:40] mojitonoproblem commented on #1467
@jayfurmanek thank you, I removed the 4.3.0 version using `sudo apt purge rocm* comgr rock-dkms`, then changed the apt source to point to 4.3.1 and then `sudo apt install rocm-dkms` (after apt update of course).

Now I'm pulling develop-upstream and changing apt source to 4.5. After attempting to build I'll post my results.
Thanks

[2021-11-04 14:31] mojitonoproblem commented on #1467
It appears that it cannot find rock-dkms. I just rebooted after removing 4.3.1 and issued the following command:

[code]

[2021-11-07 10:03] cjm-sfw commented on #173
Dose anyone try the benchmark on Rocm 4.5? Seemly Rocm now support gfx1030(6800xt/6900xt)?

There is someone testing 6700xt:

Link：https://www.zhihu.com/question/469674526/answer/2189926640
From:ZHIHU

Linux-5.10, nvidia driver 460.91.03, cuda 11.2, pytorch-1.9.1,Tesla A100running benchmark for framework pytorch
cuda version= 11.2
cudnn version= 8100
pytorch's vgg16 eval at fp32: 11.3ms avg
pytorc

[2021-11-11 21:13] roblem opened #1487 "Docker Image with Python>3.6 for building jax"
I am looking to build `jax` inside the docker image, but current jax requires python>3.6.  Just checked out `rocm/tensorflow:latest` and noticed it is using Ubuntu Bionic python 3.6.  Is there a 20.04 docker image, since it would have python 3.8?

[2021-11-11 21:30] #1388 closed, assigned to nobody

[2021-11-11 22:07] roblem commented on #1487
Apologies, I just found the "beta" docker image for jax.

[2021-11-11 22:07] #1487 closed, assigned to nobody

[2021-11-12 03:41] dipietrantonio commented on #1419
@JehandadKhan sorry for the late reply. So, after a few more experiments, it appears it is indeed because of the lack of space in `/tmp`. We can close the issue now, and if I encounter the same behaviour I will let you know.

Cheers
Cristian

[2021-11-12 03:41] #1419 closed, assigned to nobody

[2021-11-12 06:13] justinkb opened #1488 "2.6.2 whls on pypi are 2.6.0?"
**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Arch Linux
- TensorFlow installed from (source or binary): binary
- TensorFlow version: tensorflow-rocm 2.6.2
- Python version: 3.9.7
- Installed using virtualenv? pip? conda?: pip in venv
- ROCm/MIOpen version: 4.5.0
- GPU model and memory: RX 6800 16GB

The 2.6.2 tensorflow-rocm precompiled whls on pypi don't seem

[2021-11-14 17:13] elukey commented on #1461
The PR got merged and the next version of `tensorflow-io` (likely 0.23) should support `tensorflow-rocm`.

[2021-11-14 17:13] #1461 closed, assigned to deven-amd

[2021-11-16 12:11] roblem opened #1492 "Tensorflow spamming kern.log"
**System information**

- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu
- Upstream amdgpu graphics driver
- TensorFlow installed from (source or binary): docker rocm/tensorflow:latest
- 2 x radeon vii

**Custom code**

Any tensorflow call places causes these logging messages, e.g.:

[code]
The logging problem is being exacerbated by looping over tensorflow models using `multiproc

[2021-11-16 15:31] jayfurmanek commented on #1492
Hi @roblem !
Thanks for the report. We've seen this before on non-LTS kernels (https://github.com/RadeonOpenCompute/ROCm/issues/1507)

To make this go away, you likely have to move to a supported ROCm/Ubuntu/kernel combination as listed here:
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html

[2021-11-16 15:50] roblem commented on #1492
Thanks.  With the radeon vii, I was trying to use a recent kernel >=5.13 so I could run rocm outside of docker.  As described in this thread due to ECC memory issues in the old versus new kernel (see https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1388), the only way to do this was to upgrade the kernel in 20.04 by compiling from source.  I was still unable to successfully run t

[2021-11-16 15:50] #1492 closed, assigned to nobody

[2021-11-21 14:57] Chern2 opened #1499 "Failed to load the native TensorFlow runtime (ImportError: librccl.so.1:)"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04):Linux Ubuntu 20.04
- Mobile dev

[2021-11-22 20:51] gggh000 commented on #1428
it was due to type, my bad,

[2021-11-22 20:51] #1428 closed, assigned to deven-amd

[2021-12-08 22:55] stevenireeves commented on #1488
@justinkb The python versioning on pypi is an unfortunate side-effect of the way pypi handles version numbers when the wheels are re-uploaded. The next real version of tensorflow-rocm will be 2.7.0. Sorry for the confusion.

[2021-12-08 22:55] #1488 closed, assigned to nobody

[2021-12-08 22:58] stevenireeves commented on #1276
Python3.9 wheels are available for TF2.5 on.

[2021-12-08 22:58] #1276 closed, assigned to deven-amd

[2021-12-08 23:06] Bengt commented on #1276
Cool. For future reference: https://pypi.org/project/tensorflow-rocm/2.5.0/#files

[2021-12-11 15:17] Djip007 commented on #173
with not official support on rocm-4.5: ;)

[code]

[code]

[2021-12-12 21:23] WannaBeOCer commented on #173
My previous Radeon VII results are here: https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/173#issuecomment-485216090

Hopefully AMD's next generation consumer GPUs include Matrix cores if they are actually bringing support to RDNA.

Titan RTX:

[code]

[code]

[2021-12-13 19:51] Djip007 commented on #173
CDNA and up compute carte (MI100 ...) have already Matrix core ... but yes not "consomer" card
The support is not official... hop it may have some optimisations after official support..

Compared with RTX 3080 ... the old Titan is as fast...  This benchmark is not optimised and no more update for tensorflow2... May be we can find some more update benchmark...

[2021-12-14 08:29] WannaBeOCer commented on #173
The Titan RTX is slightly faster than a RTX 3080 since its FP32 accumulation runs at full throughput like Nvidia's professional/data center cards when using Tensor cores. Geforce RTX cards are limited to 0.5x throughput when using Tensor cores, it's a way to segment their lineup similar to how AMD/Nvidia limit FP64 throughput.

https://lambdalabs.com/gpu-benchmarks

I used this benchmark to test m

[2021-12-14 10:29] perestoronin opened #1512 "TF 2.7.0: Failed compilation due to error: hipStream_t has not been declared"
**System information**
- OS Platform and Distribution: Gentoo
- TensorFlow installed from: source
- TensorFlow version: 2.7.0
- Python version: 3.9.9
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 11.2.0
- ROCm/MIOpen version: 4.5.2
- GPU model and memory: Vega Frontier Edition

**Describe the problem**
failed compilation due to error: `‘hipStr

[2021-12-17 06:22] guojunxia opened #1519 "miopen only supports 4D tensors, dim=5 not allowed"
"tensorflow/stream_executor/rocm/rocm_dnn.cc:477] miopen only supports 4D tensors, dim=5 not allowed"
hi, this error happens when I use tf.layers.conv3d_transpose in rocm2.9_tensorflow1.13_python3.7 .
Has anyone encountered it before?
Do i need to updata my rocm or miopen?
I'm also confused my  tf.layers.conv3d() also has 5 parameters but it passes QAQ

[2021-12-19 23:48] Miskinis opened #1520 "Can't compile tensorflow from source with rocm 4.5.2"
**System information**
- OS Platform and Distribution (Ubuntu 20.04.3):
- Python version: 3.8
- Bazel version (if compiling from source): 3.7.2
- GCC/Compiler version (if compiling from source): 9.3
- ROCm/MIOpen version: 4.5.2
- GPU model and memory: gfx 900, Vega 56, 8 GB

**Describe the problem**
Unable to compile tensorflow from source no matter what version I pick. The installation seems to l

[2021-12-20 17:58] #1512 closed, assigned to nobody

[2021-12-22 02:33] guojunxia opened #1523 "the difference between miopen and miopengemm"
I'm reading the miopen documents (https://rocmdocs.amd.com/en/latest/Deep_learning/Deep-learning.html#miopen) and i'm confused about the defferences between  miopen and miopengemm .
I'm totally a beginner in this ,can someone help me figure this out?

[2021-12-28 01:01] Miskinis commented on #1520
After some very deep, manual cleaning and reinstalling, everything seems to work now. The uninstall guides for 4.5 and below seems to be inaccurate, cause I had leftover packages that somehow messed with the installations. Also why did installation never report an error that something was incompatible and something failed to install?
`apt list --installed | grep -i roc` helped here a bit.

[2021-12-30 03:03] #1519 closed, assigned to nobody

[2021-12-30 03:05] guojunxia commented on #1519
This issued has been solved when i use  compiler/dtk/21.04 even though i don't know why  it works.

[2022-01-04 00:45] tedliosu commented on #173
If it's alright I'd like to post here the benchmark results I got with my rx 6800 using ROCm 4.5.2 and amdgpu-dkms version 1:5.11.32.40502-1350682 (from the latest amdgpu-pro driver stack):

[code]

[code]

I guess these results are somewhat in line with @Djip007's results, as at least according to [userbenchmark.com](https://gpu.userbenchmark.com/Compare/AMD-RX-6900-XT-vs-AMD-RX-6800/4091vs4088)

[2022-01-12 19:13] #1520 closed, assigned to nobody

[2022-01-12 19:20] stevenireeves commented on #1523
@guojunxia Hello, MiOpenGEMM  is an OpenCL GEMM library. I would only use MIOpen, as it is the main ROCm kernels library. Checkout https://github.com/ROCmSoftwarePlatform/MIOpen for any more questions on MIOpen.

[2022-01-12 19:20] #1523 closed, assigned to nobody

[2022-01-12 19:24] stevenireeves commented on #1427
Closing because resolved in #1428

[2022-01-12 19:24] #1427 closed, assigned to nobody

[2022-01-22 08:18] ianzur commented on #855
I ran into a similar issue when building `r2.7-rocm-enhanced` after I upgraded rocm.

Before the initial build attempt I hadn't installed hipcub. After installing this dependency bazel reported: (even after a `bazel clean`)
[code]

Fix: setting expunge to true actually cleaned everything.
[`bazel clean --expunge`](https://docs.bazel.build/versions/main/command-line-reference.html#flag--expunge)

<

[2022-01-31 20:15] alexpattyn opened #1556 "Can not detect GPU [Radeon VII]"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): RHEL 8.4
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: No
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): TensorFlow v

[2022-02-01 16:18] alexpattyn commented on #1556
Seems to be resolved. Looks to be an issue with RHEL using a very old python version by default (3.6). Installing python3.9 resolves this issue as rocm-smi is reporting GPU activity when I run `model.fit(...)`.

[2022-02-01 16:18] #1556 closed, assigned to nobody

[2022-02-07 19:06] weihanmines opened #1567 "linear_kronecker_test_xla_gpu unit test fails"
Please go to Stack Overflow for help and support:

https://stackoverflow.com/questions/tagged/tensorflow

If you open a GitHub issue, here is our policy:

1.  It must be a bug, a feature request, or a significant problem with the
    documentation (for small docs fixes please send a PR instead).
2.  The form below must be filled out.
3.  It shouldn't be a TensorBoard issue. Those go
    [here](htt

[2022-02-09 21:41] jayfurmanek commented on #1567
duplicate of https://github.com/ROCmSoftwarePlatform/frameworks-internal/issues/957

[2022-02-09 21:41] #1567 closed, assigned to nobody

[2022-02-22 16:37] neqkir opened #1584 "tensorflow_text issue"
Tensorflow tensorflow_text is producing the following error

[code]

using
[code]
on a system with AMD GPUs and Rocm

[2022-02-27 22:06] tedliosu opened #1591 "INTERNAL: bitcode module not found at ./opencl.bc when running with "TF_XLA_FLAGS=--tf_xla_auto_jit=2""
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Linux Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N/A
- TensorFlow installed from (source or binary): binary using pip
- TensorFlow version (use command

[2022-02-27 22:13] tedliosu commented on #1499
Make sure you `sudo -H apt install rccl` from `https://repo.radeon.com/rocm/apt/5.0.1 ubuntu/main amd64 Packages` and then `sudo -H ldconfig` to update the local shared libraries cache.  Hope that helps.

[2022-02-27 22:16] tedliosu commented on #1591
Please let me know if there's anything else I may be able to contribute in order to resolve this issue.

[2022-03-09 22:13] RavenOchlich opened #1600 "Inport Error librocm_smi64.so.5 with ROCm 5.0.2"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Freshly Updated Arch Linux
- TensorFlow installed from (source or binary): Binary from  PyPi
- TensorFlow version (use command below): 2.8.0
- Python version: 3.10.2
- GPU model and memory: Vega 56 8GB

**Describe the

[2022-04-05 10:29] hclearner opened #1634 "ROCm Ops Lists"
Hi, could you share the GPU Ops lists based on ROCm platform. Thank you. I think that not all the GPU Ops can run on the ROCm platform compared with CUDA.

[2022-04-15 09:34] south-ocean opened #1646 "build tf1.15 with rocm5.1 failed"
<em>Please make sure that this is a build/installation issue. As per our [GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md), we only address code/doc bugs, performance issues, feature requests and build/installation issues on GitHub. tag:build_template</em>

**System information**
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): centos 7.6
- Mobile device (e.

[2022-04-16 09:29] #1646 closed, assigned to nobody

[2022-04-22 02:04] boniek83 opened #1657 "Tensorflow Serving support"
### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

2.8

### Custom Code

No

### OS Platform and Distribution

_No response_

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[2022-04-24 12:29] DeeptimayeeSethi opened #1658 "Please enable two factor authentication in your github account"
@ArturkaLF;@ROCmSupport

We are going to enforce two factor authentication in (https://github.com/ROCmSoftwarePlatform/) organization on 29th April, 2022 .
Since we identified you as outside collaborator for ROCmSoftwarePlatform organization, you need to enable two factor authentication in your github account else you shall be removed from the organization after the enforcement.
Please skip if alr

[2022-05-06 19:39] SamuelBailey opened #1674 "Random Extreme RAM Usage and HIP_ERROR_OutOfMemory"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf 2.8.0

### Custom Code

Yes

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

N/A

### Python version

3.7.13 (also experienced on 3.8.10)

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

ROCm 5.1.1 (using tensorflow installed from pip: tensorflow-rocm)

### GPU model and memo

[2022-05-06 19:45] SamuelBailey commented on #1674
The first screenshot shows RAM usage whilst performing `model.compile()`. This is before the notebook had reached the `model.run()` call. The notebook had previously been run, but the python kernel had been reset, so all memory from the previous run *should* have been freed. The log output in my bug report occurred after this call to `model.compile()`
![Screenshot_20220506_201050](https://user-ima

[2022-05-25 03:06] fsx950223 opened #1689 "Functions with blas::CallContext argument is not compatible with public tensorflow"
### Issue Type

Bug

### Source

binary

### Tensorflow Version

tf2.8

### Custom Code

No

### OS Platform and Distribution

ubuntu 18,04

### Mobile device

_No response_

### Python version

_No response_

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

rocm 5.1

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Stan

[2022-05-25 06:56] cuisonghui commented on #940
@ekuznetsov139  thanks a lot，solved my problem

[2022-05-29 04:10] #1689 closed, assigned to nobody

[2022-06-10 22:47] lubosz commented on #1512
How did you resolve this? I am seeing the same on ArchLinux.

[2022-06-19 03:17] reyhaneh-92 commented on #1469
I am facing the same issue, @neqkir were you able to solve it? I would appreciate it if you can post your solution here.

[2022-06-30 10:11] south-ocean opened #1749 "build debug tensorflow failed"
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf2.7

### Custom Code

Yes

### OS Platform and Distribution

linux

### Mobile device

_No response_

### Python version

python3.7.12

### Bazel version

3.7.2

### GCC/Compiler version

7.3.1

### CUDA/cuDNN version

rocm5.1

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Standalone code to

[2022-07-11 19:33] gururise commented on #173
Ran some benchmarks on my RX6800XT (Quiet Mode Switch) in the Docker ROCm5.2.0-TF2.8-dev container:

[code]

[code]

I would try it in Power Mode, but that would involve opening my case and flipping the BIOS switch on the card, which is too much work at this time.

[2022-08-01 08:10] Mushoz commented on #1141
Any news on this? This spam is driving me crazy to be honest. It's making it hard to quickly have a look at the log to see what's happening. Why was this issue closed?

[2022-08-01 16:31] perestoronin opened #1772 "TF 2.9.1 ROCM 5.2.1 Vega Frontier (gfx900) INTERNAL: Generating device code failed. tf_to_kernel."
### Issue Type

Build/Install

### Source

source

### Tensorflow Version

tf 2.9.1

### Custom Code

No

### OS Platform and Distribution

Gentoo

### Mobile device

_No response_

### Python version

3.10.4

### Bazel version

5.0.2

### GCC/Compiler version

11.2.0

### CUDA/cuDNN version

_No response_

### GPU model and memory

AMD Vega Frontier 16Gb

### Current Behaviour?

[code]

### Stand

[2022-08-01 19:21] perestoronin commented on #1772
Fixed non-stanard location ld.lld in gpu_backend_lib.cc and build succesful. Closed issue.

[2022-08-01 19:21] #1772 closed, assigned to nobody

[2022-08-07 19:04] Mushoz opened #1779 ""ROCm Fusion is enabled" appears all the time in the terminal when predicting/training a model"
This issue is a duplicate of https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1141 , but that one was closed with no resolution. Is there any way to disable this spam? It's making it very difficult to quickly go over the log to see what's happening.

[2022-08-28 21:56] Taris9047 opened #1800 ""hipErrorNoBinaryForGpu: Unable to find code object for all current devices!""
### Issue Type

Bug

### Source

binary

### Tensorflow Version

2.9.1

### Custom Code

No

### OS Platform and Distribution

Linux, Pop! OS 22.04

### Mobile device

_No response_

### Python version

3.10

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

6700 RX, 12 G

### Current Behaviour?

[code]

###

[2022-10-01 08:30] tedliosu commented on #1591
Ok after doing some programming which refreshed my knowledge of how executables look for missing files on Linux in general, I discovered a pretty hacky work-around for this issue at hand:

[code]
So the tensorflow rocm build is simply NOT looking in the correct directory for the bitcode files, which are under the `/opt/rocm/amdgcn` directory...  Still not sure what kind of patches are needed in th

[2022-10-04 22:08] ndeepesh opened #1869 "Does tensorflow ROCm support Tensorflow Serving?"
### Issue Type

Others

### Source

source

### Tensorflow Version

tf 2.4

### Custom Code

No

### OS Platform and Distribution

Linux

### Mobile device

_No response_

### Python version

3.8

### Bazel version

_No response_

### GCC/Compiler version

_No response_

### CUDA/cuDNN version

_No response_

### GPU model and memory

_No response_

### Current Behaviour?

[code]

### Standalone c

[2022-10-21 17:20] i-chaochen commented on #1779
Have you tried to add this into your code?

[code]

Basically, you can control the INFO, WARNING and ERROR message by yourself.
https://stackoverflow.com/questions/35869137/avoid-tensorflow-print-on-standard-error

0 = all messages are logged (default behavior)
1 = INFO messages are not printed
2 = INFO and WARNING messages are not printed
3 = INFO, WARNING, and ERROR messages are not printed

[2022-10-21 17:41] jayfurmanek commented on #1869
It does work, but currently you have to build it yourself.
I've created a dockerfile that will do that if you are interested:

https://github.com/jayfurmanek/serving/tree/rocm53

[2022-10-21 17:43] i-chaochen commented on #1657
https://github.com/ROCmSoftwarePlatform/tensorflow-upstream/issues/1869

[2022-10-21 17:43] #1657 closed, assigned to nobody

[2022-10-27 19:55] tedliosu opened #1899 "rocWMMA support?"
### Issue Type

Feature Request

### Source

binary

### Tensorflow Version

tf 2.10.0.530

### Custom Code

No

### OS Platform and Distribution

Linux Ubuntu 20.04

### Mobile device

N/A

### Python version

3.8

### Bazel version

N/A

### GCC/Compiler version

N/A

### CUDA/cuDNN version

N/A

### GPU model and memory

N/A

### Current Behaviour?

[code]

### Standalone code to reproduce the

[2022-11-02 00:59] MatPoliquin commented on #1800
Because your GPU is not directly supported but some other cards similar to yours are, you can try to set this before calling your script:
export `HSA_OVERRIDE_GFX_VERSION=10.3.0`

[2022-11-15 13:35] bilal-umar commented on #1469
@neqkir @reyhaneh-92 i am facing same issue, please update here if you were able to solve

[2022-11-18 19:04] mdtalibahmad commented on #1469
I am also facing the same issue. Moreover, the same code was working with TensorFlow 2.4 and throwing this after I upgraded TensorFlow to 2.10.